#include "Pods/Target Support Files/Pods-AGBDeliveries/Pods-AGBDeliveries.release.xcconfig"


PROJECT_BUNDLE_ID = com.AGBDeliveries.Dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 3
PROJECT_APP_NAME =AGB Deliveries Dispatch
PROJECT_PLIST =AGBDeliveriesInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
