#include "Pods/Target Support Files/Pods-available_pods-Solace/Pods-available_pods-Solace.release.xcconfig"

PROJECT_BUNDLE_ID = com.solace.royodispatcher
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME = Solace Driver
PROJECT_PLIST = SolaceInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease

