<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>839490683351-daoogb38lde7q8p4v6d2061udugghva7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.839490683351-daoogb38lde7q8p4v6d2061udugghva7</string>
	<key>API_KEY</key>
	<string>AIzaSyCHXTfJr3UrJniVfQTp-C6FLxAB5qH1vx8</string>
	<key>GCM_SENDER_ID</key>
	<string>839490683351</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Snabbhem.Dispatch</string>
	<key>PROJECT_ID</key>
	<string>snabbhem-d76d0</string>
	<key>STORAGE_BUCKET</key>
	<string>snabbhem-d76d0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:839490683351:ios:9463fac19af987380a8b92</string>
</dict>
</plist>