#include "Pods/Target Support Files/Pods-available_pods-Snabbhem/Pods-available_pods-Snabbhem.release.xcconfig"

PROJECT_BUNDLE_ID = com.Snabbhem.Dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =Snabbhem Dispatch
PROJECT_PLIST =SnabbhemInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
