<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>554079143123-s3qb05osa0gfi618kj7hhsihrjtdnsik.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.554079143123-s3qb05osa0gfi618kj7hhsihrjtdnsik</string>
	<key>API_KEY</key>
	<string>AIzaSyDepJMvAGv7SumLhW0K_EQDgrldYDw8Ie0</string>
	<key>GCM_SENDER_ID</key>
	<string>554079143123</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Menus.Dispatcher</string>
	<key>PROJECT_ID</key>
	<string>menus-dispatch</string>
	<key>STORAGE_BUCKET</key>
	<string>menus-dispatch.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:554079143123:ios:431e3dd9f11bf5c101c026</string>
</dict>
</plist>