<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>933134277912-q6hdr3n8t9ie64h4b9kanp1km5uds211.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.933134277912-q6hdr3n8t9ie64h4b9kanp1km5uds211</string>
	<key>API_KEY</key>
	<string>AIzaSyD8P0M4NRvW5joM1U5zUpMCKZ0D9Af3_HM</string>
	<key>GCM_SENDER_ID</key>
	<string>933134277912</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nuvoni.dispatcher</string>
	<key>PROJECT_ID</key>
	<string>nuvoni-dispatcher</string>
	<key>STORAGE_BUCKET</key>
	<string>nuvoni-dispatcher.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:933134277912:ios:e9921ddec7fa5543f2126d</string>
</dict>
</plist>