#include "Pods/Target Support Files/Pods-available_pods-Nuvoni/Pods-available_pods-Nuvoni.release.xcconfig"


PROJECT_BUNDLE_ID = com.nuvoni.royodispatcher
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =Nuvoni Dispatcher
PROJECT_PLIST =NuvoniInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
