<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>95701330449-9jb0rsc7rlhhh54ges36p8k73pvqggab.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.95701330449-9jb0rsc7rlhhh54ges36p8k73pvqggab</string>
	<key>API_KEY</key>
	<string>AIzaSyCqBmhqep2JLS_u8GI1PfdcyL7JX5URiDk</string>
	<key>GCM_SENDER_ID</key>
	<string>95701330449</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.SwatiRx.Dispatch</string>
	<key>PROJECT_ID</key>
	<string>swatirx-dispatch</string>
	<key>STORAGE_BUCKET</key>
	<string>swatirx-dispatch.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:95701330449:ios:73b10e489e9ca654859fb0</string>
</dict>
</plist>