#include "Pods/Target Support Files/Pods-available_pods-SwatiRx/Pods-available_pods-SwatiRx.debug.xcconfig"


PROJECT_BUNDLE_ID = com.SwatiRx.Dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 4
PROJECT_APP_NAME =SwatiRx Dispatcher
PROJECT_PLIST =SwatiRxInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
