<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>53222162681-5qtfqa7c4nrrpavgkbomduo9soa8c58g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.53222162681-5qtfqa7c4nrrpavgkbomduo9soa8c58g</string>
	<key>API_KEY</key>
	<string>AIzaSyDlwnISy1QzTYn4AsKyhNz7LIu2dwe1bno</string>
	<key>GCM_SENDER_ID</key>
	<string>53222162681</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.parcel.royodispatcher</string>
	<key>PROJECT_ID</key>
	<string>parcel-dispatcher</string>
	<key>STORAGE_BUCKET</key>
	<string>parcel-dispatcher.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:53222162681:ios:bae20bfa921c2bd5c92228</string>
</dict>
</plist>