#include "Pods/Target Support Files/Pods-available_pods-Parcel/Pods-available_pods-Parcel.release.xcconfig"


PROJECT_BUNDLE_ID = com.parcel.royodispatcher
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =Parcel Dispatcher
PROJECT_PLIST =ParcelInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
