
#include "Pods/Target Support Files/Pods-available_pods-GetItSent/Pods-available_pods-GetItSent.release.xcconfig"


PROJECT_BUNDLE_ID = com.getItSent.dispatcher
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =Get It Sent Dispatcher
PROJECT_PLIST =GetItSentInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
