<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>310889027683-l5fm1dj94p2vpgcedlpi3086ov7vbaov.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.310889027683-l5fm1dj94p2vpgcedlpi3086ov7vbaov</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>310889027683-eh16gm0idd5ur1q784ltt2o04e47m6pm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAerw98Fth3qwpxK2wQ867kumxjKjNo1LI</string>
	<key>GCM_SENDER_ID</key>
	<string>310889027683</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.reedas.royodispatcher</string>
	<key>PROJECT_ID</key>
	<string>reedas-driver</string>
	<key>STORAGE_BUCKET</key>
	<string>reedas-driver.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:310889027683:ios:2830e92615a715f0bc8056</string>
</dict>
</plist>