#include "Pods/Target Support Files/Pods-available_pods-Reedas/Pods-available_pods-Reedas.debug.xcconfig"

PROJECT_BUNDLE_ID = com.reedas.royodispatcher
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =  Reedas Dispatcher
PROJECT_PLIST = ReedasInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease


