#include "Pods/Target Support Files/Pods-available_pods-InstaShop/Pods-available_pods-InstaShop.release.xcconfig"


PROJECT_BUNDLE_ID = com.InstaShop.Dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 2
PROJECT_APP_NAME =InstaShop
PROJECT_PLIST =InstaShopInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
