<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>52322568374-q42h1r4jg5h87ai90t5brq5vikbjmh8t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.52322568374-q42h1r4jg5h87ai90t5brq5vikbjmh8t</string>
	<key>API_KEY</key>
	<string>AIzaSyBn-TwAc7qvLDsQ1hv9znZc1rXLhiKl_YE</string>
	<key>GCM_SENDER_ID</key>
	<string>52322568374</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kurs.Dispatch</string>
	<key>PROJECT_ID</key>
	<string>kurs-dispatcher</string>
	<key>STORAGE_BUCKET</key>
	<string>kurs-dispatcher.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:52322568374:ios:cfa1c8ba7e9a0adf43fe17</string>
</dict>
</plist>