#include "Pods/Target Support Files/Pods-available_pods-Blink/Pods-available_pods-Blink.release.xcconfig"

PROJECT_BUNDLE_ID = com.blink.dispatcher
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =  Blink Dispatcher
PROJECT_PLIST = BlinkInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
