#include "Pods/Target Support Files/Pods-available_pods-CannabisClubSF/Pods-available_pods-CannabisClubSF.release.xcconfig"


PROJECT_BUNDLE_ID = com.CannabisClubSF.Dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =CannabisClubSF Dispatcher
PROJECT_PLIST =CannabisClubSFInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
