<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>517881804588-0df0o47259oq09h5t4og4nbdjqqnfmd6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.517881804588-0df0o47259oq09h5t4og4nbdjqqnfmd6</string>
	<key>API_KEY</key>
	<string>AIzaSyBsqWEO_wi_2keGz_riO5SGBHjvHPdwBRk</string>
	<key>GCM_SENDER_ID</key>
	<string>517881804588</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.instaFits.driver</string>
	<key>PROJECT_ID</key>
	<string>instafits-driver</string>
	<key>STORAGE_BUCKET</key>
	<string>instafits-driver.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:517881804588:ios:236601a34e7635fdc9de89</string>
</dict>
</plist>