#include "Pods/Target Support Files/Pods-available_pods-InstaFits/Pods-available_pods-InstaFits.debug.xcconfig"

PROJECT_BUNDLE_ID = com.instaFits.driver
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 2
PROJECT_APP_NAME =  INSTA-FITS Dispatcher
PROJECT_PLIST = InstaFitsInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
