#include "Pods/Target Support Files/Pods-available_pods-BharatMove/Pods-available_pods-BharatMove.debug.xcconfig"


PROJECT_BUNDLE_ID = com.BharatMove.Dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 2
PROJECT_APP_NAME =BharatMove Dispatch
PROJECT_PLIST =BharatMoveInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
