<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1039766234927-9qig9ade7sui3guu7d0n892f5mh4e6mv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1039766234927-9qig9ade7sui3guu7d0n892f5mh4e6mv</string>
	<key>API_KEY</key>
	<string>AIzaSyAyJ2qYSDTrTZUQQgEr_nLhL7woOmZjZk4</string>
	<key>GCM_SENDER_ID</key>
	<string>1039766234927</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stafood.driverapplication</string>
	<key>PROJECT_ID</key>
	<string>sta-food-driver</string>
	<key>STORAGE_BUCKET</key>
	<string>sta-food-driver.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1039766234927:ios:ee6a0ca0bed9c5334fa3da</string>
</dict>
</plist>