#include "Pods/Target Support Files/Pods-available_pods-STAFood/Pods-available_pods-STAFood.release.xcconfig"

PROJECT_BUNDLE_ID = com.staFood.driver
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =  STA Food Dispatcher
PROJECT_PLIST = STAFoodInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
