<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>802906861599-df0dqqpffm5btkquh5ontn7s4u24lq8e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.802906861599-df0dqqpffm5btkquh5ontn7s4u24lq8e</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>802906861599-6t9uk5vj3n65efn99jv67c9g0ilock20.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDd3vxphI-_jGQMMqAVnuIgh05NkugO-wo</string>
	<key>GCM_SENDER_ID</key>
	<string>802906861599</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DingDonggDelivers.Driver</string>
	<key>PROJECT_ID</key>
	<string>dingdonggdelivers-driver</string>
	<key>STORAGE_BUCKET</key>
	<string>dingdonggdelivers-driver.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:802906861599:ios:db6780cbfb176262d5652a</string>
</dict>
</plist>