#include "Pods/Target Support Files/Pods-SeaChangeVending/Pods-SeaChangeVending.debug.xcconfig"


PROJECT_BUNDLE_ID = com.seaChangeVending.royodispatcher
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =SeaChangeVending Dispatch
PROJECT_PLIST = SeaChangeVendingInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease





