#include "Pods/Target Support Files/Pods-available_pods-Petverse/Pods-available_pods-Petverse.debug.xcconfig"


PROJECT_BUNDLE_ID = com.petverse.royodispatcher
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =Petverse Driver
PROJECT_PLIST =PetverseInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
