<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>284563304888-dub0ddv675b1heq3sdjddsesot5d0i0k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.284563304888-dub0ddv675b1heq3sdjddsesot5d0i0k</string>
	<key>API_KEY</key>
	<string>AIzaSyD-fTmIu3q0c6QPRhAk4oYkS9JjtnTXvro</string>
	<key>GCM_SENDER_ID</key>
	<string>284563304888</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zyno.royodispatcher</string>
	<key>PROJECT_ID</key>
	<string>zyno-driver</string>
	<key>STORAGE_BUCKET</key>
	<string>zyno-driver.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:284563304888:ios:b3a9dfc76239e008e75f4d</string>
</dict>
</plist>