
#include "Pods/Target Support Files/Pods-available_pods-AmericanLuxury/Pods-available_pods-AmericanLuxury.release.xcconfig"


PROJECT_BUNDLE_ID = com.americanLuxury.driver
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =American Luxury Services Dispatcher
PROJECT_PLIST =AmericanLuxuryInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
