#include "Pods/Target Support Files/Pods-Ordercheckout/Pods-Ordercheckout.debug.xcconfig"


PROJECT_BUNDLE_ID = com.orderchekoutIosApp.driver
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =OrderChekout Dispatch
PROJECT_PLIST = OrdercheckoutInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
