#include "Pods/Target Support Files/Pods-Ordercheckout/Pods-Ordercheckout.release.xcconfig"


PROJECT_BUNDLE_ID = com.orderchekoutIosApp.driver
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 4
PROJECT_APP_NAME =Checkmate Driver
PROJECT_PLIST = OrdercheckoutInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
