#include "Pods/Target Support Files/Pods-available_pods-Ordercheckout/Pods-available_pods-Ordercheckout.debug.xcconfig"


PROJECT_BUNDLE_ID = com.orderchekoutIosApp.driver
PROJECT_APP_VERSION = 2.0
PROJECT_BUILD_NUMBER = 6
PROJECT_APP_NAME =Checkmate Driver
PROJECT_PLIST = OrdercheckoutInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
