#include "Pods/Target Support Files/Pods-Ordercheckout/Pods-Ordercheckout.release.xcconfig"


PROJECT_BUNDLE_ID = com.checkout.royodispatcher
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 2
PROJECT_APP_NAME =OrderCheckout Dispatch
PROJECT_PLIST = OrdercheckoutInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
