#include "Pods/Target Support Files/Pods-Ordercheckout/Pods-Ordercheckout.release.xcconfig"


PROJECT_BUNDLE_ID = com.orderchekout.driver.ios
PROJECT_APP_VERSION = 2.0
PROJECT_BUILD_NUMBER = 2
PROJECT_APP_NAME =OrderChekout Driver
PROJECT_PLIST = OrdercheckoutInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
