#include "Pods/Target Support Files/Pods-Ordercheckout/Pods-Ordercheckout.debug.xcconfig"


PROJECT_BUNDLE_ID = com.orderchekout.driver.ios
PROJECT_APP_VERSION = 2.0
PROJECT_BUILD_NUMBER = 3
PROJECT_APP_NAME =OrderChekout Dispatch
PROJECT_PLIST = OrdercheckoutInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
