<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1068079996441-6bu984cqhbiek64c2e74liesk43dr1km.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1068079996441-6bu984cqhbiek64c2e74liesk43dr1km</string>
	<key>API_KEY</key>
	<string>AIzaSyAzJPyp8MPd4w1UpXj2E74KsUGBonKRXkE</string>
	<key>GCM_SENDER_ID</key>
	<string>1068079996441</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.myFarma.driver</string>
	<key>PROJECT_ID</key>
	<string>myfarma-dispatch</string>
	<key>STORAGE_BUCKET</key>
	<string>myfarma-dispatch.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1068079996441:ios:eb97772c962318e2c89488</string>
</dict>
</plist>