<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>315766884601-5rlqdo6gaa930qnhlppgdh3l8s68e7rq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.315766884601-5rlqdo6gaa930qnhlppgdh3l8s68e7rq</string>
	<key>API_KEY</key>
	<string>AIzaSyDWjmLhYxS7RYjrKHpZqV_BnVIW9SEM9fo</string>
	<key>GCM_SENDER_ID</key>
	<string>315766884601</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.meow.Dispatch</string>
	<key>PROJECT_ID</key>
	<string>meow-dispatcher</string>
	<key>STORAGE_BUCKET</key>
	<string>meow-dispatcher.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:315766884601:ios:5a880654893c4da5657a28</string>
</dict>
</plist>