
#include "Pods/Target Support Files/Pods-available_pods-YallaEat/Pods-available_pods-YallaEat.debug.xcconfig"


PROJECT_BUNDLE_ID = com.yallaEat.dispatcher
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =Yalla Eat Dispatcher
PROJECT_PLIST =YallaEatInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
