#include "Pods/Target Support Files/Pods-available_pods-Mozmarcas/Pods-available_pods-Mozmarcas.debug.xcconfig"


PROJECT_BUNDLE_ID = com.Mozmarcas.Dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 2
PROJECT_APP_NAME =Pakela Driver
PROJECT_PLIST =MozmarcasInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
