#include "Pods/Target Support Files/Pods-available_pods-Glamguide/Pods-available_pods-Glamguide.release.xcconfig"

PROJECT_BUNDLE_ID =  com.glamguide.royodispatcher
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME = Glamguide Driver
PROJECT_PLIST = GlamguideInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease

