<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>706386795541-0ulolveca2r7evivne9e4r6ipg81cqr5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.706386795541-0ulolveca2r7evivne9e4r6ipg81cqr5</string>
	<key>API_KEY</key>
	<string>AIzaSyBt62WyoJRBqaoEdgjgHXoLb2UdH7C-qgY</string>
	<key>GCM_SENDER_ID</key>
	<string>706386795541</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Ritenow.Driver</string>
	<key>PROJECT_ID</key>
	<string>ritenow-driver</string>
	<key>STORAGE_BUCKET</key>
	<string>ritenow-driver.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:706386795541:ios:b5a7c4f875373de039021c</string>
</dict>
</plist>