#include "Pods/Target Support Files/Pods-available_pods-RiteNow/Pods-available_pods-RiteNow.debug.xcconfig"


PROJECT_BUNDLE_ID = com.Ritenow.Driver
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =RiteNow Driver
PROJECT_PLIST =RiteNowInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease


