#include "Pods/Target Support Files/Pods-available_pods-AfricanVillageMarket/Pods-available_pods-AfricanVillageMarket.debug.xcconfig"

PROJECT_BUNDLE_ID = com.AfricanVillageMarketApp.Dispatch
PROJECT_APP_VERSION = 1.1
PROJECT_BUILD_NUMBER = 2
PROJECT_APP_NAME = AfricanVillageMarket Driver
PROJECT_PLIST = AfricanVillageMarketInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
