#include "Pods/Target Support Files/Pods-AfricanVillageMarket/Pods-AfricanVillageMarket.release.xcconfig"

PROJECT_BUNDLE_ID = com.AfricanVillageMarketApp.Dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME = AfricanVillageMarket Driver
PROJECT_PLIST = AfricanVillageMarketInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
