#include "Pods/Target Support Files/Pods-AfricanVillageMarket/Pods-AfricanVillageMarket.debug.xcconfig"

PROJECT_BUNDLE_ID = com.AfricanVillageMarket.Dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 2
PROJECT_APP_NAME = AfricanVillageMarket Dispatch
PROJECT_PLIST = AfricanVillageMarketInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
