#include "Pods/Target Support Files/Pods-available_pods-Africanize/Pods-available_pods-Africanize.debug.xcconfig"

PROJECT_BUNDLE_ID = com.Dispatch.AfricanizeApp.ios
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 4
PROJECT_APP_NAME =Africanize Deliveries
PROJECT_PLIST = AfricanizeInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease

