#include "Pods/Target Support Files/Pods-available_pods-Africanize/Pods-available_pods-Africanize.release.xcconfig"

PROJECT_BUNDLE_ID = com.Dispatch.AfricanizeApp.ios
PROJECT_APP_VERSION = 1.1
PROJECT_BUILD_NUMBER = 2
PROJECT_APP_NAME =Africanize Deliveries
PROJECT_PLIST = AfricanizeInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
