#include "Pods/Target Support Files/Pods-available_pods-Releezer/Pods-available_pods-Releezer.debug.xcconfig"


PROJECT_BUNDLE_ID = com.Releezer.Dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 2
PROJECT_APP_NAME =Releezer Dispatch
PROJECT_PLIST =ReleezerInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
