<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>20680576623-a2qj9ulcd5tghj7f5l4fm41b2r2o1gee.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.20680576623-a2qj9ulcd5tghj7f5l4fm41b2r2o1gee</string>
	<key>API_KEY</key>
	<string>AIzaSyBeAdG_46YGWMx-hFduNAtllfKd7g8S2Ms</string>
	<key>GCM_SENDER_ID</key>
	<string>20680576623</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nrsa.dispatch</string>
	<key>PROJECT_ID</key>
	<string>nrsa-21052</string>
	<key>STORAGE_BUCKET</key>
	<string>nrsa-21052.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:20680576623:ios:69403759c0a41df1b8c79a</string>
</dict>
</plist>