#include "Pods/Target Support Files/Pods-available_pods-MrHealth/Pods-available_pods-MrHealth.release.xcconfig"


PROJECT_BUNDLE_ID = com.MrHealth.Dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =MrHealth Dispatcher
PROJECT_PLIST =MrHealthInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
