#include "Pods/Target Support Files/Pods-available_pods-Quicklube/Pods-available_pods-Quicklube.release.xcconfig"


PROJECT_BUNDLE_ID = com.quicklube.Dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 3
PROJECT_APP_NAME =Quicklube Dispatcher
PROJECT_PLIST =QuicklubeInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
