#include "Pods/Target Support Files/Pods-available_pods-BigBayong/Pods-available_pods-BigBayong.release.xcconfig"

PROJECT_BUNDLE_ID =  com.royodispatcher.bigbayong
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME = BigBayong Driver
PROJECT_PLIST = BigBayongInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease

