<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>26912396259-69a57qg48fha42kvsfmeavj9ta5bjp6e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.26912396259-69a57qg48fha42kvsfmeavj9ta5bjp6e</string>
	<key>API_KEY</key>
	<string>AIzaSyD8LnNl7SZXuMPc1yeNAF7x4DQQ5OVn3iI</string>
	<key>GCM_SENDER_ID</key>
	<string>26912396259</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bakaramoh.driver</string>
	<key>PROJECT_ID</key>
	<string>bakaramoh-driver</string>
	<key>STORAGE_BUCKET</key>
	<string>bakaramoh-driver.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:26912396259:ios:e91ccc2bea67b5f87e06d6</string>
</dict>
</plist>