<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1014384906032-9k89ig1u5cqfkdm1qbpnve6u2koo9cgj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1014384906032-9k89ig1u5cqfkdm1qbpnve6u2koo9cgj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1014384906032-5ur7vn9mcjn28m9kh1ah32bg58o7p39m.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCchVoAQxAGiuIAQ-hqB9VMS0eDLT-S7Qs</string>
	<key>GCM_SENDER_ID</key>
	<string>1014384906032</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Easyu.Dispatcher</string>
	<key>PROJECT_ID</key>
	<string>easyu-f06a6</string>
	<key>STORAGE_BUCKET</key>
	<string>easyu-f06a6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1014384906032:ios:ca9b5dfbea283704f302f5</string>
</dict>
</plist>