#include "Pods/Target Support Files/Pods-available_pods-Kaypee/Pods-available_pods-Kaypee.release.xcconfig"


PROJECT_BUNDLE_ID =com.kaypee.driverapp
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 2
PROJECT_APP_NAME =Kaypee Driver
PROJECT_PLIST =KaypeeInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
