#include "Pods/Target Support Files/Pods-available_pods-Jana/Pods-available_pods-Jana.release.xcconfig"


PROJECT_BUNDLE_ID = com.jana.royodispatcher
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =Jana Dispatcher
PROJECT_PLIST =JanaInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease

