#include "Pods/Target Support Files/Pods-available_pods-MyRide/Pods-available_pods-MyRide.release.xcconfig"


PROJECT_BUNDLE_ID = com.MyRide.Dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =MyRide Dispatcher
PROJECT_PLIST =MyRideInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
