<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>723031447801-01np2j5pj874msi2csj67hc0e5sj5pke.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.723031447801-01np2j5pj874msi2csj67hc0e5sj5pke</string>
	<key>API_KEY</key>
	<string>AIzaSyCcPfY3DTK5bn48wDzxMOzA9Z5YSJTbJ4A</string>
	<key>GCM_SENDER_ID</key>
	<string>723031447801</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.housingSubsidies.royodispatcher</string>
	<key>PROJECT_ID</key>
	<string>housing-subsidies-driver</string>
	<key>STORAGE_BUCKET</key>
	<string>housing-subsidies-driver.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:723031447801:ios:5b92cb31b64435b10b2a28</string>
</dict>
</plist>