#include "Pods/Target Support Files/Pods-available_pods-Kwivar/Pods-available_pods-Kwivar.debug.xcconfig"


PROJECT_BUNDLE_ID = com.kwivar.royodispatcher
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =Kwivar Dispatcher
PROJECT_PLIST =KwivarInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
