<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>561382496937-8h3n6sehufavgno8flgo6njskjicll9b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.561382496937-8h3n6sehufavgno8flgo6njskjicll9b</string>
	<key>API_KEY</key>
	<string>AIzaSyBoD-zh_21_kbf1_7dc5J_ITQaIba5fWJI</string>
	<key>GCM_SENDER_ID</key>
	<string>561382496937</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Launch.Dispatch</string>
	<key>PROJECT_ID</key>
	<string>royodispatcher5</string>
	<key>STORAGE_BUCKET</key>
	<string>royodispatcher5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:561382496937:ios:f4a4129fe4fa95e5e167b8</string>
</dict>
</plist>