<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>910150712531-q4mcrbr4gs82nuc3tea8u80fhovs7qqb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.910150712531-q4mcrbr4gs82nuc3tea8u80fhovs7qqb</string>
	<key>API_KEY</key>
	<string>AIzaSyBlvLZPm4JYraPoT5Pm6dFQOC1jcuIKMLo</string>
	<key>GCM_SENDER_ID</key>
	<string>910150712531</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.udkaydispatcher</string>
	<key>PROJECT_ID</key>
	<string>udkay-driver-69894</string>
	<key>STORAGE_BUCKET</key>
	<string>udkay-driver-69894.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:910150712531:ios:ec7c7ebc9eac86ff4fe826</string>
</dict>
</plist>