
#include "Pods/Target Support Files/Pods-available_pods-Udkay/Pods-available_pods-Udkay.debug.xcconfig"

PROJECT_BUNDLE_ID = com.udkay.royodispatcher
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME = Udkay Driver
PROJECT_PLIST = UdkayInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease

