#include "Pods/Target Support Files/Pods-available_pods-OnTheGo/Pods-available_pods-OnTheGo.debug.xcconfig"


PROJECT_BUNDLE_ID = com.OnTheGo.Dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =OnTheGo Dispatcher
PROJECT_PLIST =OnTheGoInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
