#include "Pods/Target Support Files/Pods-available_pods-TaQuick/Pods-available_pods-TaQuick.release.xcconfig"

PROJECT_BUNDLE_ID = com.SirVU.Dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 10
PROJECT_APP_NAME =SirVU Service Provider
PROJECT_PLIST =SirVUInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
