#include "Pods/Target Support Files/Pods-available_pods-KongaFood/Pods-available_pods-KongaFood.release.xcconfig"


PROJECT_BUNDLE_ID = com.KongaFood.Dispatcher
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 2
PROJECT_APP_NAME =konga Food Rider
PROJECT_PLIST =KongaFoodInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
