<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>29732382955-lcah3abb9ams7gn3urng7iirltmofc0t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.29732382955-lcah3abb9ams7gn3urng7iirltmofc0t</string>
	<key>API_KEY</key>
	<string>AIzaSyAJu-0XxpckGQqkFNEple8_Q4r8hue1QYw</string>
	<key>GCM_SENDER_ID</key>
	<string>29732382955</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aredoo.royodispatcher</string>
	<key>PROJECT_ID</key>
	<string>aredoo-dispatcher</string>
	<key>STORAGE_BUCKET</key>
	<string>aredoo-dispatcher.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:29732382955:ios:7cf56366372f11a6dcf6ae</string>
</dict>
</plist>