<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>347509297159-4abm5o8bhkrdrmoq6cla89elugoqv00f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.347509297159-4abm5o8bhkrdrmoq6cla89elugoqv00f</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>347509297159-6rgql2so7gbf8eivg9h9517qv0hqafd6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCAHzX9QQbzGCw-HFkV72A-U6QOCJXY6o0</string>
	<key>GCM_SENDER_ID</key>
	<string>347509297159</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.Codiner.Dispatch</string>
	<key>PROJECT_ID</key>
	<string>e-observer-307209</string>
	<key>STORAGE_BUCKET</key>
	<string>e-observer-307209.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:347509297159:ios:ce4cca4df6bf93ed269aa2</string>
</dict>
</plist>