#include "Pods/Target Support Files/Pods-available_pods-OnTheWheel/Pods-available_pods-OnTheWheel.release.xcconfig"


PROJECT_BUNDLE_ID = com.onthewheel.royodispatcher
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 2
PROJECT_APP_NAME =OnTheWheel Dispatcher
PROJECT_PLIST =OnTheWheelInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease

