<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>927107036902-l99sm6fjlnf7blbc280p43skb7n7ti02.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.927107036902-l99sm6fjlnf7blbc280p43skb7n7ti02</string>
	<key>API_KEY</key>
	<string>AIzaSyA7Zq3Pb6HfcjUvAdypgNuyPEe0HwI4IoM</string>
	<key>GCM_SENDER_ID</key>
	<string>927107036902</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.otgWeeds.royodispatcher</string>
	<key>PROJECT_ID</key>
	<string>otg-weeds-driver</string>
	<key>STORAGE_BUCKET</key>
	<string>otg-weeds-driver.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:927107036902:ios:de9a9523400ca02604ad27</string>
</dict>
</plist>