#include "Pods/Target Support Files/Pods-available_pods-OtgWeeds/Pods-available_pods-OtgWeeds.debug.xcconfig"

PROJECT_BUNDLE_ID =  com.otgWeeds.royodispatcher
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 2
PROJECT_APP_NAME = Otg Weeds Driver
PROJECT_PLIST = OtgWeedsInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease

