<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>715471948337-r0kra2udjbfvihbidjgbn5uskmitjlj3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.715471948337-r0kra2udjbfvihbidjgbn5uskmitjlj3</string>
	<key>API_KEY</key>
	<string>AIzaSyAFm7kyhrjvp_wiI2okKWxNpPaYp_L2q28</string>
	<key>GCM_SENDER_ID</key>
	<string>715471948337</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jds.driver</string>
	<key>PROJECT_ID</key>
	<string>jds-driver</string>
	<key>STORAGE_BUCKET</key>
	<string>jds-driver.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:715471948337:ios:b818ac79774283d494e310</string>
</dict>
</plist>