#include "Pods/Target Support Files/Pods-available_pods-GamaDelivery/Pods-available_pods-GamaDelivery.debug.xcconfig"


PROJECT_BUNDLE_ID = com.GamaDelivery.Dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =GamaDelivery Dispatcher
PROJECT_PLIST =GamaDeliveryInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
