#include "Pods/Target Support Files/Pods-available_pods-Delvento/Pods-available_pods-Delvento.debug.xcconfig"

PROJECT_BUNDLE_ID = com.Delvento.Dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 3
PROJECT_APP_NAME =Delvento Dispatch
PROJECT_PLIST =DelventoInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
