#include "Pods/Target Support Files/Pods-available_pods-Emart/Pods-available_pods-Emart.release.xcconfig"

PROJECT_BUNDLE_ID = com.emart.dispatcher
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =  Emart Dispatcher
PROJECT_PLIST = EmartInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease


