<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>448553086625-uijbhnijidm78to76n2tk3p2r53rvrlo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.448553086625-uijbhnijidm78to76n2tk3p2r53rvrlo</string>
	<key>API_KEY</key>
	<string>AIzaSyDenJLtf06BupmCz9F5UQZr3uczo8KVeKU</string>
	<key>GCM_SENDER_ID</key>
	<string>448553086625</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.emart.dispatcher</string>
	<key>PROJECT_ID</key>
	<string>emart-driver</string>
	<key>STORAGE_BUCKET</key>
	<string>emart-driver.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:448553086625:ios:9a5a3e0ed620ff498b8ae0</string>
</dict>
</plist>