#include "Pods/Target Support Files/Pods-available_pods-JazzyBug/Pods-available_pods-JazzyBug.debug.xcconfig"


PROJECT_BUNDLE_ID = com.jazzyBugDriver
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =JazzyBug Driver
PROJECT_PLIST =JazzyBugInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease




