#include "Pods/Target Support Files/Pods-available_pods-Autobox/Pods-available_pods-Autobox.debug.xcconfig"

PROJECT_BUNDLE_ID = com.autobox.royodriver
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =  Autobox Dispatcher
PROJECT_PLIST = AutoboxInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
