<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>734953318226-d3ncd4arv2sf1j28jsfb1ob7j2f49lm8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.734953318226-d3ncd4arv2sf1j28jsfb1ob7j2f49lm8</string>
	<key>API_KEY</key>
	<string>AIzaSyDYmSXC0N3UMX4lErg9OGVqVDRbIfk0urM</string>
	<key>GCM_SENDER_ID</key>
	<string>734953318226</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shopcart.royodispatcher</string>
	<key>PROJECT_ID</key>
	<string>shopcart-driver</string>
	<key>STORAGE_BUCKET</key>
	<string>shopcart-driver.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:734953318226:ios:a4f092337ea83869ce7c8b</string>
</dict>
</plist>