<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>216542199120-cksirmhehk7vjjmq5lpi5r6c2tn42ksd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.216542199120-cksirmhehk7vjjmq5lpi5r6c2tn42ksd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>216542199120-40dq3f5uvo67gcd6d692n1tujoqrhso2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyANFzsj99BKGs61T6meWieTRWR8EEbZkFY</string>
	<key>GCM_SENDER_ID</key>
	<string>216542199120</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.superApp.royodispatcher</string>
	<key>PROJECT_ID</key>
	<string>superapp-driver-d7000</string>
	<key>STORAGE_BUCKET</key>
	<string>superapp-driver-d7000.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:216542199120:ios:e3632d47644831f43f8055</string>
</dict>
</plist>