#include "Pods/Target Support Files/Pods-available_pods-SuperApp/Pods-available_pods-SuperApp.release.xcconfig"

PROJECT_BUNDLE_ID = com.superApp.royodispatcher
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME = SuperApp Driver
PROJECT_PLIST = SuperAppInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease


