<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>83780727525-v71jm9ij8r1s1h4pj2m7kpatemmpm5g2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.83780727525-v71jm9ij8r1s1h4pj2m7kpatemmpm5g2</string>
	<key>API_KEY</key>
	<string>AIzaSyCeSpF1w_Cb332HenUun-ryUTatAqzzDqw</string>
	<key>GCM_SENDER_ID</key>
	<string>83780727525</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.messiaa.driver</string>
	<key>PROJECT_ID</key>
	<string>messiaa-driver</string>
	<key>STORAGE_BUCKET</key>
	<string>messiaa-driver.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:83780727525:ios:ccdcb31952abe2cfd6da0c</string>
</dict>
</plist>