<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>802053778143-j9ik2ea33dvhm16ote5a0f3gmvmtuq9t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.802053778143-j9ik2ea33dvhm16ote5a0f3gmvmtuq9t</string>
	<key>API_KEY</key>
	<string>AIzaSyDyr4cFrNfbS9KS-Zgm09vD8Nulzr7mV4I</string>
	<key>GCM_SENDER_ID</key>
	<string>802053778143</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.emiratesHomeNursing.driver</string>
	<key>PROJECT_ID</key>
	<string>emirateshomenursing-c189b</string>
	<key>STORAGE_BUCKET</key>
	<string>emirateshomenursing-c189b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:802053778143:ios:d79f07ebdb5da59605176a</string>
</dict>
</plist>