#include "Pods/Target Support Files/Pods-available_pods-SourcesServices/Pods-available_pods-SourcesServices.release.xcconfig"

PROJECT_BUNDLE_ID = com.SourcesServices.Dispatcher
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 3
PROJECT_APP_NAME =SourcesServices Dispatcher
PROJECT_PLIST =SourcesServicesInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
