
#include "Pods/Target Support Files/Pods-HelpNowRightNow/Pods-HelpNowRightNow.debug.xcconfig"

PROJECT_BUNDLE_ID = com.HelpNowRightNow.Dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 8
PROJECT_APP_NAME =HN!RightNow!
PROJECT_PLIST =HelpNowRightNowInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
