
#include "Pods/Target Support Files/Pods-HelpNowRightNow/Pods-HelpNowRightNow.release.xcconfig"


PROJECT_BUNDLE_ID = com.HelpNowRightNowApp.Dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =HN!RightNow!
PROJECT_PLIST =HelpNowRightNowInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
