#include "Pods/Target Support Files/Pods-available_pods-Trucxi/Pods-available_pods-Trucxi.debug.xcconfig"


PROJECT_BUNDLE_ID = com.Trucxi.Dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 3
PROJECT_APP_NAME =Trucxi Dispatch
PROJECT_PLIST =TrucxiInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease

