<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1032996506759-78gk3uuc23e36kdb9ups6loavvg36dtb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1032996506759-78gk3uuc23e36kdb9ups6loavvg36dtb</string>
	<key>API_KEY</key>
	<string>AIzaSyB70JSvrlGx55Zb4wKpob51esL6gTF64y4</string>
	<key>GCM_SENDER_ID</key>
	<string>1032996506759</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.readyToRent.royodispatcher</string>
	<key>PROJECT_ID</key>
	<string>readytorent-driver</string>
	<key>STORAGE_BUCKET</key>
	<string>readytorent-driver.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1032996506759:ios:894f58d4652a539919fc22</string>
</dict>
</plist>