#include "Pods/Target Support Files/Pods-available_pods-ReadyToRent/Pods-available_pods-ReadyToRent.release.xcconfig"

PROJECT_BUNDLE_ID = com.readyToRent.royodispatcher
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =  Ready to rent Dispatcher
PROJECT_PLIST = ReadyToRentInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease


