<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>485045298164-apajmbarfeiodr7hmg6e09e0h1e1fgb4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.485045298164-apajmbarfeiodr7hmg6e09e0h1e1fgb4</string>
	<key>API_KEY</key>
	<string>AIzaSyAXEnJKe3NZqstXr0cheMd1md_iS18W6vg</string>
	<key>GCM_SENDER_ID</key>
	<string>485045298164</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lincshare.royodispatcher</string>
	<key>PROJECT_ID</key>
	<string>lincshare-driver</string>
	<key>STORAGE_BUCKET</key>
	<string>lincshare-driver.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:485045298164:ios:95375c71e8090b7b408fa1</string>
</dict>
</plist>