#include "Pods/Target Support Files/Pods-available_pods-Lincshare/Pods-available_pods-Lincshare.release.xcconfig"

PROJECT_BUNDLE_ID =  com.lincshare.royodispatcher
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME = Lincshare Driver
PROJECT_PLIST = LincshareInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease

