#include "Pods/Target Support Files/Pods-available_pods-Atasktt/Pods-available_pods-Atasktt.release.xcconfig"


PROJECT_BUNDLE_ID = com.atasktt.Dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 4
PROJECT_APP_NAME =Atasktt Dispatcher
PROJECT_PLIST =AtaskttInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
