<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>199838467307-1oppgsf9hvsgmn1e0iu2iggdb4ihe4eq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.199838467307-1oppgsf9hvsgmn1e0iu2iggdb4ihe4eq</string>
	<key>API_KEY</key>
	<string>AIzaSyDbyNxmWJ1_9qX7rmr9wNosMGs78eTTqU8</string>
	<key>GCM_SENDER_ID</key>
	<string>199838467307</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.atasktt.Dispatch</string>
	<key>PROJECT_ID</key>
	<string>royodispatcher1-85a22</string>
	<key>STORAGE_BUCKET</key>
	<string>royodispatcher1-85a22.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:199838467307:ios:03c6ca2176f69cf36c2aae</string>
</dict>
</plist>