<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>524412721936-kckiohfivjsv8sljc6uhs2ka62g20gj2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.524412721936-kckiohfivjsv8sljc6uhs2ka62g20gj2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>524412721936-abrq9n45qr3o3kg3fmkkkpmffna8dih4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCxhnUy2sPSWnMmBza383KvfqBGh-3ndig</string>
	<key>GCM_SENDER_ID</key>
	<string>524412721936</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.HeyBuddy.Dispatch</string>
	<key>PROJECT_ID</key>
	<string>heybuddy-driver</string>
	<key>STORAGE_BUCKET</key>
	<string>heybuddy-driver.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:524412721936:ios:4d24cfac6a19518fc2a395</string>
</dict>
</plist>