#include "Pods/Target Support Files/Pods-available_pods-Slider/Pods-available_pods-Slider.release.xcconfig"


PROJECT_BUNDLE_ID = com.Slider.Dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =Slider Dispatcher
PROJECT_PLIST =SliderInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
