<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>291171322701-k8sfub76kac26skeufbe93r9vtvki09c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.291171322701-k8sfub76kac26skeufbe93r9vtvki09c</string>
	<key>API_KEY</key>
	<string>AIzaSyAOBbXTJ3ESAiFFSDY3801x1ieJ2GvANP8</string>
	<key>GCM_SENDER_ID</key>
	<string>291171322701</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Exprexpro.dispatcher</string>
	<key>PROJECT_ID</key>
	<string>exprexpro-dispatcher</string>
	<key>STORAGE_BUCKET</key>
	<string>exprexpro-dispatcher.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:291171322701:ios:56393b65daef36d1570504</string>
</dict>
</plist>