#include "Pods/Target Support Files/Pods-MovingWheels/Pods-MovingWheels.debug.xcconfig"


PROJECT_BUNDLE_ID = com.MovingWheels.Dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =Moving Wheels Delivery
PROJECT_PLIST =MovingWheelsInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
