<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>314630832921-dum4o3h3ki5nmrdul0r74llgffqjoscf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.314630832921-dum4o3h3ki5nmrdul0r74llgffqjoscf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>314630832921-fp1n5tepbqo8s4qr2mighkrkabqt2bqo.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA-PZhGmaLizg7q1Xm9_ho0MgPmL0n9__k</string>
	<key>GCM_SENDER_ID</key>
	<string>314630832921</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.CabdelivrApp.Dispatch</string>
	<key>PROJECT_ID</key>
	<string>cabdelivr</string>
	<key>STORAGE_BUCKET</key>
	<string>cabdelivr.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:314630832921:ios:e09f73ed2b0b410c897b88</string>
</dict>
</plist>