<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1096946996956-fjt1dpberqoebn5hb2h6bc7tlv4etftd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1096946996956-fjt1dpberqoebn5hb2h6bc7tlv4etftd</string>
	<key>API_KEY</key>
	<string>AIzaSyDZN_KFAUvb7gxFxnbcqAu5q9IgARLwb7w</string>
	<key>GCM_SENDER_ID</key>
	<string>1096946996956</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shopcentralDriver.royodispatcher</string>
	<key>PROJECT_ID</key>
	<string>shop-central-driver</string>
	<key>STORAGE_BUCKET</key>
	<string>shop-central-driver.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1096946996956:ios:f2e8f1b4bba6c74e898619</string>
</dict>
</plist>