#include "Pods/Target Support Files/Pods-available_pods-FreshFarmz/Pods-available_pods-FreshFarmz.release.xcconfig"

PROJECT_BUNDLE_ID = com.FreshFarmz.Dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 2
PROJECT_APP_NAME =FreshFarmz Dispatch
PROJECT_PLIST =FreshFarmzInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
