#include "Pods/Target Support Files/Pods-available_pods-AirVolt/Pods-available_pods-AirVolt.release.xcconfig"

PROJECT_BUNDLE_ID = com.airvolt.royodispatcher
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME = AirVolt Driver
PROJECT_PLIST = AirVoltInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease


