
#include "Pods/Target Support Files/Pods-available_pods-BaggageTaxi/Pods-available_pods-BaggageTaxi.debug.xcconfig"


PROJECT_BUNDLE_ID = com.baggageTaxi.dispatcher
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =Baggage Taxi Dispatcher
PROJECT_PLIST =BaggageTaxiInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
