<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>179070429773-04lil1sq7sqae498le5o9r8it8ejs1c9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.179070429773-04lil1sq7sqae498le5o9r8it8ejs1c9</string>
	<key>API_KEY</key>
	<string>AIzaSyAxTpEW3yDU7IUEDUHNkyYRe9LT0JHOPlk</string>
	<key>GCM_SENDER_ID</key>
	<string>179070429773</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.baggageTaxi.dispatcher</string>
	<key>PROJECT_ID</key>
	<string>baggage-taxi</string>
	<key>STORAGE_BUCKET</key>
	<string>baggage-taxi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:179070429773:ios:ac35f30c9c008e3dbf4a04</string>
</dict>
</plist>