#include "Pods/Target Support Files/Pods-available_pods-Ace/Pods-available_pods-Ace.debug.xcconfig"


PROJECT_BUNDLE_ID = com.Ace.Dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 21
PROJECT_APP_NAME =Ace Dispatch
PROJECT_PLIST =AceInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
CODE_PUSH_KEY = 9In50ac7d39jIdCIrBe7gig345pUiuGdwzUHC

