<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>503721084942-4qaqa93drcob2dl4up87upvmholqdr3o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.503721084942-4qaqa93drcob2dl4up87upvmholqdr3o</string>
	<key>API_KEY</key>
	<string>AIzaSyAxdWBEEEPjQSH0c1vuxDRXEcQIM7oZv78</string>
	<key>GCM_SENDER_ID</key>
	<string>503721084942</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.taxE.dispatcher</string>
	<key>PROJECT_ID</key>
	<string>tax-e-4d1bc</string>
	<key>STORAGE_BUCKET</key>
	<string>tax-e-4d1bc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:503721084942:ios:a78e8d358c7c6eda50945f</string>
</dict>
</plist>