<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>199173935821-6msnh2r5g1cmckb8g2veh08pdoe6u7fb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.199173935821-6msnh2r5g1cmckb8g2veh08pdoe6u7fb</string>
	<key>API_KEY</key>
	<string>AIzaSyAzO9YJvJxDplpV-dTEqNssm985aNPKPjs</string>
	<key>GCM_SENDER_ID</key>
	<string>199173935821</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mywaybill.royodispatcher</string>
	<key>PROJECT_ID</key>
	<string>mywaybill-dispatcher</string>
	<key>STORAGE_BUCKET</key>
	<string>mywaybill-dispatcher.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:199173935821:ios:be7149779935320ac00f84</string>
</dict>
</plist>