#include "Pods/Target Support Files/Pods-available_pods-MYWAYBILL/Pods-available_pods-MYWAYBILL.debug.xcconfig"


PROJECT_BUNDLE_ID = com.mywaybill.royodispatcher
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 3
PROJECT_APP_NAME =MyWaysRide Driver
PROJECT_PLIST =MyWayBillInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
