<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>321141463013-ja7rmh867dmkrs0hre6fja12uj5ss7es.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.321141463013-ja7rmh867dmkrs0hre6fja12uj5ss7es</string>
	<key>API_KEY</key>
	<string>AIzaSyDxJkmZz1OWsyLl2j7BfuajPX_onrPZt68</string>
	<key>GCM_SENDER_ID</key>
	<string>321141463013</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Skidoo.Dispatch</string>
	<key>PROJECT_ID</key>
	<string>royo-dispatch-2</string>
	<key>STORAGE_BUCKET</key>
	<string>royo-dispatch-2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:321141463013:ios:a9c82f1c8c07f37463810c</string>
</dict>
</plist>