#include "Pods/Target Support Files/Pods-available_pods-Skidoo/Pods-available_pods-Skidoo.release.xcconfig"


PROJECT_BUNDLE_ID = com.Skidoo.Dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =Skidoo Dispatch
PROJECT_PLIST =SkidooInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
