<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>338823817635-m61h01vb9j0o8h6h0cs753gatc98ef39.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.338823817635-m61h01vb9j0o8h6h0cs753gatc98ef39</string>
	<key>API_KEY</key>
	<string>AIzaSyDFTUmKbiXySFrOW6ycqcirgHi8fqNtb4k</string>
	<key>GCM_SENDER_ID</key>
	<string>338823817635</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.LaundroZone.driver</string>
	<key>PROJECT_ID</key>
	<string>laundrozone-driver</string>
	<key>STORAGE_BUCKET</key>
	<string>laundrozone-driver.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:338823817635:ios:f63a3ce3b8242723281216</string>
</dict>
</plist>