#include "Pods/Target Support Files/Pods-available_pods-LaundroZone/Pods-available_pods-LaundroZone.release.xcconfig"


PROJECT_BUNDLE_ID = com.LaundroZone.driverApp
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 6
PROJECT_APP_NAME =LaundroZone Dispatcher
PROJECT_PLIST =LaundroZoneInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
