<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>17112101652-2nh5uh8m6rqn9l8b4rgdepntgvbptf77.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.17112101652-2nh5uh8m6rqn9l8b4rgdepntgvbptf77</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>17112101652-16gicolj9hfqtdvd3dopava5sj7tqsii.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD70h8J_itRFv7WaX0YOBxYl51r3WSBKp8</string>
	<key>GCM_SENDER_ID</key>
	<string>17112101652</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>om.app.HMC.Dispatcher</string>
	<key>PROJECT_ID</key>
	<string>hmc-app-8aeac</string>
	<key>STORAGE_BUCKET</key>
	<string>hmc-app-8aeac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:17112101652:ios:9432f7972a5f0fe6d60801</string>
</dict>
</plist>