#include "Pods/Target Support Files/Pods-available_pods-HMC/Pods-available_pods-HMC.debug.xcconfig"


PROJECT_BUNDLE_ID = com.app.HMC.Dispatcher
PROJECT_APP_VERSION = 1.1
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =HMC Now | Rider app
PROJECT_PLIST =HmcInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease


