#include "Pods/Target Support Files/Pods-available_pods-PatrolNow/Pods-available_pods-PatrolNow.debug.xcconfig"


PROJECT_BUNDLE_ID = com.PatrolNow.Dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =PatrolNow Dispatcher
PROJECT_PLIST =PatrolNowInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
