<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1086499221956-o13pac3kd6fd0uou24kbnph19le4uqt5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1086499221956-o13pac3kd6fd0uou24kbnph19le4uqt5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1086499221956-6dlvgfa9ce9tnfb4u58cu7i5oomsih5c.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC_mic6TOmSK9JehUdz-vy-rVlr-4aw2vQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1086499221956</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Tranznet.Dispatch</string>
	<key>PROJECT_ID</key>
	<string>royo-dispatcher-d43d7</string>
	<key>STORAGE_BUCKET</key>
	<string>royo-dispatcher-d43d7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1086499221956:ios:0d183a7848b2800f183491</string>
</dict>
</plist>