#include "Pods/Target Support Files/Pods-available_pods-Tranznet/Pods-available_pods-Tranznet.debug.xcconfig"

PROJECT_BUNDLE_ID = com.Tranznet.Dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 4
PROJECT_APP_NAME =Tranz.net Dispatcher
PROJECT_PLIST =TranznetInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
