<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>171683092772-sm56fq5ev5hpbj7rsp99e1tj10kt5f83.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.171683092772-sm56fq5ev5hpbj7rsp99e1tj10kt5f83</string>
	<key>API_KEY</key>
	<string>AIzaSyAK1OG6o7ahnhwpZJEwplvQux_2uO_DGfk</string>
	<key>GCM_SENDER_ID</key>
	<string>171683092772</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Ored.Dispatcher</string>
	<key>PROJECT_ID</key>
	<string>ored-dispatch</string>
	<key>STORAGE_BUCKET</key>
	<string>ored-dispatch.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:171683092772:ios:c35c3924eaea096ef07bb1</string>
</dict>
</plist>