#include "Pods/Target Support Files/Pods-available_pods-DingDongEat/Pods-available_pods-DingDongEat.release.xcconfig"


PROJECT_BUNDLE_ID = com.dingDongEat.Dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =DingDongEat Dispatcher
PROJECT_PLIST =DingDongEatInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease




