#include "Pods/Target Support Files/Pods-available_pods-Groupy/Pods-available_pods-Groupy.debug.xcconfig"


PROJECT_BUNDLE_ID = com.Groupy.Dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 2
PROJECT_APP_NAME =Groupy Dispatch
PROJECT_PLIST =GroupyInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease



