<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1020845196491-8o902ftev0qg0kpcscchgbm3m80ie1pc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1020845196491-8o902ftev0qg0kpcscchgbm3m80ie1pc</string>
	<key>API_KEY</key>
	<string>AIzaSyAiXFxT8Y9rAwvu2KFIEoTu3vV-aaRUtQc</string>
	<key>GCM_SENDER_ID</key>
	<string>1020845196491</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.valley.Dispatch</string>
	<key>PROJECT_ID</key>
	<string>valley-dispatch</string>
	<key>STORAGE_BUCKET</key>
	<string>valley-dispatch.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1020845196491:ios:26fce809167bc72e54c74e</string>
</dict>
</plist>