#include "Pods/Target Support Files/Pods-available_pods-Valley/Pods-available_pods-Valley.debug.xcconfig"

PROJECT_BUNDLE_ID = com.valley.Dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =Valley Dispatcher
PROJECT_PLIST =ValleyInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
