#include "Pods/Target Support Files/Pods-available_pods-Localdropoff/Pods-available_pods-Localdropoff.debug.xcconfig"


PROJECT_BUNDLE_ID = com.Localdropoff.Dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =Localdropoff Dispatcher
PROJECT_PLIST =LocaldropoffInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
