#include "Pods/Target Support Files/Pods-available_pods-Sylomart/Pods-available_pods-Sylomart.release.xcconfig"


PROJECT_BUNDLE_ID = com.sylomart.royodispatcher
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =Sylomart Dispatcher
PROJECT_PLIST =SylomartInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
