#include "Pods/Target Support Files/Pods-available_pods-Carlitoo/Pods-available_pods-Carlitoo.release.xcconfig"

PROJECT_BUNDLE_ID = com.Carlitoo.Dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 4
PROJECT_APP_NAME =Carlitoo Dispatch
PROJECT_PLIST =CarlitooInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease

