<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>413401236713-42s5c9bnvpsu7kvpp6inf5a5fkqa95m5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.413401236713-42s5c9bnvpsu7kvpp6inf5a5fkqa95m5</string>
	<key>API_KEY</key>
	<string>AIzaSyByZxVOIzMmo6m_ogtat77D1G_sHnLKcdQ</string>
	<key>GCM_SENDER_ID</key>
	<string>413401236713</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.carlitoo.Dispatch</string>
	<key>PROJECT_ID</key>
	<string>carlitoo-dispatcher</string>
	<key>STORAGE_BUCKET</key>
	<string>carlitoo-dispatcher.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:413401236713:ios:6fd231c8d32ddd5cf09c78</string>
</dict>
</plist>