<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>986812354552-65124iir2hg63lnntpvmnngjj9q220op.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.986812354552-65124iir2hg63lnntpvmnngjj9q220op</string>
	<key>API_KEY</key>
	<string>AIzaSyD7Rz0fR9NEVMTelB5xi9wH5rexrJ6jqhU</string>
	<key>GCM_SENDER_ID</key>
	<string>986812354552</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Xborne.Dispatch</string>
	<key>PROJECT_ID</key>
	<string>xborne-dispatch-1a005</string>
	<key>STORAGE_BUCKET</key>
	<string>xborne-dispatch-1a005.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:986812354552:ios:96fbb4c4cf8aa3bc60500d</string>
</dict>
</plist>