<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>746055065380-rqdcpidhek4s4gcft13na0vrn3p7se6q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.746055065380-rqdcpidhek4s4gcft13na0vrn3p7se6q</string>
	<key>API_KEY</key>
	<string>AIzaSyAk1sLnq-L4dEcaqYTWtYx5U0xMuIjEN9s</string>
	<key>GCM_SENDER_ID</key>
	<string>746055065380</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Xborne.Dispatch</string>
	<key>PROJECT_ID</key>
	<string>xborne-dispatch</string>
	<key>STORAGE_BUCKET</key>
	<string>xborne-dispatch.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:746055065380:ios:f5cddfe528ca330c835db1</string>
</dict>
</plist>