#include "Pods/Target Support Files/Pods-available_pods-Xborne/Pods-available_pods-Xborne.release.xcconfig"


PROJECT_BUNDLE_ID = com.Xborne.dispatcher
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =Xborne Driver
PROJECT_PLIST =XborneInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
