<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>687662500760-o1v4dllh4dj1kseshlgeldpnd7q7oagm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.687662500760-o1v4dllh4dj1kseshlgeldpnd7q7oagm</string>
	<key>API_KEY</key>
	<string>AIzaSyDdUSui5BdwzE4FBc8dLSjFYOBvtU-YB-Q</string>
	<key>GCM_SENDER_ID</key>
	<string>687662500760</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Empire.Dispatcher</string>
	<key>PROJECT_ID</key>
	<string>empire-bc884</string>
	<key>STORAGE_BUCKET</key>
	<string>empire-bc884.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:687662500760:ios:e06e6552a306fb780fb9ed</string>
</dict>
</plist>