#include "Pods/Target Support Files/Pods-available_pods-FazeiTeam/Pods-available_pods-FazeiTeam.debug.xcconfig"


PROJECT_BUNDLE_ID = com.fazei.driverapp
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 7
PROJECT_APP_NAME =FazeiTeam Driver
PROJECT_PLIST =FazeiTeamInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease




