<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>173770202689-oiiki64ft68rude8hcibqsfuo0bpb7go.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.173770202689-oiiki64ft68rude8hcibqsfuo0bpb7go</string>
	<key>API_KEY</key>
	<string>AIzaSyCTVO9_tJa7vXgs7E_xDAVLQvn-C8xujaM</string>
	<key>GCM_SENDER_ID</key>
	<string>173770202689</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MarkSoublet.Dispatch</string>
	<key>PROJECT_ID</key>
	<string>marksoublet-dispatcher</string>
	<key>STORAGE_BUCKET</key>
	<string>marksoublet-dispatcher.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:173770202689:ios:9421a3c787bb2a294930c0</string>
</dict>
</plist>