#include "Pods/Target Support Files/Pods-available_pods-MarkSoublet/Pods-available_pods-MarkSoublet.debug.xcconfig"

PROJECT_BUNDLE_ID = com.MarkSoublet.Dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 2
PROJECT_APP_NAME =CityRides Dispatch
PROJECT_PLIST =MarkSoubletInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease

