#include "Pods/Target Support Files/Pods-BlipDelivery/Pods-BlipDelivery.release.xcconfig"

PROJECT_BUNDLE_ID = com.BlipDelivery.Dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 6
PROJECT_APP_NAME =Blip Delivery Dispatch
PROJECT_PLIST = BlipDeliveryInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
