<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>711046951889-3totg4uihkpfgdavjo4tfmhpmodcd0hf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.711046951889-3totg4uihkpfgdavjo4tfmhpmodcd0hf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>711046951889-cdi65hvvo3g1nimhrftmb7p7o0c25481.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB-yO3mmBpAzNX2a6Zz039Ir7PrkwQb1LM</string>
	<key>GCM_SENDER_ID</key>
	<string>711046951889</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.BlipDeliveryApp.Dispatch</string>
	<key>PROJECT_ID</key>
	<string>blip-8de3d</string>
	<key>STORAGE_BUCKET</key>
	<string>blip-8de3d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:711046951889:ios:2f4eb8fedc10b67ab9e6f0</string>
</dict>
</plist>