#include "Pods/Target Support Files/Pods-available_pods-BalyDlvry/Pods-available_pods-BalyDlvry.debug.xcconfig"


PROJECT_BUNDLE_ID = com.balyDlvry.royodispatcher
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =BalyDlvry Dispatcher
PROJECT_PLIST =BalyDlvryInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease

