<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>182079220400-ee1d2a4p3ja19attees99osimt8fhihm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.182079220400-ee1d2a4p3ja19attees99osimt8fhihm</string>
	<key>API_KEY</key>
	<string>AIzaSyAeBFd_6_jfwuceqK5qwa2kV9GKP54Cg68</string>
	<key>GCM_SENDER_ID</key>
	<string>182079220400</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.balyDlvry.royodispatcher</string>
	<key>PROJECT_ID</key>
	<string>balydlvry-dispatcher</string>
	<key>STORAGE_BUCKET</key>
	<string>balydlvry-dispatcher.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:182079220400:ios:e999d6671df23ed4b36975</string>
</dict>
</plist>