#include "Pods/Target Support Files/Pods-available_pods-Vital/Pods-available_pods-Vital.release.xcconfig"

PROJECT_BUNDLE_ID =  com.royodispatcher.vital
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME = Vital Driver
PROJECT_PLIST = VitalInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease

