#include "Pods/Target Support Files/Pods-available_pods-FairDeal/Pods-available_pods-FairDeal.release.xcconfig"


PROJECT_BUNDLE_ID = com.fairdeal.royodispatcher
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =Fair Deal Dispatcher
PROJECT_PLIST =FairDealInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
