<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>156718489254-shjvha0gjep7thtaupk83dpfmvkm1qqs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.156718489254-shjvha0gjep7thtaupk83dpfmvkm1qqs</string>
	<key>API_KEY</key>
	<string>AIzaSyDfeW77mshkyVFNgf8XpoimKR9F594oNjc</string>
	<key>GCM_SENDER_ID</key>
	<string>156718489254</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fairdeal.royodispatcher</string>
	<key>PROJECT_ID</key>
	<string>fair-deal-dispatcher</string>
	<key>STORAGE_BUCKET</key>
	<string>fair-deal-dispatcher.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:156718489254:ios:b91e595ac8fcce48159e67</string>
</dict>
</plist>