#include "Pods/Target Support Files/Pods-KurbsideKings/Pods-KurbsideKings.release.xcconfig"


PROJECT_BUNDLE_ID = com.KurbsideKings.Dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 2
PROJECT_APP_NAME =Kurbside Kings Dispatch
PROJECT_PLIST =KurbsideKingsInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
