#include "Pods/Target Support Files/Pods-available_pods-WiEnergi/Pods-available_pods-WiEnergi.release.xcconfig"

PROJECT_BUNDLE_ID = com.wiEnergi.royodispatcher
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME = Wi Energi Driver
PROJECT_PLIST = WiEnergiInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease


