<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>399974655010-kgp9evq9mb25fu45rsr7qp5j4mf9155o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.399974655010-kgp9evq9mb25fu45rsr7qp5j4mf9155o</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>399974655010-q1mi3gu2umm21ltu1vvh9viq5ha8dlme.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB9HWw8QqGQl0dnPWMKFuwTjFf6lqekp4s</string>
	<key>GCM_SENDER_ID</key>
	<string>399974655010</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wh.dispatcher</string>
	<key>PROJECT_ID</key>
	<string>dispatcher-2d6d1</string>
	<key>STORAGE_BUCKET</key>
	<string>dispatcher-2d6d1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:399974655010:ios:64d1624ecd9e3d760d967b</string>
	<key>DATABASE_URL</key>
	<string>https://dispatcher-2d6d1.firebaseio.com</string>
</dict>
</plist>