#include "Pods/Target Support Files/Pods-available_pods-Tkaff/Pods-available_pods-Tkaff.debug.xcconfig"

PROJECT_BUNDLE_ID = com.tkaff.royodispatcher
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME = Tkaff Driver
PROJECT_PLIST = TkaffInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease


