#include "Pods/Target Support Files/Pods-available_pods-Nhazi/Pods-available_pods-Nhazi.release.xcconfig"


PROJECT_BUNDLE_ID = com.nhazi.royodispatcher
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =Nhazi Driver
PROJECT_PLIST =NhaziInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
