#include "Pods/Target Support Files/Pods-available_pods-UberCann/Pods-available_pods-UberCann.debug.xcconfig"


PROJECT_BUNDLE_ID = com.UberCann.Dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 2
PROJECT_APP_NAME =UberCann Dispatcher
PROJECT_PLIST =UberCannInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease

