#include "Pods/Target Support Files/Pods-available_pods-UberCann/Pods-available_pods-UberCann.release.xcconfig"


PROJECT_BUNDLE_ID = com.UberCann.Dispatch
PROJECT_APP_VERSION = 1.2
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =UberCann DRIVER
PROJECT_PLIST =UberCannInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
