<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>187511939504-k6c80kuf30gjoitbc84lfhl0rpsphrld.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.187511939504-k6c80kuf30gjoitbc84lfhl0rpsphrld</string>
	<key>API_KEY</key>
	<string>AIzaSyA5H0aVd9vVEfkFYYbo9bYsKSoG6i4a0cI</string>
	<key>GCM_SENDER_ID</key>
	<string>187511939504</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.boozeBrothers.driver</string>
	<key>PROJECT_ID</key>
	<string>booze-brother-driver</string>
	<key>STORAGE_BUCKET</key>
	<string>booze-brother-driver.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:187511939504:ios:760cf78cf2380b6217b675</string>
</dict>
</plist>