<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>186468332923-vaam18mqveffvep13bcf208sq60lq6v1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.186468332923-vaam18mqveffvep13bcf208sq60lq6v1</string>
	<key>API_KEY</key>
	<string>AIzaSyA3jA9fjB8kvxim2WGIGX_9TFvldvUYxtQ</string>
	<key>GCM_SENDER_ID</key>
	<string>186468332923</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fifteenP.dispatcher</string>
	<key>PROJECT_ID</key>
	<string>p-fa391</string>
	<key>STORAGE_BUCKET</key>
	<string>p-fa391.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:186468332923:ios:87c376135e8ca3833479de</string>
</dict>
</plist>