<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>19244874660-hagh2bb6kher99im255t86b3c983d84i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.19244874660-hagh2bb6kher99im255t86b3c983d84i</string>
	<key>API_KEY</key>
	<string>AIzaSyCJTbdhxE_8RkzHh1krXVDpJyA666JAh5Y</string>
	<key>GCM_SENDER_ID</key>
	<string>19244874660</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rbRiders.driver</string>
	<key>PROJECT_ID</key>
	<string>rbriders-driver</string>
	<key>STORAGE_BUCKET</key>
	<string>rbriders-driver.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:19244874660:ios:1ba74eda46dea77f7f5f31</string>
</dict>
</plist>