#include "Pods/Target Support Files/Pods-available_pods-RBRiders/Pods-available_pods-RBRiders.debug.xcconfig"

PROJECT_BUNDLE_ID = com.rbRiders.driver
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =  R&B Riders Dispatcher
PROJECT_PLIST = RBRidersInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
