<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>988392253224-n3avhtcmblonh2o6a63rt9kns2ltbsdv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.988392253224-n3avhtcmblonh2o6a63rt9kns2ltbsdv</string>
	<key>API_KEY</key>
	<string>AIzaSyCFm4Qgezrhm8O6-PH76Qf6vsJSjE7rjcU</string>
	<key>GCM_SENDER_ID</key>
	<string>988392253224</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hairrun.driver</string>
	<key>PROJECT_ID</key>
	<string>hairrun-8b62b</string>
	<key>STORAGE_BUCKET</key>
	<string>hairrun-8b62b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:988392253224:ios:0a698a31829fe4b212d21d</string>
</dict>
</plist>