<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>632724887710-56od88qsklub0olaj0oqa2427lvbpj6u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.632724887710-56od88qsklub0olaj0oqa2427lvbpj6u</string>
	<key>API_KEY</key>
	<string>AIzaSyAMIA9Jd4Tzx9XKrmQfiC4VWS7A3CUQIMw</string>
	<key>GCM_SENDER_ID</key>
	<string>632724887710</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hairRun.dispatcher</string>
	<key>PROJECT_ID</key>
	<string>hair-run-f6e97</string>
	<key>STORAGE_BUCKET</key>
	<string>hair-run-f6e97.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:632724887710:ios:b543fdc25caf9c0137838f</string>
</dict>
</plist>