
#include "Pods/Target Support Files/Pods-available_pods-HairRun/Pods-available_pods-HairRun.debug.xcconfig"


PROJECT_BUNDLE_ID = com.hairRun.dispatcher
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =Hair Run Dispatcher
PROJECT_PLIST =HairRunInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
