<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>375984952052-rcopqt8ck91qurri5lp1f8njc1ais59f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.375984952052-rcopqt8ck91qurri5lp1f8njc1ais59f</string>
	<key>API_KEY</key>
	<string>AIzaSyDbXlxPZ9130j_Af-NYUIhOvTzrTDoGsU4</string>
	<key>GCM_SENDER_ID</key>
	<string>375984952052</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dropoff.dispatcher</string>
	<key>PROJECT_ID</key>
	<string>dropoff-driver-90e71</string>
	<key>STORAGE_BUCKET</key>
	<string>dropoff-driver-90e71.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:375984952052:ios:b0a9922a51455552d384a1</string>
</dict>
</plist>