<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>142710689355-srrevj37um1nmck2umv3v92c9r1253lp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.142710689355-srrevj37um1nmck2umv3v92c9r1253lp</string>
	<key>API_KEY</key>
	<string>AIzaSyDyi-TVSHV-dhT7NFjED0kM3ZAlzz4usWo</string>
	<key>GCM_SENDER_ID</key>
	<string>142710689355</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.junkerz.driver</string>
	<key>PROJECT_ID</key>
	<string>junkerz-driver-a5125</string>
	<key>STORAGE_BUCKET</key>
	<string>junkerz-driver-a5125.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:142710689355:ios:9f5c4aad514a98a19a87ce</string>
</dict>
</plist>