#include "Pods/Target Support Files/Pods-available_pods-SwiffyLLC/Pods-available_pods-SwiffyLLC.release.xcconfig"


PROJECT_BUNDLE_ID = com.SwiffyLLC.Dispatcher
PROJECT_APP_VERSION = 1.2
PROJECT_BUILD_NUMBER = 2
PROJECT_APP_NAME =SwiffyLLC Driver
PROJECT_PLIST =SwiffyLLCInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
