<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>835910877595-s7mr7m91f9msj68mksmqs22hu9dih394.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.835910877595-s7mr7m91f9msj68mksmqs22hu9dih394</string>
	<key>API_KEY</key>
	<string>AIzaSyBC0HCGbe4wf_O6fE85LS-TDoynVS3lFAM</string>
	<key>GCM_SENDER_ID</key>
	<string>835910877595</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fijiEats.dispatcher</string>
	<key>PROJECT_ID</key>
	<string>fijieats-dispatcher</string>
	<key>STORAGE_BUCKET</key>
	<string>fijieats-dispatcher.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:835910877595:ios:bd3fd50ab6a8511d40e13e</string>
</dict>
</plist>