#include "Pods/Target Support Files/Pods-available_pods-MyFiji/Pods-available_pods-MyFiji.release.xcconfig"


PROJECT_BUNDLE_ID = com.fijiEats.dispatcher
PROJECT_APP_VERSION = 1.1
PROJECT_BUILD_NUMBER = 3
PROJECT_APP_NAME =FijiEats Driver
PROJECT_PLIST =MyFijiInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease


