#include "Pods/Target Support Files/Pods-available_pods-MyFiji/Pods-available_pods-MyFiji.debug.xcconfig"


PROJECT_BUNDLE_ID = com.Myfiji.Dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 2
PROJECT_APP_NAME =Fiji Eats Dispatcher
PROJECT_PLIST =MyFijiInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease


