#include "Pods/Target Support Files/Pods-available_pods-ButlerDelivery/Pods-available_pods-ButlerDelivery.debug.xcconfig"


PROJECT_BUNDLE_ID = com.butler.dispatcher
PROJECT_APP_VERSION = 1.2
PROJECT_BUILD_NUMBER = 2
PROJECT_APP_NAME =ButlerDelivery Dispatcher
PROJECT_PLIST =ButlerDeliveryInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
