#include "Pods/Target Support Files/Pods-available_pods-AgriOnlineRider/Pods-available_pods-AgriOnlineRider.debug.xcconfig"

PROJECT_BUNDLE_ID = com.AgriOnline.Dispatcher
PROJECT_APP_VERSION = 1.1
PROJECT_BUILD_NUMBER = 2
PROJECT_APP_NAME =AgriOnlineRider
PROJECT_PLIST =AgriOnlineRiderInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
