<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>593081113512-grldqauh8lu92sgpej3p38ohkvbhk845.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.593081113512-grldqauh8lu92sgpej3p38ohkvbhk845</string>
	<key>API_KEY</key>
	<string>AIzaSyARSx8ZiJzIBU2ZWu1y4Z_CzK9D6f7hTMg</string>
	<key>GCM_SENDER_ID</key>
	<string>593081113512</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.keystoneDeliver.Dispatch</string>
	<key>PROJECT_ID</key>
	<string>royodispatcher9-a7c3a</string>
	<key>STORAGE_BUCKET</key>
	<string>royodispatcher9-a7c3a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:593081113512:ios:d2a65ee1beab51be0f5b9d</string>
</dict>
</plist>