<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>595119348378-36l8qf4ker2r1ak409k80iphtd9epcbc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.595119348378-36l8qf4ker2r1ak409k80iphtd9epcbc</string>
	<key>API_KEY</key>
	<string>AIzaSyAFwZ62Vl-0-jMz9hOqTFPcf8UK3OlV2rk</string>
	<key>GCM_SENDER_ID</key>
	<string>595119348378</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.royodispatcher.hungry</string>
	<key>PROJECT_ID</key>
	<string>hungry-driver</string>
	<key>STORAGE_BUCKET</key>
	<string>hungry-driver.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:595119348378:ios:5397aaec14d45903061d23</string>
</dict>
</plist>