#include "Pods/Target Support Files/Pods-available_pods-Hungry/Pods-available_pods-Hungry.debug.xcconfig"

PROJECT_BUNDLE_ID =  com.royodispatcher.hungry
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME = Hungry Driver
PROJECT_PLIST = HungryInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease

