#include "Pods/Target Support Files/Pods-available_pods-Holla/Pods-available_pods-Holla.release.xcconfig"


PROJECT_BUNDLE_ID = com.dispatcher.holla
PROJECT_APP_VERSION = 1.1
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =10Dollar Holla Driver
PROJECT_PLIST =HollaInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
