#include "Pods/Target Support Files/Pods-available_pods-FarmerSouq/Pods-available_pods-FarmerSouq.debug.xcconfig"


PROJECT_BUNDLE_ID = com.FarmerSouq.Dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 2
PROJECT_APP_NAME =Farmer Souq Dispatch
PROJECT_PLIST =FarmerSouqInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
