
#include "Pods/Target Support Files/Pods-available_pods-EuodooTechnologies/Pods-available_pods-EuodooTechnologies.release.xcconfig"


PROJECT_BUNDLE_ID = com.euodooTechnologies.dispatcher
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 4
PROJECT_APP_NAME =Euodoo Technologies Dispatcher
PROJECT_PLIST =EuodooTechnologiesInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
