#include "Pods/Target Support Files/Pods-available_pods-Homeric/Pods-available_pods-Homeric.debug.xcconfig"

PROJECT_BUNDLE_ID = com.Homeric.Dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 20
PROJECT_APP_NAME =Homeric Dispatch
PROJECT_PLIST =HomericInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
CODE_PUSH_KEY = y18RnY97P6wlCmJmZbdZZVCkEE2XH5FTTpC4M

