<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>41326011192-0qd7a58g88j0ugn7ovhoq3jloqgfo2is.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.41326011192-0qd7a58g88j0ugn7ovhoq3jloqgfo2is</string>
	<key>API_KEY</key>
	<string>AIzaSyBPeGq9dRP1OuqoCOfUIpHo_ABjZjmeJ4g</string>
	<key>GCM_SENDER_ID</key>
	<string>41326011192</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.HomeTownDeliveryllc.Dispatch</string>
	<key>PROJECT_ID</key>
	<string>hometowndeliveryllc</string>
	<key>STORAGE_BUCKET</key>
	<string>hometowndeliveryllc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:41326011192:ios:406948d92867fc36fcd7cd</string>
</dict>
</plist>