#include "Pods/Target Support Files/Pods-HomeTownDeliveryllc/Pods-HomeTownDeliveryllc.release.xcconfig"


PROJECT_BUNDLE_ID = com.HomeTownDeliveryllc.Dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =HomeTownDeliveryllc Dispatch
PROJECT_PLIST =HomeTownDeliveryllcInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease


