<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>95168679726-j6c169i8kftoo1kerot372oda7vo104h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.95168679726-j6c169i8kftoo1kerot372oda7vo104h</string>
	<key>API_KEY</key>
	<string>AIzaSyA4Al_aheIRFaZT8Quc9cggjQ-0MGL1WD8</string>
	<key>GCM_SENDER_ID</key>
	<string>95168679726</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sheRyders.royodispatcher</string>
	<key>PROJECT_ID</key>
	<string>she-ryders-166a5</string>
	<key>STORAGE_BUCKET</key>
	<string>she-ryders-166a5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:95168679726:ios:8f7c7055cb5199aeb234bf</string>
</dict>
</plist>