#include "Pods/Target Support Files/Pods-available_pods-SheRyders/Pods-available_pods-SheRyders.release.xcconfig"


PROJECT_BUNDLE_ID = com.sheRyders.dispatcher
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 7
PROJECT_APP_NAME =SheRyders Driver
PROJECT_PLIST =SheRydersInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
