<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>282955895419-ols0la26lstvtv58t3p9qkplvrvnejsi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.282955895419-ols0la26lstvtv58t3p9qkplvrvnejsi</string>
	<key>API_KEY</key>
	<string>AIzaSyDIGX3JVXFeNpHec2064V7lemNNdoz1nKU</string>
	<key>GCM_SENDER_ID</key>
	<string>282955895419</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.LOPHT.Dispatch</string>
	<key>PROJECT_ID</key>
	<string>lopht-76c1c</string>
	<key>STORAGE_BUCKET</key>
	<string>lopht-76c1c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:282955895419:ios:27e6dcf9cf456f33c248de</string>
</dict>
</plist>