<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>521878272119-2un0g03fa3hegj4q4mukbgrbrcpggtdv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.521878272119-2un0g03fa3hegj4q4mukbgrbrcpggtdv</string>
	<key>API_KEY</key>
	<string>AIzaSyASX5k6r-gPVqsuXx9ET-iu6nzx4mXnWEY</string>
	<key>GCM_SENDER_ID</key>
	<string>521878272119</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.LOPHT.Dispatch</string>
	<key>PROJECT_ID</key>
	<string>lopht-dispatch</string>
	<key>STORAGE_BUCKET</key>
	<string>lopht-dispatch.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:521878272119:ios:08efd1dc698ced97f3ae72</string>
</dict>
</plist>