#include "Pods/Target Support Files/Pods-available_pods-ScootUp/Pods-available_pods-ScootUp.debug.xcconfig"


PROJECT_BUNDLE_ID = com.ScootUp.Dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =ScootUp Dispatcher
PROJECT_PLIST =ScootUpInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease

