#include "Pods/Target Support Files/Pods-available_pods-Knockknock/Pods-available_pods-Knockknock.release.xcconfig"

PROJECT_BUNDLE_ID = com.Knockknock.Dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 6
PROJECT_APP_NAME =Doorbell Dispatcher

PROJECT_PLIST =KnockKnockInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
