#include "Pods/Target Support Files/Pods-available_pods-GrubHouse/Pods-available_pods-GrubHouse.release.xcconfig"

PROJECT_BUNDLE_ID = com.grubHouse.Dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =Grub House Dispatch
PROJECT_PLIST =GrubHouseInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
