#include "Pods/Target Support Files/Pods-available_pods-Georgiacollective/Pods-available_pods-Georgiacollective.release.xcconfig"

PROJECT_BUNDLE_ID =  com.royodispatcher.georgiacollective
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME = Georgiacollective Driver
PROJECT_PLIST = GeorgiacollectiveInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease

