<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>354687277360-b9jihuufus9q9rou2jk749at8c2g7g8u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.354687277360-b9jihuufus9q9rou2jk749at8c2g7g8u</string>
	<key>API_KEY</key>
	<string>AIzaSyAEmld5goye_e5ZjdTmDVExqngJGFWgNSI</string>
	<key>GCM_SENDER_ID</key>
	<string>354687277360</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.royodispatcher.georgiacollective</string>
	<key>PROJECT_ID</key>
	<string>georgiacollective-driver</string>
	<key>STORAGE_BUCKET</key>
	<string>georgiacollective-driver.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:354687277360:ios:bd0e41312b26414c5110f5</string>
</dict>
</plist>