#include "Pods/Target Support Files/Pods-available_pods-Glavour/Pods-available_pods-Glavour.debug.xcconfig"

PROJECT_BUNDLE_ID =  com.glavour.royodispatcher
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 2
PROJECT_APP_NAME = Glavour Driver
PROJECT_PLIST = GlavourInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease

