<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1064407256413-e7m5hm7r59tf84o86qm8b25p0b934hqg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1064407256413-e7m5hm7r59tf84o86qm8b25p0b934hqg</string>
	<key>API_KEY</key>
	<string>AIzaSyA17lnimts_WelKviel8SedvuUuSBsIg7o</string>
	<key>GCM_SENDER_ID</key>
	<string>1064407256413</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.glavour.royodispatcher</string>
	<key>PROJECT_ID</key>
	<string>glavour-driver</string>
	<key>STORAGE_BUCKET</key>
	<string>glavour-driver.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1064407256413:ios:3475c6323eb979762bacb4</string>
</dict>
</plist>