#include "Pods/Target Support Files/Pods-available_pods-Vialteran/Pods-available_pods-Vialteran.debug.xcconfig"

PROJECT_BUNDLE_ID = com.vialteran.royodispatcher
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 3
PROJECT_APP_NAME = Vialteran Driver
PROJECT_PLIST = VialteranInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
CODE_PUSH_KEY = hcmplOukrKxRjZLneTh0pTDRtCZXX6mcqUSRW


