<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>813500324964-5otu1h7nosp6e00dg7tlno7g7k3mq2q7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.813500324964-5otu1h7nosp6e00dg7tlno7g7k3mq2q7</string>
	<key>API_KEY</key>
	<string>AIzaSyCO4Idke_EYDoGAf0NviuxzF6x-DKt-zLw</string>
	<key>GCM_SENDER_ID</key>
	<string>813500324964</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.livraizoo.royodispatcher</string>
	<key>PROJECT_ID</key>
	<string>livraizoo-driver</string>
	<key>STORAGE_BUCKET</key>
	<string>livraizoo-driver.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:813500324964:ios:627ff6b4568abc6616d371</string>
</dict>
</plist>