#include "Pods/Target Support Files/Pods-available_pods-Livraizoo/Pods-available_pods-Livraizoo.release.xcconfig"

PROJECT_BUNDLE_ID = com.livraizoo.royodispatcher
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME = Livraizoo Dispatcher
PROJECT_PLIST = LivraizooInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease


