#include "Pods/Target Support Files/Pods-available_pods-Redglee/Pods-available_pods-Redglee.debug.xcconfig"

PROJECT_BUNDLE_ID = com.Redglee.Dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =Redglee Dispatch
PROJECT_PLIST =RedgleeInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
