#include "Pods/Target Support Files/Pods-available_pods-RunaRound/Pods-available_pods-RunaRound.debug.xcconfig"


PROJECT_BUNDLE_ID = com.RunaRound.Dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 4
PROJECT_APP_NAME =RunaRound Dispatch
PROJECT_PLIST =RunaRoundInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease



