#include "Pods/Target Support Files/Pods-available_pods-Eureka/Pods-available_pods-Eureka.release.xcconfig"


PROJECT_BUNDLE_ID = com.eureka.royodispatcher
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =Eureka Dispatcher
PROJECT_PLIST =EurekaInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
