<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>605038249780-88mm1eideej9bc5q6fo3cb3bpbqmjn0a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.605038249780-88mm1eideej9bc5q6fo3cb3bpbqmjn0a</string>
	<key>API_KEY</key>
	<string>AIzaSyB2yN4-M3mDD6ma1hyEPLW8pqF-pJ7D1QU</string>
	<key>GCM_SENDER_ID</key>
	<string>605038249780</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eureka.royodispatcher</string>
	<key>PROJECT_ID</key>
	<string>eureka-dispatcher</string>
	<key>STORAGE_BUCKET</key>
	<string>eureka-dispatcher.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:605038249780:ios:70f4f940c985bb49740761</string>
</dict>
</plist>