<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>428754175228-pfdo0t1dfek29n9hik5tk2hagfplf0di.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.428754175228-pfdo0t1dfek29n9hik5tk2hagfplf0di</string>
	<key>API_KEY</key>
	<string>AIzaSyDq18d2Qx_mU6ROoAMxPDBJSdMng9iS-IM</string>
	<key>GCM_SENDER_ID</key>
	<string>428754175228</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.royodispatcher.uRyd</string>
	<key>PROJECT_ID</key>
	<string>u-ryd-driver</string>
	<key>STORAGE_BUCKET</key>
	<string>u-ryd-driver.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:428754175228:ios:caff62dce5b163b070c379</string>
</dict>
</plist>