#include "Pods/Target Support Files/Pods-available_pods-URyd/Pods-available_pods-URyd.release.xcconfig"

PROJECT_BUNDLE_ID =  com.royodispatcher.uRyd
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME = U Ryd Driver
PROJECT_PLIST = URydInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease

