#include "Pods/Target Support Files/Pods-available_pods-Nittosadai/Pods-available_pods-Nittosadai.release.xcconfig"


PROJECT_BUNDLE_ID = com.nittosadai.dispatcher
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 2
PROJECT_APP_NAME =Nittosadai Dispatcher
PROJECT_PLIST =Nittosadaiinfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
