<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>291479118855-5mc2rq6jstk7cqqt5noij5rqv0kkbtra.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.291479118855-5mc2rq6jstk7cqqt5noij5rqv0kkbtra</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>291479118855-5ups0on19472m9fh4cb2m5vv01agn7q0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDJQBPJbzGlFUnaXsXL7FkvsJ7Zr5pRVTU</string>
	<key>GCM_SENDER_ID</key>
	<string>291479118855</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ecomart.driver</string>
	<key>PROJECT_ID</key>
	<string>ecomart-driver-a70ac</string>
	<key>STORAGE_BUCKET</key>
	<string>ecomart-driver-a70ac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:291479118855:ios:885ef41e2ac877f4a876a2</string>
</dict>
</plist>