#include "Pods/Target Support Files/Pods-available_pods-Genee/Pods-available_pods-Genee.debug.xcconfig"


PROJECT_BUNDLE_ID = com.royodispatcher.genee
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =Genee Dispatcher
PROJECT_PLIST =GeneeInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
