<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>917753926821-qofhucjg9sfg06ceujll6eiqad2uu3nm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.917753926821-qofhucjg9sfg06ceujll6eiqad2uu3nm</string>
	<key>API_KEY</key>
	<string>AIzaSyCEGW18l6ZXP5ZLkrMUNea30SXAzi0zIEM</string>
	<key>GCM_SENDER_ID</key>
	<string>917753926821</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.royodispatcher.genee</string>
	<key>PROJECT_ID</key>
	<string>genee-7e071</string>
	<key>STORAGE_BUCKET</key>
	<string>genee-7e071.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:917753926821:ios:c1877f631c18e07c9da94c</string>
</dict>
</plist>