<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>550157625563-9j31k555629d91o75edkbrgp9jgteg0p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.550157625563-9j31k555629d91o75edkbrgp9jgteg0p</string>
	<key>API_KEY</key>
	<string>AIzaSyBgf_5MHAJk38PrXjC-pjH8U435f39lDEU</string>
	<key>GCM_SENDER_ID</key>
	<string>550157625563</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.speedyDelivery.driver</string>
	<key>PROJECT_ID</key>
	<string>speedy-delivery-drivers</string>
	<key>STORAGE_BUCKET</key>
	<string>speedy-delivery-drivers.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:550157625563:ios:a7b4f2da6dc3c3e12384fe</string>
</dict>
</plist>