#include "Pods/Target Support Files/Pods-available_pods-SpeedyDelivery/Pods-available_pods-SpeedyDelivery.release.xcconfig"


PROJECT_BUNDLE_ID = com.royodispatcher.speedyDelivery
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 2
PROJECT_APP_NAME =Speedy delivery Dispatcher
PROJECT_PLIST =SpeedyDeliveryInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
