#include "Pods/Target Support Files/Pods-available_pods-SpeedyDelivery/Pods-available_pods-SpeedyDelivery.release.xcconfig"


PROJECT_BUNDLE_ID = com.speedyDelivery.driver
PROJECT_APP_VERSION = 1.1
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =Speedy Delivery Driver
PROJECT_PLIST =SpeedyDeliveryInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
