#include "Pods/Target Support Files/Pods-available_pods-Martinonwheels/Pods-available_pods-Martinonwheels.release.xcconfig"

PROJECT_BUNDLE_ID = com.Martinonwheels.Dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 3
PROJECT_APP_NAME =Wheels Driver
PROJECT_PLIST =MartinonwheelsInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
