<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>986092175873-l96397dc0b0kulc11rdmc1j29f0c6utt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.986092175873-l96397dc0b0kulc11rdmc1j29f0c6utt</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>986092175873-c805cd8jtu5vncf9vr3jvh640avdaqe8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyApIXDHi6K55vbjjSJjXIcJyc8_7rbGlfM</string>
	<key>GCM_SENDER_ID</key>
	<string>986092175873</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codebrew.driver.yoho</string>
	<key>PROJECT_ID</key>
	<string>global-incline-313406</string>
	<key>STORAGE_BUCKET</key>
	<string>global-incline-313406.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:986092175873:ios:2b4a6d4e7bb38cc27fb600</string>
</dict>
</plist>