<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>780678836565-7b0v1pl7nnidj6igmtdsdir6gvvih8ad.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.780678836565-7b0v1pl7nnidj6igmtdsdir6gvvih8ad</string>
	<key>API_KEY</key>
	<string>AIzaSyCcwM7liVsbfFPu4DxxmyXOLx3JyNpqoTE</string>
	<key>GCM_SENDER_ID</key>
	<string>780678836565</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tezras.royodispatcher</string>
	<key>PROJECT_ID</key>
	<string>tezras-dispatcher</string>
	<key>STORAGE_BUCKET</key>
	<string>tezras-dispatcher.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:780678836565:ios:940f87f547609aa0277fdc</string>
</dict>
</plist>