#include "Pods/Target Support Files/Pods-available_pods-Tezras/Pods-available_pods-Tezras.release.xcconfig"


PROJECT_BUNDLE_ID = com.tezras.royodispatcher
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =Tezras Dispatcher
PROJECT_PLIST =TezrasInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
