#include "Pods/Target Support Files/Pods-MoboErrandsService/Pods-MoboErrandsService.debug.xcconfig"


PROJECT_BUNDLE_ID = com.MoboErrandsService.Dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 2
PROJECT_APP_NAME =Mobo Errands Service
PROJECT_PLIST =MoboErrandsServiceInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease



