#include "Pods/Target Support Files/Pods-available_pods-DestinationOps/Pods-available_pods-DestinationOps.debug.xcconfig"


PROJECT_BUNDLE_ID = com.DestinationOps.Dispatch
PROJECT_APP_VERSION = 1.1
PROJECT_BUILD_NUMBER = 2
PROJECT_APP_NAME =Destination Ops Driver
PROJECT_PLIST =DestinationOpsInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
