<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>545674503989-beskpkv0bg1g4gt8qajv09qpr7t1rntp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.545674503989-beskpkv0bg1g4gt8qajv09qpr7t1rntp</string>
	<key>API_KEY</key>
	<string>AIzaSyBN6e1odurk5dnyTGnLNXdg3VCq-gY-EI4</string>
	<key>GCM_SENDER_ID</key>
	<string>545674503989</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DestinationOps.Dispatch</string>
	<key>PROJECT_ID</key>
	<string>destination-ops-333515</string>
	<key>STORAGE_BUCKET</key>
	<string>destination-ops-333515.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:545674503989:ios:b7bf720355764aab9b0e7c</string>
</dict>
</plist>