#include "Pods/Target Support Files/Pods-available_pods-Ineeda/Pods-available_pods-Ineeda.debug.xcconfig"

PROJECT_BUNDLE_ID = ccom.ineeda.driver
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =  Ineeda Dispatcher
PROJECT_PLIST = IneedaInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
