<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1061542728054-khikuup68jpai82nshd7vm8euub8ptii.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1061542728054-khikuup68jpai82nshd7vm8euub8ptii</string>
	<key>API_KEY</key>
	<string>AIzaSyBj6eZwO_EVtogR3HUBLBJEOj_L8xwizKY</string>
	<key>GCM_SENDER_ID</key>
	<string>1061542728054</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.royodispatcher.happySingh</string>
	<key>PROJECT_ID</key>
	<string>happy-singh-driver</string>
	<key>STORAGE_BUCKET</key>
	<string>happy-singh-driver.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1061542728054:ios:f9c1c17211604c971eaa57</string>
</dict>
</plist>