#include "Pods/Target Support Files/Pods-available_pods-HappySingh/Pods-available_pods-HappySingh.debug.xcconfig"

PROJECT_BUNDLE_ID =  com.royodispatcher.happySingh
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME = Happy Singh Driver
PROJECT_PLIST = HappySinghInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease

