<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>664522081147-qrp90rgoe0f0h8lo51h7m8o5v4vha0ke.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.664522081147-qrp90rgoe0f0h8lo51h7m8o5v4vha0ke</string>
	<key>API_KEY</key>
	<string>AIzaSyAnsVxFfSMfuTuFlkV5Txa9SwFQGh59zAs</string>
	<key>GCM_SENDER_ID</key>
	<string>664522081147</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.PeerDeliveries.Dispatch</string>
	<key>PROJECT_ID</key>
	<string>peerdeliveries-dispatch</string>
	<key>STORAGE_BUCKET</key>
	<string>peerdeliveries-dispatch.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:664522081147:ios:137c56a5a4eb6d2fa1b3de</string>
</dict>
</plist>