#include "Pods/Target Support Files/Pods-available_pods-PeerDeliveries/Pods-available_pods-PeerDeliveries.debug.xcconfig"

PROJECT_BUNDLE_ID = com.PeerDeliveries.Dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =PeerDeliveries Dispatch
PROJECT_PLIST =PeerDeliveriesInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease

