<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>492922314261-a2k5qj7ncjbm7pi9oslnueve647rsigu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.492922314261-a2k5qj7ncjbm7pi9oslnueve647rsigu</string>
	<key>API_KEY</key>
	<string>AIzaSyDMtIQC1SZcaXpwKbRQS-tEMokr86Z9an8</string>
	<key>GCM_SENDER_ID</key>
	<string>492922314261</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Kazakazi.Dispatch</string>
	<key>PROJECT_ID</key>
	<string>kazakazi-dispatch</string>
	<key>STORAGE_BUCKET</key>
	<string>kazakazi-dispatch.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:492922314261:ios:ab958e51406ffd7ab6b81c</string>
</dict>
</plist>