#include "Pods/Target Support Files/Pods-available_pods-Kazakazi/Pods-available_pods-Kazakazi.release.xcconfig"

PROJECT_BUNDLE_ID = com.Kazakazi.Dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 2
PROJECT_APP_NAME =Kazakazi Dispatch
PROJECT_PLIST =KazakaziInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
