#include "Pods/Target Support Files/Pods-available_pods-Click2Deliver/Pods-available_pods-Click2Deliver.debug.xcconfig"


PROJECT_BUNDLE_ID = com.click2deliver.driver
PROJECT_APP_VERSION = 1.2
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =Click2Deliver
PROJECT_PLIST =Click2DeliverInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease


