#include "Pods/Target Support Files/Pods-available_pods-Click2Deliver/Pods-available_pods-Click2Deliver.release.xcconfig"

PROJECT_BUNDLE_ID = com.click2deliver.royoDispatcher
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 2
PROJECT_APP_NAME =Click2Deliver
PROJECT_PLIST =Click2DeliverInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease


