<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1069081381956-bo1iso9mic1mv6tsaeqjnk4l16rkn72t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1069081381956-bo1iso9mic1mv6tsaeqjnk4l16rkn72t</string>
	<key>API_KEY</key>
	<string>AIzaSyBAi3C-HY7CT_kEynj4UaBzaUgJcDttwvY</string>
	<key>GCM_SENDER_ID</key>
	<string>1069081381956</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.royodispatcher.todaysDeliverys</string>
	<key>PROJECT_ID</key>
	<string>todays-deliverys-driver</string>
	<key>STORAGE_BUCKET</key>
	<string>todays-deliverys-driver.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1069081381956:ios:2374f8a5f3afb56ea8c011</string>
</dict>
</plist>