#include "Pods/Target Support Files/Pods-available_pods-TodaysDeliverys/Pods-available_pods-TodaysDeliverys.release.xcconfig"

PROJECT_BUNDLE_ID =  com.royodispatcher.todaysDeliverys
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME = Todays Deliverys Driver
PROJECT_PLIST = TodaysDeliverysInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease

