#include "Pods/Target Support Files/Pods-available_pods-Weemov/Pods-available_pods-Weemov.debug.xcconfig"

PROJECT_BUNDLE_ID = com.weemoov.royodispatcher
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME = Weemov Driver
PROJECT_PLIST = WeemovInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
