<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hungry.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<false/>
			<key>buildNumber</key>
			<string>2</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>FB6C432D33BE6D1839A6B242AD377FEA6F0FFF6E</string>
				<key>dateExpires</key>
				<string>09/08/23</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FB6C432D33BE6D1839A6B242AD377FEA6F0FFF6E</string>
						<key>dateExpires</key>
						<string>09/08/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ChatProvidersSDK.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6FXUMT5X23</string>
						<key>name</key>
						<string>Code Brew Labs</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FB6C432D33BE6D1839A6B242AD377FEA6F0FFF6E</string>
						<key>dateExpires</key>
						<string>09/08/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ChatSDK.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6FXUMT5X23</string>
						<key>name</key>
						<string>Code Brew Labs</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FB6C432D33BE6D1839A6B242AD377FEA6F0FFF6E</string>
						<key>dateExpires</key>
						<string>09/08/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CommonUISDK.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6FXUMT5X23</string>
						<key>name</key>
						<string>Code Brew Labs</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FB6C432D33BE6D1839A6B242AD377FEA6F0FFF6E</string>
						<key>dateExpires</key>
						<string>09/08/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FaceSDK.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6FXUMT5X23</string>
						<key>name</key>
						<string>Code Brew Labs</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FB6C432D33BE6D1839A6B242AD377FEA6F0FFF6E</string>
						<key>dateExpires</key>
						<string>09/08/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MessagingAPI.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6FXUMT5X23</string>
						<key>name</key>
						<string>Code Brew Labs</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FB6C432D33BE6D1839A6B242AD377FEA6F0FFF6E</string>
						<key>dateExpires</key>
						<string>09/08/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MessagingSDK.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6FXUMT5X23</string>
						<key>name</key>
						<string>Code Brew Labs</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FB6C432D33BE6D1839A6B242AD377FEA6F0FFF6E</string>
						<key>dateExpires</key>
						<string>09/08/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Razorpay.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6FXUMT5X23</string>
						<key>name</key>
						<string>Code Brew Labs</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FB6C432D33BE6D1839A6B242AD377FEA6F0FFF6E</string>
						<key>dateExpires</key>
						<string>09/08/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RegulaCommon.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6FXUMT5X23</string>
						<key>name</key>
						<string>Code Brew Labs</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FB6C432D33BE6D1839A6B242AD377FEA6F0FFF6E</string>
						<key>dateExpires</key>
						<string>09/08/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SDKConfigurations.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6FXUMT5X23</string>
						<key>name</key>
						<string>Code Brew Labs</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>6FXUMT5X23.com.royodispatcher.hungry</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>6FXUMT5X23</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Hungry.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>508a885d-b6a0-4b8e-a44e-e063629fa57c</string>
				<key>dateExpires</key>
				<string>09/08/23</string>
				<key>name</key>
				<string>Hungry Dispatcher</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>6FXUMT5X23</string>
				<key>name</key>
				<string>Code Brew Labs</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
