#include "Pods/Target Support Files/Pods-available_pods-ScoopaTechnologies/Pods-available_pods-ScoopaTechnologies.release.xcconfig"


PROJECT_BUNDLE_ID = com.ScoopaTechnologies.Dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =ScoopaTechnologies Dispatcher
PROJECT_PLIST =ScoopaTechnologiesInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
