#include "Pods/Target Support Files/Pods-available_pods-CurblerLLC/Pods-available_pods-CurblerLLC.release.xcconfig"

PROJECT_BUNDLE_ID = com.CurblerLLC.Dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =CurblerLLC Dispatch
PROJECT_PLIST =CurblerLLCInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
