<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>786308802984-if8t340qt259d9sur63t487jiuc2pf5b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.786308802984-if8t340qt259d9sur63t487jiuc2pf5b</string>
	<key>API_KEY</key>
	<string>AIzaSyA2g8BbbfqokHZDALyUpR-qhczu3bTMJuQ</string>
	<key>GCM_SENDER_ID</key>
	<string>786308802984</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.TjjHub.Dispatch</string>
	<key>PROJECT_ID</key>
	<string>tjj-hub-dispatch</string>
	<key>STORAGE_BUCKET</key>
	<string>tjj-hub-dispatch.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:786308802984:ios:528a733956cf43c86c559d</string>
</dict>
</plist>