<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>102644311204-l7j71bc69c67pf7p4e7jo8a0k7j4ga61.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.102644311204-l7j71bc69c67pf7p4e7jo8a0k7j4ga61</string>
	<key>API_KEY</key>
	<string>AIzaSyB2qgoIfOSRS325idvEqH9ullAWgaPf9ZM</string>
	<key>GCM_SENDER_ID</key>
	<string>102644311204</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rally.royodispatcher</string>
	<key>PROJECT_ID</key>
	<string>rally-dispatcher</string>
	<key>STORAGE_BUCKET</key>
	<string>rally-dispatcher.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:102644311204:ios:f505a1a7b8897144d37231</string>
</dict>
</plist>