<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>999255327946-mdfcjnpusfmdv0im00d5ltpmk1srusr9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.999255327946-mdfcjnpusfmdv0im00d5ltpmk1srusr9</string>
	<key>API_KEY</key>
	<string>AIzaSyB3KdG3GXNC0I2GeRyHAASiNe4IDNsnzdQ</string>
	<key>GCM_SENDER_ID</key>
	<string>999255327946</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zuluClutch.driver</string>
	<key>PROJECT_ID</key>
	<string>zuluclutch-driver</string>
	<key>STORAGE_BUCKET</key>
	<string>zuluclutch-driver.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:999255327946:ios:7f3cec3bf690ae1d186033</string>
</dict>
</plist>