#include "Pods/Target Support Files/Pods-available_pods-FoodNests/Pods-available_pods-FoodNests.debug.xcconfig"


PROJECT_BUNDLE_ID = com.FoodNests.driverapp
PROJECT_APP_VERSION = 1.1
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =FoodNests Dispatch
PROJECT_PLIST =FoodNestsInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
