#include "Pods/Target Support Files/Pods-available_pods-ChipeTaxi/Pods-available_pods-ChipeTaxi.release.xcconfig"

PROJECT_BUNDLE_ID = com.ChipeTaxi.Dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 2
PROJECT_APP_NAME =Chipe Taxi Dispatch
PROJECT_PLIST =ChipeTaxiInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
