#include "Pods/Target Support Files/Pods-available_pods-DoctaTransportation/Pods-available_pods-DoctaTransportation.release.xcconfig"

PROJECT_BUNDLE_ID = com.DoctaTransportation.Dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 3
PROJECT_APP_NAME =DoctaTransportation Dispatch
PROJECT_PLIST =DoctaTransportationInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
