
#include "Pods/Target Support Files/Pods-available_pods-Choizez/Pods-available_pods-Choizez.release.xcconfig"


PROJECT_BUNDLE_ID = com.choizez.dispatcher
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =Choizez Dispatcher
PROJECT_PLIST =ChoizezInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
