<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>93441502791-5ntmbq6gu3h6spgtuf2pl4fovh9s3243.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.93441502791-5ntmbq6gu3h6spgtuf2pl4fovh9s3243</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>93441502791-dkhgatli7bg8k6v7vphlar12tgcp57vr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDK-M3UecmrN1ksuht4ysx4PlTIx7xr7yQ</string>
	<key>GCM_SENDER_ID</key>
	<string>93441502791</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Qrider.Dispatch</string>
	<key>PROJECT_ID</key>
	<string>royodispatcher8</string>
	<key>STORAGE_BUCKET</key>
	<string>royodispatcher8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:93441502791:ios:9cc88dc1eca211efa08b62</string>
</dict>
</plist>