#include "Pods/Target Support Files/Pods-available_pods-Qrider/Pods-available_pods-Qrider.release.xcconfig"


PROJECT_BUNDLE_ID = com.Qrider.Dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 2
PROJECT_APP_NAME =Qrider Dispatcher
PROJECT_PLIST =QriderInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
