<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>10156555154-dlupohr3uq9usrkfn2t4fq2hicbkvjir.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.10156555154-dlupohr3uq9usrkfn2t4fq2hicbkvjir</string>
	<key>API_KEY</key>
	<string>AIzaSyDJf27S7MWSGEO9337xTw4Hz7ZDuCSISzk</string>
	<key>GCM_SENDER_ID</key>
	<string>10156555154</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.etiam.royodispatcher</string>
	<key>PROJECT_ID</key>
	<string>etiam-driver</string>
	<key>STORAGE_BUCKET</key>
	<string>etiam-driver.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:10156555154:ios:026db584f5fd4e6bab5f4b</string>
</dict>
</plist>