#include "Pods/Target Support Files/Pods-available_pods-Doober/Pods-available_pods-Doober.release.xcconfig"


PROJECT_BUNDLE_ID = com.doober.royodispatcher
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =Doober Dispatcher
PROJECT_PLIST =DooberInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
