<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1074142906538-hailfkvh6qk5hmql491ssn0fpihij7qh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1074142906538-hailfkvh6qk5hmql491ssn0fpihij7qh</string>
	<key>API_KEY</key>
	<string>AIzaSyC0Merg9pxX-O9bx3f00ROzFHjYPXDQy78</string>
	<key>GCM_SENDER_ID</key>
	<string>1074142906538</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.viversbox.driver</string>
	<key>PROJECT_ID</key>
	<string>viversbox-driver</string>
	<key>STORAGE_BUCKET</key>
	<string>viversbox-driver.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1074142906538:ios:d5a98d6da6945d995b28d3</string>
</dict>
</plist>