#include "Pods/Target Support Files/Pods-available_pods-ViversBox/Pods-available_pods-ViversBox.debug.xcconfig"

PROJECT_BUNDLE_ID = com.viversbox.driver
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 2
PROJECT_APP_NAME =ViversBox Driver
PROJECT_PLIST =ViversBoxInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
