#include "Pods/Target Support Files/Pods-available_pods-ZoodMarket/Pods-available_pods-ZoodMarket.debug.xcconfig"

PROJECT_BUNDLE_ID = com.zoodMarket.Dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =Zood Market Dispatch
PROJECT_PLIST =ZoodMarketInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease

