<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1064671570042-psr5g1b6mp4mll5n9jhd2r276gnap4cr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1064671570042-psr5g1b6mp4mll5n9jhd2r276gnap4cr</string>
	<key>API_KEY</key>
	<string>AIzaSyDoHUy49C9GDoiwR_bEgoPdCX_B-4z-CjY</string>
	<key>GCM_SENDER_ID</key>
	<string>1064671570042</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.toor.driver</string>
	<key>PROJECT_ID</key>
	<string>toor-driver</string>
	<key>STORAGE_BUCKET</key>
	<string>toor-driver.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1064671570042:ios:5939754f1d62586d2573c3</string>
</dict>
</plist>