#include "Pods/Target Support Files/Pods-available_pods-Dbairro/Pods-available_pods-Dbairro.debug.xcconfig"

PROJECT_BUNDLE_ID = com.Dbairro.Dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 2
PROJECT_APP_NAME =Dbairro Dispatcher
PROJECT_PLIST =DbairroInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease

