<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>162084883472-5ood7upu5bl43pdq0uvq10haoph4fp9o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.162084883472-5ood7upu5bl43pdq0uvq10haoph4fp9o</string>
	<key>API_KEY</key>
	<string>AIzaSyClwjNbMR1ey_2kKrN24UKNqulEJrvD1gk</string>
	<key>GCM_SENDER_ID</key>
	<string>162084883472</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Dbairro.Dispatcher</string>
	<key>PROJECT_ID</key>
	<string>dbairro-driver-81aeb</string>
	<key>STORAGE_BUCKET</key>
	<string>dbairro-driver-81aeb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:162084883472:ios:bacd22994c1275a0940e95</string>
</dict>
</plist>