<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>189909929147-1vjbqe912f5su4mpdjk3hssa17plaqi7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.189909929147-1vjbqe912f5su4mpdjk3hssa17plaqi7</string>
	<key>API_KEY</key>
	<string>AIzaSyAXtwRDLtmSpYdBsBFOlBYfHDZ3ygcLxdg</string>
	<key>GCM_SENDER_ID</key>
	<string>189909929147</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Dbairro.DriverApp</string>
	<key>PROJECT_ID</key>
	<string>dbairro-e0b23</string>
	<key>STORAGE_BUCKET</key>
	<string>dbairro-e0b23.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:189909929147:ios:b459014881083508052d9e</string>
</dict>
</plist>