#include "Pods/Target Support Files/Pods-available_pods-IPicknDrop/Pods-available_pods-IPicknDrop.release.xcconfig"


PROJECT_BUNDLE_ID = com.IPicknDrop.Dispatch
PROJECT_APP_VERSION = 1.1
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =IPD Driver
PROJECT_PLIST =IPicknDropInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
