<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>187062036827-0a2p0qf535beo2pvft2uf1l672dj6e61.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.187062036827-0a2p0qf535beo2pvft2uf1l672dj6e61</string>
	<key>API_KEY</key>
	<string>AIzaSyCeHdMIX4xHATLY6aUPPv7YUhGSS7_WwBI</string>
	<key>GCM_SENDER_ID</key>
	<string>187062036827</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.elentamart.dispatcher</string>
	<key>PROJECT_ID</key>
	<string>elentamart-dispatcher</string>
	<key>STORAGE_BUCKET</key>
	<string>elentamart-dispatcher.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:187062036827:ios:2dc26edbdf4caf2982127e</string>
</dict>
</plist>