#include "Pods/Target Support Files/Pods-BoozieDoozie/Pods-BoozieDoozie.debug.xcconfig"


PROJECT_BUNDLE_ID = com.BoozieDoozie.Dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 4
PROJECT_APP_NAME =Boozie Doozie Dispatch
PROJECT_PLIST =BoozieDoozieInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
