<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1005532602000-alrivtiql84ruua97pph6l5i6befh538.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1005532602000-alrivtiql84ruua97pph6l5i6befh538</string>
	<key>API_KEY</key>
	<string>AIzaSyD_9C9fJU2QmrokHMeW97CDGqqb-E3eZ_s</string>
	<key>GCM_SENDER_ID</key>
	<string>1005532602000</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Smile.Dispatch</string>
	<key>PROJECT_ID</key>
	<string>smile-dispatch</string>
	<key>STORAGE_BUCKET</key>
	<string>smile-dispatch.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1005532602000:ios:8cb5497fa442f46fbdc215</string>
</dict>
</plist>