#include "Pods/Target Support Files/Pods-available_pods-Deliverstat/Pods-available_pods-Deliverstat.debug.xcconfig"

PROJECT_BUNDLE_ID = com.Deliverstat.Dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 6
PROJECT_APP_NAME = Deliverstat
PROJECT_PLIST = DeliverstatInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
