#include "Pods/Target Support Files/Pods-available_pods-GreenCab/Pods-available_pods-GreenCab.debug.xcconfig"


PROJECT_BUNDLE_ID = com.greenCab.royodispatcher
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =GreenCab Dispatcher
PROJECT_PLIST =GreenCabInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
