#include "Pods/Target Support Files/Pods-available_pods-Cartnar/Pods-available_pods-Cartnar.release.xcconfig"

PROJECT_BUNDLE_ID = com.Cartnar.Dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 2
PROJECT_APP_NAME =Cartnar Dispatch
PROJECT_PLIST =CartnarInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
