#include "Pods/Target Support Files/Pods-available_pods-Jetrider/Pods-available_pods-Jetrider.debug.xcconfig"


PROJECT_BUNDLE_ID = com.JetRider.Dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =Jet Rider Dispatch
PROJECT_PLIST =JetriderInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
