#include "Pods/Target Support Files/Pods-available_pods-SamakeeMart/Pods-available_pods-SamakeeMart.debug.xcconfig"


PROJECT_BUNDLE_ID = com.SamakeeMart.Dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 2
PROJECT_APP_NAME =SamakeeMart Dispatch
PROJECT_PLIST =SamakeeMartInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
