#include "Pods/Target Support Files/Pods-available_pods-SamakeeMart/Pods-available_pods-SamakeeMart.release.xcconfig"


PROJECT_BUNDLE_ID = com.SamakeeMart.Dispatcher
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 3
PROJECT_APP_NAME =SamakeeMart Dispatch
PROJECT_PLIST =SamakeeMartInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
