<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>100144117339-3m0ao9eohq0g4ga4kk7go0n9i5m2r4n7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.100144117339-3m0ao9eohq0g4ga4kk7go0n9i5m2r4n7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>100144117339-aaik8hj40ni0mmm72ush4dqivcsvpmk7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCYOXtdigp4740pExjkzxMwb4YoyjZqnsQ</string>
	<key>GCM_SENDER_ID</key>
	<string>100144117339</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.App.UFood.Dispatcher</string>
	<key>PROJECT_ID</key>
	<string>ufood-9fb98</string>
	<key>STORAGE_BUCKET</key>
	<string>ufood-9fb98.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:100144117339:ios:e6f079735c2ba31e85b17e</string>
</dict>
</plist>