#include "Pods/Target Support Files/Pods-available_pods-Fairexpay/Pods-available_pods-Fairexpay.release.xcconfig"


PROJECT_BUNDLE_ID = com.Fairexpay.Dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 3
PROJECT_APP_NAME =Fairexpay Dispatcher
PROJECT_PLIST =FairexpayInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
