<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
 <key>CLIENT_ID</key>
 <string>227225446903-93a7dsojeuv6kbud5n6r89j7un40j1vr.apps.googleusercontent.com</string>
 <key>REVERSED_CLIENT_ID</key>
 <string>com.googleusercontent.apps.227225446903-93a7dsojeuv6kbud5n6r89j7un40j1vr</string>
 <key>API_KEY</key>
 <string>AIzaSyD4A1yGvAHaOz_G4yu6ZhWem8xJH_xVImo</string>
 <key>GCM_SENDER_ID</key>
 <string>227225446903</string>
 <key>PLIST_VERSION</key>
 <string>1</string>
 <key>BUNDLE_ID</key>
 <string>com.fairex.driver</string>
 <key>PROJECT_ID</key>
 <string>fairex-driver</string>
 <key>STORAGE_BUCKET</key>
 <string>fairex-driver.appspot.com</string>
 <key>IS_ADS_ENABLED</key>
 <false></false>
 <key>IS_ANALYTICS_ENABLED</key>
 <false></false>
 <key>IS_APPINVITE_ENABLED</key>
 <true></true>
 <key>IS_GCM_ENABLED</key>
 <true></true>
 <key>IS_SIGNIN_ENABLED</key>
 <true></true>
 <key>GOOGLE_APP_ID</key>
 <string>1:227225446903:ios:c7adb2641f0d8abef6e6f2</string>
</dict>
</plist>
