<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>950009529673-r5b762vp6fp4u732l358fo6tmd0l9m1i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.950009529673-r5b762vp6fp4u732l358fo6tmd0l9m1i</string>
	<key>API_KEY</key>
	<string>AIzaSyDoadFU3Mr3gv2gPY0Vv3HCcdwY8towqNM</string>
	<key>GCM_SENDER_ID</key>
	<string>950009529673</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.swipeDriver</string>
	<key>PROJECT_ID</key>
	<string>swipe-dispatcher</string>
	<key>STORAGE_BUCKET</key>
	<string>swipe-dispatcher.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:950009529673:ios:291e7656e27f0ff44b8698</string>
</dict>
</plist>