#include "Pods/Target Support Files/Pods-available_pods-Tumbak/Pods-available_pods-Tumbak.release.xcconfig"


PROJECT_BUNDLE_ID = com.Tumbak.Dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =Tumbak Dispatcher
PROJECT_PLIST =TumbakInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
