<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>702002969743-79a75tf2b9al6uojmtpo4rp6mu6nvojl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.702002969743-79a75tf2b9al6uojmtpo4rp6mu6nvojl</string>
	<key>API_KEY</key>
	<string>AIzaSyAcBUn-0rTmaaC_4k8sd9UUDNQDEWij53A</string>
	<key>GCM_SENDER_ID</key>
	<string>702002969743</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rumbella.royodispatcher</string>
	<key>PROJECT_ID</key>
	<string>rumbella-driver</string>
	<key>STORAGE_BUCKET</key>
	<string>rumbella-driver.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:702002969743:ios:705f011b65c464ef4004fa</string>
</dict>
</plist>