#include "Pods/Target Support Files/Pods-DoleyPharmacy/Pods-DoleyPharmacy.debug.xcconfig"


PROJECT_BUNDLE_ID = com.DoleyPharmacy.Dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =DoleyPharmacy Dispatch
PROJECT_PLIST =DoleyPharmacyInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
