<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>880393908864-ugf6v10qi82amk22jn50rjvv65buge7j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.880393908864-ugf6v10qi82amk22jn50rjvv65buge7j</string>
	<key>API_KEY</key>
	<string>AIzaSyAf6q6Gs3D5tSi6NAxpSBJBSVKebJWGbQ4</string>
	<key>GCM_SENDER_ID</key>
	<string>880393908864</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stargaze.dispatcher</string>
	<key>PROJECT_ID</key>
	<string>stargaze-driver</string>
	<key>STORAGE_BUCKET</key>
	<string>stargaze-driver.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:880393908864:ios:d1368d7f0b5934be9e6c65</string>
</dict>
</plist>