<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBuzqaQpi73Z-thnZ77Mj244WUuVyJsA1E</string>
	<key>GCM_SENDER_ID</key>
	<string>525107289765</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dispatch.hubdrives</string>
	<key>PROJECT_ID</key>
	<string>hubdriver-chauffer</string>
	<key>STORAGE_BUCKET</key>
	<string>hubdriver-chauffer.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:525107289765:ios:a1bf4e228701f6baadf74c</string>
</dict>
</plist>