#include "Pods/Target Support Files/Pods-available_pods-HubDrives/Pods-available_pods-HubDrives.debug.xcconfig"


PROJECT_BUNDLE_ID = com.dispatch.hubdrives
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME = Restocare
PROJECT_PLIST =HubDrivesInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
CODE_PUSH_KEY = 9In50ac7d39jIdCIrBe7gig345pUiuGdwzUHC

