#include "Pods/Target Support Files/Pods-available_pods-Locate/Pods-available_pods-Locate.release.xcconfig"

PROJECT_BUNDLE_ID =  com.royodispatcher.locate
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 3
PROJECT_APP_NAME = Locate Driver
PROJECT_PLIST = LocateInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease

