<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>222806245322-hgtde4i88l6v4ed4i8ge5nmklth2g68m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.222806245322-hgtde4i88l6v4ed4i8ge5nmklth2g68m</string>
	<key>API_KEY</key>
	<string>AIzaSyAIqHSwQy7vCqCRJHupsQn0S5Bnnv3Bu0c</string>
	<key>GCM_SENDER_ID</key>
	<string>222806245322</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.HemptyFy.Dispatch</string>
	<key>PROJECT_ID</key>
	<string>royo-dispatcher-d5033</string>
	<key>STORAGE_BUCKET</key>
	<string>royo-dispatcher-d5033.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:222806245322:ios:6f8d0ac5ee357cb1589933</string>
</dict>
</plist>