
#include "Pods/Target Support Files/Pods-available_pods-KaribaMart/Pods-available_pods-KaribaMart.debug.xcconfig"


PROJECT_BUNDLE_ID = com.karibaMart.dispatcher
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 2
PROJECT_APP_NAME =KaribaMart Dispatcher
PROJECT_PLIST =KaribaMartInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
