#include "Pods/Target Support Files/Pods-available_pods-Novamad/Pods-available_pods-Novamad.release.xcconfig"


PROJECT_BUNDLE_ID = com.novamed.royodispatcher
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =Novamad Dispatcher
PROJECT_PLIST =NovamadInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
