<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>42258375824-h2fkd483nbn5noji3mea2onk9fs7pgp5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.42258375824-h2fkd483nbn5noji3mea2onk9fs7pgp5</string>
	<key>API_KEY</key>
	<string>AIzaSyC9hh_q2SK1kdiJdTMbhRXLEurryfyO3AQ</string>
	<key>GCM_SENDER_ID</key>
	<string>42258375824</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.potolo.royodispatcher</string>
	<key>PROJECT_ID</key>
	<string>potolo-driver</string>
	<key>STORAGE_BUCKET</key>
	<string>potolo-driver.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:42258375824:ios:c09cbac672c5ae0ab7a415</string>
</dict>
</plist>