#include "Pods/Target Support Files/Pods-available_pods-ICabPro/Pods-available_pods-IcabPro.debug.xcconfig"


PROJECT_BUNDLE_ID = com.royodispatcher.icabPro
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =I-Cab Pro Dispatcher
PROJECT_PLIST =ICabProInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
