#include "Pods/Target Support Files/Pods-available_pods-Fides/Pods-available_pods-Fides.release.xcconfig"



PROJECT_BUNDLE_ID = com.Fides.Dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 4
PROJECT_APP_NAME =Fides Dispatcher
PROJECT_PLIST =FidesInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
