#include "Pods/Target Support Files/Pods-available_pods-Privatepremiumpickups/Pods-available_pods-Privatepremiumpickups.debug.xcconfig"


PROJECT_BUNDLE_ID = com.PrivatePremiumPickups.Dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =PrivatePremiumPickups Dispatcher
PROJECT_PLIST =PrivatePremiumPickupsInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease


