<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>938225665096-ut2pbo905trpccvq3ve8e2j19vrpeqo5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.938225665096-ut2pbo905trpccvq3ve8e2j19vrpeqo5</string>
	<key>API_KEY</key>
	<string>AIzaSyAjiopd0SgxNLDq72VMx2obnWYeUjZ2E5Y</string>
	<key>GCM_SENDER_ID</key>
	<string>938225665096</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.YogoLift.Dispatcher</string>
	<key>PROJECT_ID</key>
	<string>yogolift-driver</string>
	<key>STORAGE_BUCKET</key>
	<string>yogolift-driver.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:938225665096:ios:bb3e4b9e99f37549b5447d</string>
</dict>
</plist>