#include "Pods/Target Support Files/Pods-available_pods-YogoLift/Pods-available_pods-YogoLift.release.xcconfig"


PROJECT_BUNDLE_ID = com.YogoLift.Dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 2
PROJECT_APP_NAME =YogoLift Dispatch
PROJECT_PLIST =YogoLiftInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
