#include "Pods/Target Support Files/Pods-available_pods-YogoLift/Pods-available_pods-YogoLift.release.xcconfig"


PROJECT_BUNDLE_ID = com.YogoLift.Dispatcher
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =YogoLift Driver
PROJECT_PLIST =YogoLiftInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
