<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>427439587200-tgl7lg1jesrf5gqis7smsgkdrc0r5kne.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.427439587200-tgl7lg1jesrf5gqis7smsgkdrc0r5kne</string>
	<key>API_KEY</key>
	<string>AIzaSyCS5esEvwc9XfAq-PEcmLcjp8Xnfr11Uc0</string>
	<key>GCM_SENDER_ID</key>
	<string>427439587200</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vdu.driverApp</string>
	<key>PROJECT_ID</key>
	<string>vdu-dispatcher-18c79</string>
	<key>STORAGE_BUCKET</key>
	<string>vdu-dispatcher-18c79.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:427439587200:ios:36499092b91c94fd334b65</string>
</dict>
</plist>