<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1008364371059-00d9772j4u5096gv6fp8ampq6i1bfu7m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1008364371059-00d9772j4u5096gv6fp8ampq6i1bfu7m</string>
	<key>API_KEY</key>
	<string>AIzaSyCJ1Wp379xyjPmXxFVc7kC4uLoCzZ9kXpw</string>
	<key>GCM_SENDER_ID</key>
	<string>1008364371059</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vdu.dispatcher</string>
	<key>PROJECT_ID</key>
	<string>vdu-dispatcher</string>
	<key>STORAGE_BUCKET</key>
	<string>vdu-dispatcher.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1008364371059:ios:99356d9b60142b13cdbe06</string>
</dict>
</plist>