<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>913631928039-fc6vlcn25q69t4ucuombsntqlimfujq8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.913631928039-fc6vlcn25q69t4ucuombsntqlimfujq8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>913631928039-21l31m2hhf5hteq341vuppgpu596nd67.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBsqYHdrz5ysdXz3CuEuLhPv475GNFG9hg</string>
	<key>GCM_SENDER_ID</key>
	<string>913631928039</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.yummiidash.Dispatch</string>
	<key>PROJECT_ID</key>
	<string>yummii-dash</string>
	<key>STORAGE_BUCKET</key>
	<string>yummii-dash.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:913631928039:ios:fe654644d90489faa38c42</string>
</dict>
</plist>