<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>302711863226-a8sl4hlmng5g09lbfsibr39l8rp2bpbv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.302711863226-a8sl4hlmng5g09lbfsibr39l8rp2bpbv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>302711863226-6h320d70bjgaghjl9ts6att9h6ed7rq5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDUu3wOI052bkjwq3ubYm9woTZpY386LKs</string>
	<key>GCM_SENDER_ID</key>
	<string>302711863226</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Drus.Dispatch</string>
	<key>PROJECT_ID</key>
	<string>royo-dispatcher-d3081</string>
	<key>STORAGE_BUCKET</key>
	<string>royo-dispatcher-d3081.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:302711863226:ios:fc591195f1fb18507a4f83</string>
</dict>
</plist>