#include "Pods/Target Support Files/Pods-available_pods-SwiftandValu/Pods-available_pods-SwiftandValu.debug.xcconfig"


PROJECT_BUNDLE_ID = com.SwiftandValu.Dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =Swift and Valu Dispatch
PROJECT_PLIST =SwiftandValuInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease



