#include "Pods/Target Support Files/Pods-available_pods-EatHalal/Pods-available_pods-EatHalal.release.xcconfig"


PROJECT_BUNDLE_ID = com.eatHalal.royodispatcher
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 3
PROJECT_APP_NAME =EatHalal Dispatcher
PROJECT_PLIST =EatHalalInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
