#include "Pods/Target Support Files/Pods-available_pods-ValleyMeats/Pods-available_pods-ValleyMeats.release.xcconfig"


PROJECT_BUNDLE_ID = com.valleymeats.dispatcher
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =ValleyMeats Dispatcher
PROJECT_PLIST =ValleyMeatsInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
