#include "Pods/Target Support Files/Pods-available_pods-WaterTaxi/Pods-available_pods-WaterTaxi.release.xcconfig"

PROJECT_BUNDLE_ID = com.WaterTaxi.Dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =WaterTaxi Dispatch
PROJECT_PLIST =WaterTaxiInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease

