<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>731143342818-r01in8lskral5qg947mk9up5g9e5cnav.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.731143342818-r01in8lskral5qg947mk9up5g9e5cnav</string>
	<key>API_KEY</key>
	<string>AIzaSyBJx2XPSq9J4IA1t2s0nmC6yANkA3wzqnY</string>
	<key>GCM_SENDER_ID</key>
	<string>731143342818</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Ryde.Dispatch</string>
	<key>PROJECT_ID</key>
	<string>ryde-dispatch</string>
	<key>STORAGE_BUCKET</key>
	<string>ryde-dispatch.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:731143342818:ios:5609f020395613d303ecbb</string>
</dict>
</plist>