#include "Pods/Target Support Files/Pods-available_pods-UsVetsDeliver/Pods-available_pods-UsVetsDeliver.debug.xcconfig"

PROJECT_BUNDLE_ID =  com.royodispatcher.usVetsDeliver
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 2
PROJECT_APP_NAME = usVetsDeliver Driver
PROJECT_PLIST = UsVetsDeliverInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease

