#include "Pods/Target Support Files/Pods-available_pods-BeachHop/Pods-available_pods-BeachHop.debug.xcconfig"

PROJECT_BUNDLE_ID = com.BeachHop.Dispatcher
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 2
PROJECT_APP_NAME =BeachHop Dispatcher
PROJECT_PLIST =BeachHopInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
