<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1064634340878-5fot4ga3hnim6pg0u53v670buaki0ie5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1064634340878-5fot4ga3hnim6pg0u53v670buaki0ie5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1064634340878-4r528208phtr0mkuin0le0vp1iqh8nkj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBb7DmHSNOBCm15dPCfPFQrFj_QjVxEFf0</string>
	<key>GCM_SENDER_ID</key>
	<string>1064634340878</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.BeachHop.Dispatcher</string>
	<key>PROJECT_ID</key>
	<string>royodispatcher9</string>
	<key>STORAGE_BUCKET</key>
	<string>royodispatcher9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1064634340878:ios:6318fc8d5d7dcca0670e5f</string>
</dict>
</plist>