<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>623874445577-jik1c90pqk75sjveivg69gmd5r3e2p8o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.623874445577-jik1c90pqk75sjveivg69gmd5r3e2p8o</string>
	<key>API_KEY</key>
	<string>AIzaSyAzK2sWfbjGckJr8lg-bs8uzxHCaUsv4YQ</string>
	<key>GCM_SENDER_ID</key>
	<string>623874445577</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zozozi.dispatcher</string>
	<key>PROJECT_ID</key>
	<string>zozozi-driver</string>
	<key>STORAGE_BUCKET</key>
	<string>zozozi-driver.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:623874445577:ios:9702e83c9620a119fb83d8</string>
</dict>
</plist>