#include "Pods/Target Support Files/Pods-available_pods-EarnApp/Pods-available_pods-EarnApp.debug.xcconfig"

PROJECT_BUNDLE_ID =  com.earnApp.royodisaptcher
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME = EarnApp Driver
PROJECT_PLIST = EarnAppInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease

