<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>980580827700-0645g4rof91isk34c4hbh29h9utbscgl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.980580827700-0645g4rof91isk34c4hbh29h9utbscgl</string>
	<key>API_KEY</key>
	<string>AIzaSyDwMPkKPXVhAsf7fWxP2m-S7z8KMdowtU0</string>
	<key>GCM_SENDER_ID</key>
	<string>980580827700</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.earnApp.royodisaptcher</string>
	<key>PROJECT_ID</key>
	<string>earnapp-driver</string>
	<key>STORAGE_BUCKET</key>
	<string>earnapp-driver.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:980580827700:ios:7ffdbc1fd1fa8756678061</string>
</dict>
</plist>