#include "Pods/Target Support Files/Pods-available_pods-Delivery/Pods-available_pods-Delivery.release.xcconfig"

PROJECT_BUNDLE_ID = com.gdotDelivery.driver
PROJECT_APP_VERSION = 1.2
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =G Dot Delivery Dispatch
PROJECT_PLIST =DeliveryInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
