<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>935668653392-o348c1ulngqp4cmg15ho7sc6ld2m05fm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.935668653392-o348c1ulngqp4cmg15ho7sc6ld2m05fm</string>
	<key>API_KEY</key>
	<string>AIzaSyBBOzTmor3gT1hPTmq-MAxoGImaB0BgLl0</string>
	<key>GCM_SENDER_ID</key>
	<string>935668653392</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gdotDelivery.driver</string>
	<key>PROJECT_ID</key>
	<string>gdotdelivery-driver</string>
	<key>STORAGE_BUCKET</key>
	<string>gdotdelivery-driver.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:935668653392:ios:48326ba518c3673d592055</string>
</dict>
</plist>