#include "Pods/Target Support Files/Pods-available_pods-NaDelivery/Pods-available_pods-NaDelivery.release.xcconfig"

PROJECT_BUNDLE_ID = com.NaDelivery.Dispatcher
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 2
PROJECT_APP_NAME =Na Delivery Driver
PROJECT_PLIST =NaDeliveryInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
