#include "Pods/Target Support Files/Pods-available_pods-NaDelivery/Pods-available_pods-NaDelivery.debug.xcconfig"


PROJECT_BUNDLE_ID = com.NaDelivery.Dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 5
PROJECT_APP_NAME =Na Delivery Dispatch
PROJECT_PLIST =NaDeliveryInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
