#include "Pods/Target Support Files/Pods-available_pods-Bluebolt/Pods-available_pods-Bluebolt.debug.xcconfig"


PROJECT_BUNDLE_ID = com.Bluebolt.Dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 6
PROJECT_APP_NAME =Bluebolt Dispatcher
PROJECT_PLIST =BlueboltInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
