#include "Pods/Target Support Files/Pods-available_pods-SXM2GO/Pods-available_pods-SXM2GO.release.xcconfig"


PROJECT_BUNDLE_ID = com.SXM2GO.driverApp
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =SXM2GO Driver
PROJECT_PLIST =SXM2GOInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
