#include "Pods/Target Support Files/Pods-available_pods-EnsoDigitalAgencydispatcherRelease/Pods-available_pods-EnsoDigitalAgencydispatcherRelease.release.xcconfig"

PROJECT_BUNDLE_ID = com.EnsoDigitalAgency.Dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =EnsoDigitalAgency Dispatch
PROJECT_PLIST =EnsoDigitalAgencyInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease


