<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>817994139657-cnsp3dq2dc1b7138lramp1ts676tut0t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.817994139657-cnsp3dq2dc1b7138lramp1ts676tut0t</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>817994139657-l18thd2vs58kpvleb121j34u731m0voq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAI_8yZIVWyJ-1Cro0a3IrDac7HCXs29Ms</string>
	<key>GCM_SENDER_ID</key>
	<string>817994139657</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.LoopWhole.Dispatch</string>
	<key>PROJECT_ID</key>
	<string>royo-dispatcher-28d93</string>
	<key>STORAGE_BUCKET</key>
	<string>royo-dispatcher-28d93.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:817994139657:ios:69f8ba4fe43f22dcde10d8</string>
</dict>
</plist>