#include "Pods/Target Support Files/Pods-available_pods-LoopWhole/Pods-available_pods-LoopWhole.release.xcconfig"

PROJECT_BUNDLE_ID = com.LoopWhole.Dispatcher
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 2
PROJECT_APP_NAME =LoopWhole Dispatch
PROJECT_PLIST = LoopWholeInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease



