#include "Pods/Target Support Files/Pods-available_pods-Awamer/Pods-available_pods-Awamer.release.xcconfig"


PROJECT_BUNDLE_ID = com.awamer.royodispatcher
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =Awamer Dispatcher
PROJECT_PLIST =AwamerInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
