<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>494875001148-417rcsjr3jilor5g3fbjhp7m73cbssfm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.494875001148-417rcsjr3jilor5g3fbjhp7m73cbssfm</string>
	<key>API_KEY</key>
	<string>AIzaSyACijeXbs3-SiPHhnuHawPXWgS9KMIweNU</string>
	<key>GCM_SENDER_ID</key>
	<string>494875001148</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.awamer.royodispatcher</string>
	<key>PROJECT_ID</key>
	<string>awamer-dispatcher</string>
	<key>STORAGE_BUCKET</key>
	<string>awamer-dispatcher.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:494875001148:ios:0c34aad988450c9c2b5e39</string>
</dict>
</plist>