#include "Pods/Target Support Files/Pods-available_pods-MyMeddy/Pods-available_pods-MyMeddy.debug.xcconfig"

PROJECT_BUNDLE_ID =  com.royodispatcher.myMeddy
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME = My Meddy Driver
PROJECT_PLIST = MyMeddyInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease

