#include "Pods/Target Support Files/Pods-available_pods-Tranzit/Pods-available_pods-Tranzit.release.xcconfig"


PROJECT_BUNDLE_ID =  com.Tranzit.Dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 6
PROJECT_APP_NAME = Tranzit Driver
PROJECT_PLIST = TranzitInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease

