<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1069264526601-jq1lammg4h0nqqos2inlrqt7i3tnlq3g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1069264526601-jq1lammg4h0nqqos2inlrqt7i3tnlq3g</string>
	<key>API_KEY</key>
	<string>AIzaSyBEeLYVM-4V5XCAHE4Dxv3LdwsAX9-quZI</string>
	<key>GCM_SENDER_ID</key>
	<string>1069264526601</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nool.royodispatcher</string>
	<key>PROJECT_ID</key>
	<string>nool-dispatcher</string>
	<key>STORAGE_BUCKET</key>
	<string>nool-dispatcher.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1069264526601:ios:a6d0d82229c82d0ca287d8</string>
</dict>
</plist>