<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>44243896619-kc6qo9b4caejg6eki516tkq49s2afvk7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.44243896619-kc6qo9b4caejg6eki516tkq49s2afvk7</string>
	<key>API_KEY</key>
	<string>AIzaSyAAUKWyElx8d5aJPos45gJqlzReV00P_9A</string>
	<key>GCM_SENDER_ID</key>
	<string>44243896619</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pawsee.dispatcher</string>
	<key>PROJECT_ID</key>
	<string>pawsee-b2608</string>
	<key>STORAGE_BUCKET</key>
	<string>pawsee-b2608.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:44243896619:ios:40c3251338864549a61d6e</string>
</dict>
</plist>