#include "Pods/Target Support Files/Pods-available_pods-Pawsee/Pods-available_pods-Pawsee.debug.xcconfig"


PROJECT_BUNDLE_ID = com.pawsee.dispatcher
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =Pawsee Dispatcher
PROJECT_PLIST =PawseeInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
