#include "Pods/Target Support Files/Pods-available_pods-Zest/Pods-available_pods-Zest.release.xcconfig"

PROJECT_BUNDLE_ID = com.Zest.Dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 17
PROJECT_APP_NAME =Zest Dispatch
PROJECT_PLIST =ZestInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
CODE_PUSH_KEY = w2mEyhN4yFjEwW9ccyriQnRIzEWE8og0r2U_B
