#include "Pods/Target Support Files/Pods-available_pods-Bocch/Pods-available_pods-Bocch.debug.xcconfig"

PROJECT_BUNDLE_ID = com.bocch.royodispatcher
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME = Bocch Driver
PROJECT_PLIST = BocchInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease

