#include "Pods/Target Support Files/Pods-available_pods-Zynoride/Pods-available_pods-Zynoride.release.xcconfig"


PROJECT_BUNDLE_ID = com.zynoride.royodispatcher
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =Zynoride Dispatcher
PROJECT_PLIST =ZynorideInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
