#include "Pods/Target Support Files/Pods-available_pods-RideShare/Pods-available_pods-RideShare.release.xcconfig"

PROJECT_BUNDLE_ID = com.RideShare.Dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 3
PROJECT_APP_NAME =Classic Cab Dispatch
PROJECT_PLIST =RideShareInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
