<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>115455893507-ph1nqg0s20b9s8h58713ang5ehs338ku.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.115455893507-ph1nqg0s20b9s8h58713ang5ehs338ku</string>
	<key>API_KEY</key>
	<string>AIzaSyDLfERcRSUsRLFREubXYLyrMtznMdJsY1g</string>
	<key>GCM_SENDER_ID</key>
	<string>115455893507</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stabex.driver</string>
	<key>PROJECT_ID</key>
	<string>stabex-driver-5f850</string>
	<key>STORAGE_BUCKET</key>
	<string>stabex-driver-5f850.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:115455893507:ios:e8db5cf344e1a26c33ae36</string>
</dict>
</plist>