<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>481619401148-736knva4hdtdabbcjus993fpr9fimp7n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.481619401148-736knva4hdtdabbcjus993fpr9fimp7n</string>
	<key>API_KEY</key>
	<string>AIzaSyDXp9Ckf7radyeC-t0xqMeFm7yNSyTD0T0</string>
	<key>GCM_SENDER_ID</key>
	<string>481619401148</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.royodispatcher.stabex</string>
	<key>PROJECT_ID</key>
	<string>stabex-driver</string>
	<key>STORAGE_BUCKET</key>
	<string>stabex-driver.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:481619401148:ios:e0aece82e936716a13f3b9</string>
</dict>
</plist>