<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>138230944522-kpaujc4eak43e2ahkdk5kmhgm43erfp9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.138230944522-kpaujc4eak43e2ahkdk5kmhgm43erfp9</string>
	<key>API_KEY</key>
	<string>AIzaSyBVFkLAkA6iGQ3O_0WCLA2j1UfPYXzeBEM</string>
	<key>GCM_SENDER_ID</key>
	<string>138230944522</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.royoRides.driver</string>
	<key>PROJECT_ID</key>
	<string>royorides-dispatcher</string>
	<key>STORAGE_BUCKET</key>
	<string>royorides-dispatcher.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:138230944522:ios:1e4a9cc56d8565c97920f3</string>
</dict>
</plist>