#include "Pods/Target Support Files/Pods-available_pods-MarjMarketplace/Pods-available_pods-MarjMarketplace.release.xcconfig"

PROJECT_BUNDLE_ID = com.MarjMarketplace.Dispatcher
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 5
PROJECT_APP_NAME =MarjMarketplace Dispatch
PROJECT_PLIST =MarjMarketplaceInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
