<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>891895517406-usruekls672khdl7su8fups7plit7h8s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.891895517406-usruekls672khdl7su8fups7plit7h8s</string>
	<key>API_KEY</key>
	<string>AIzaSyBn1piW7OaXNFOpglzYGY-rfMaGvgjJbl8</string>
	<key>GCM_SENDER_ID</key>
	<string>891895517406</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cattch.royodispatcher</string>
	<key>PROJECT_ID</key>
	<string>cattch-dispatcher</string>
	<key>STORAGE_BUCKET</key>
	<string>cattch-dispatcher.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:891895517406:ios:e050467d30d2134a0a724f</string>
</dict>
</plist>