#include "Pods/Target Support Files/Pods-available_pods-ClickOKart/Pods-available_pods-ClickOKart.debug.xcconfig"


PROJECT_BUNDLE_ID = com.clickOkart.royodispatcher
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =CLICKOKART Driver
PROJECT_PLIST =ClickOkartInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
