<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>90142873647-fe7r08um4autlk7r36b14crsp28ki11h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.90142873647-fe7r08um4autlk7r36b14crsp28ki11h</string>
	<key>API_KEY</key>
	<string>AIzaSyDt7ood7WbxfV1CzQvH4rqA0zi5Tn1bplw</string>
	<key>GCM_SENDER_ID</key>
	<string>90142873647</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.clickOkart.royodispatcher</string>
	<key>PROJECT_ID</key>
	<string>clickokart-c1091</string>
	<key>STORAGE_BUCKET</key>
	<string>clickokart-c1091.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:90142873647:ios:cd63ba6d09c5fa30058eda</string>
</dict>
</plist>