<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>723633740848-71diao9luts81upbsflbnc34s3eodvfi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.723633740848-71diao9luts81upbsflbnc34s3eodvfi</string>
	<key>API_KEY</key>
	<string>AIzaSyCAI12xbFXRvRmSc8-EKkY79CKgZ26Nwz8</string>
	<key>GCM_SENDER_ID</key>
	<string>723633740848</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dotTaxi.royodispatcher</string>
	<key>PROJECT_ID</key>
	<string>dot-taxi-driver</string>
	<key>STORAGE_BUCKET</key>
	<string>dot-taxi-driver.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:723633740848:ios:3443136923701e5d7121f5</string>
</dict>
</plist>