<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>553254648793-kdtil8eerktuc1k1lu9n8mb02rt2fnqf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.553254648793-kdtil8eerktuc1k1lu9n8mb02rt2fnqf</string>
	<key>API_KEY</key>
	<string>AIzaSyCFXjBBew7DcMaJ7rOqFaDK_6apm10zI3U</string>
	<key>GCM_SENDER_ID</key>
	<string>553254648793</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dotTaxi.driver</string>
	<key>PROJECT_ID</key>
	<string>dot-taxi-driver-1b1c9</string>
	<key>STORAGE_BUCKET</key>
	<string>dot-taxi-driver-1b1c9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:553254648793:ios:0b5ca85b8ce6553a2d77c8</string>
</dict>
</plist>