#include "Pods/Target Support Files/Pods-available_pods-Axxi/Pods-available_pods-Axxi.debug.xcconfig"


PROJECT_BUNDLE_ID = com.axxi.royodispatcher
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 2
PROJECT_APP_NAME =AxxiOne Dispatcher
PROJECT_PLIST =AxxiInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
