<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>598863098145-q6gour26q1vlib9c67d6n5cvcrh6u8lb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.598863098145-q6gour26q1vlib9c67d6n5cvcrh6u8lb</string>
	<key>API_KEY</key>
	<string>AIzaSyCvE3Ze0GKK6V-bhbhZrM_w71WeCDz5jHU</string>
	<key>GCM_SENDER_ID</key>
	<string>598863098145</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jeevann.royodispatcher</string>
	<key>PROJECT_ID</key>
	<string>jeevann-dispatcher</string>
	<key>STORAGE_BUCKET</key>
	<string>jeevann-dispatcher.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:598863098145:ios:b591e273012d4caea58e60</string>
</dict>
</plist>