#include "Pods/Target Support Files/Pods-available_pods-Jeevann/Pods-available_pods-Jeevann.debug.xcconfig"


PROJECT_BUNDLE_ID = com.jeevan.driver
PROJECT_APP_VERSION = 1.1
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =Jeevann Driver
PROJECT_PLIST =JeevannInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
