<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>558907969182-iqhd75med6kacci0gctmjq2kb991bqmt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.558907969182-iqhd75med6kacci0gctmjq2kb991bqmt</string>
	<key>API_KEY</key>
	<string>AIzaSyDZpfTll7dBdpI2UuLWph-32lKTb86OmiY</string>
	<key>GCM_SENDER_ID</key>
	<string>558907969182</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ThreadAgain.Dispatch</string>
	<key>PROJECT_ID</key>
	<string>royo-dispatch-f3339</string>
	<key>STORAGE_BUCKET</key>
	<string>royo-dispatch-f3339.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:558907969182:ios:3c5fb9bad477ed1080358f</string>
</dict>
</plist>