#include "Pods/Target Support Files/Pods-available_pods-Meltivers/Pods-available_pods-Meltivers.debug.xcconfig"

PROJECT_BUNDLE_ID = com.Meltivers.Dispatcher
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =Meltivers Dispatch
PROJECT_PLIST =MeltiversInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease

