#include "Pods/Target Support Files/Pods-available_pods-GasGiant/Pods-available_pods-GasGiant.debug.xcconfig"


PROJECT_BUNDLE_ID = com.GasGiant.Dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 5
PROJECT_APP_NAME =Gas Giant Dispatch
PROJECT_PLIST =GasGiantInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
