#include "Pods/Target Support Files/Pods-available_pods-Scootz/Pods-available_pods-Scootz.debug.xcconfig"

PROJECT_BUNDLE_ID = com.App.Scootz.Dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =Scootz Dispatcher
PROJECT_PLIST =ScootzInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
