#include "Pods/Target Support Files/Pods-available_pods-CarryFood/Pods-available_pods-CarryFood.debug.xcconfig"


PROJECT_BUNDLE_ID = com.carryFood.dispatcher
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 2
PROJECT_APP_NAME =CarryFood Driver
PROJECT_PLIST =CarryFoodInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
