<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>197649752954-vlbcdsaphhnfdon6ol8fvd6nvuls9fbp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.197649752954-vlbcdsaphhnfdon6ol8fvd6nvuls9fbp</string>
	<key>API_KEY</key>
	<string>AIzaSyBZhkcvo75O55Xgt1SQWyiMq967vWuwF_M</string>
	<key>GCM_SENDER_ID</key>
	<string>197649752954</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Tranzit.Dispatcher</string>
	<key>PROJECT_ID</key>
	<string>tranzit-dispatcher-d7ef8</string>
	<key>STORAGE_BUCKET</key>
	<string>tranzit-dispatcher-d7ef8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:197649752954:ios:2b866e2145e23d9624ecc3</string>
</dict>
</plist>