#include "Pods/Target Support Files/Pods-available_pods-Tranzit/Pods-available_pods-Tranzit.debug.xcconfig"

PROJECT_BUNDLE_ID = com.Tranzit.Dispatcher
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 3
PROJECT_APP_NAME =Tranzit Dispatch
PROJECT_PLIST =TranzitInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
