<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>816684811617-k9fg36u1tg3qs67ardkl7plgr16grc5h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.816684811617-k9fg36u1tg3qs67ardkl7plgr16grc5h</string>
	<key>API_KEY</key>
	<string>AIzaSyBhb2jBogsYF03NHqjoyf5zgRawUplfXSs</string>
	<key>GCM_SENDER_ID</key>
	<string>816684811617</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Muvpod.Dispatch</string>
	<key>PROJECT_ID</key>
	<string>muvpod-dispatch</string>
	<key>STORAGE_BUCKET</key>
	<string>muvpod-dispatch.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:816684811617:ios:5d4cd1490146fb645ff120</string>
</dict>
</plist>