#include "Pods/Target Support Files/Pods-available_pods-Muvpod/Pods-available_pods-Muvpod.release.xcconfig"

PROJECT_BUNDLE_ID = com.Muvpod.Dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =Muvpod Dispatch
PROJECT_PLIST =MuvpodInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
