#include "Pods/Target Support Files/Pods-available_pods-HelloDeliver/Pods-available_pods-HelloDeliver.debug.xcconfig"


PROJECT_BUNDLE_ID = com.HelloDeliver.Dispatch
PROJECT_APP_VERSION = 1.1
PROJECT_BUILD_NUMBER = 2
PROJECT_APP_NAME =HelloDeliver Driver
PROJECT_PLIST =HelloDeliverInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease

