#include "Pods/Target Support Files/Pods-available_pods-FresHest/Pods-available_pods-FresHest.release.xcconfig"


PROJECT_BUNDLE_ID = com.fresHest.dispatcher
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 2
PROJECT_APP_NAME =FresHest Dispatcher
PROJECT_PLIST =FresHestInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
