#include "Pods/Target Support Files/Pods-available_pods-OrbitGroup/Pods-available_pods-OrbitGroup.release.xcconfig"

PROJECT_BUNDLE_ID = com.OrbitGroup.Dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 4
PROJECT_APP_NAME =OrbitGroup Dispatch
PROJECT_PLIST =OrbitGroupInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
