<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>638741335932-n4ot16rh027mjfmgd58j0o4ac6tnpgct.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.638741335932-n4ot16rh027mjfmgd58j0o4ac6tnpgct</string>
	<key>API_KEY</key>
	<string>AIzaSyBFkWDIICxrOxcq1o1r2tq5YKb-mbFFta8</string>
	<key>GCM_SENDER_ID</key>
	<string>638741335932</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rescueRoadsideAssistance.dispatcher</string>
	<key>PROJECT_ID</key>
	<string>rescue-roadside-assistance</string>
	<key>STORAGE_BUCKET</key>
	<string>rescue-roadside-assistance.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:638741335932:ios:1fc63af5b698267e369ef9</string>
</dict>
</plist>