
#include "Pods/Target Support Files/Pods-available_pods-RescueRoadsideAssistance/Pods-available_pods-RescueRoadsideAssistance.debug.xcconfig"


PROJECT_BUNDLE_ID = com.rescueRoadsideAssistance.dispatcher
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =Rescue Roadside Assistance Dispatcher
PROJECT_PLIST =RescueRoadsideAssistanceInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
