<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>336506157111-mf55v13h662fkun64mqe6p6nmb5278v1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.336506157111-mf55v13h662fkun64mqe6p6nmb5278v1</string>
	<key>API_KEY</key>
	<string>AIzaSyCRQD4pcW3Yj2NtlDpX4UQoU4fw2DJcxB4</string>
	<key>GCM_SENDER_ID</key>
	<string>336506157111</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.papiruki.driverApp</string>
	<key>PROJECT_ID</key>
	<string>papriruki-driver</string>
	<key>STORAGE_BUCKET</key>
	<string>papriruki-driver.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:336506157111:ios:f2680b7c22d8ebf1bbe7b2</string>
</dict>
</plist>