#include "Pods/Target Support Files/Pods-available_pods-PapiRuki/Pods-available_pods-PapiRuki.debug.xcconfig"

PROJECT_BUNDLE_ID = com.PapiRuki.Dispatcher
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =PapiRuki Dispatch
PROJECT_PLIST =PapiRukiInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
