#include "Pods/Target Support Files/Pods-available_pods-FastMikes/Pods-available_pods-FastMikes.debug.xcconfig"
PROJECT_BUNDLE_ID = com.App.fastMikes.Dispatcher
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 3
PROJECT_APP_NAME =FastMikes Dispatch
PROJECT_PLIST =FastMikesInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease


