<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>358377201723-4kngi7k1tb7p8gi7p0hcvpqct1q5b29j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.358377201723-4kngi7k1tb7p8gi7p0hcvpqct1q5b29j</string>
	<key>API_KEY</key>
	<string>AIzaSyAjp0PqSR-ILZhFTIAbco9OgXpA_nMBO1g</string>
	<key>GCM_SENDER_ID</key>
	<string>358377201723</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.App.fastMikes.Dispatcher</string>
	<key>PROJECT_ID</key>
	<string>fastmikes-dispatch</string>
	<key>STORAGE_BUCKET</key>
	<string>fastmikes-dispatch.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:358377201723:ios:bd16033d3f09db24e73c1e</string>
</dict>
</plist>