#include "Pods/Target Support Files/Pods-available_pods-AlloTaxi/Pods-available_pods-AlloTaxi.release.xcconfig"


PROJECT_BUNDLE_ID = com.AlloTaxi.Dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =Allo Taxi
PROJECT_PLIST =AlloTaxiInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
