#include "Pods/Target Support Files/Pods-available_pods-Donepacked/Pods-available_pods-Donepacked.release.xcconfig"


PROJECT_BUNDLE_ID = com.donepacked.royodispatcher
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 6
PROJECT_APP_NAME =Donepacked Driver
PROJECT_PLIST = DonepackedInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
