<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>375660690911-96cr9hholl4alg7lovdlvl1r1uh9vpsq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.375660690911-96cr9hholl4alg7lovdlvl1r1uh9vpsq</string>
	<key>API_KEY</key>
	<string>AIzaSyD4ltPYxSZlsDsMUsLqqx5IJUtJJ-cVErc</string>
	<key>GCM_SENDER_ID</key>
	<string>375660690911</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.EvsOnTheGo.Dispatch</string>
	<key>PROJECT_ID</key>
	<string>evsonthego-dispatch</string>
	<key>STORAGE_BUCKET</key>
	<string>evsonthego-dispatch.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:375660690911:ios:0b2fd29080731d296f586a</string>
</dict>
</plist>