#include "Pods/Target Support Files/Pods-available_pods-HalaTalabat/Pods-available_pods-HalaTalabat.release.xcconfig"


PROJECT_BUNDLE_ID = com.HalaTalabat.Dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =Hala Talabat Dispatcher
PROJECT_PLIST =HalaTalabatInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
