#include "Pods/Target Support Files/Pods-available_pods-HitchDelivery/Pods-available_pods-HitchDelivery.release.xcconfig"

PROJECT_BUNDLE_ID = com.hitchDelivery.Dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =Hitch Delivery Dispatch
PROJECT_PLIST =HitchDeliveryInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease

