#include "Pods/Target Support Files/Pods-available_pods-Torunz/Pods-available_pods-Torunz.release.xcconfig"


PROJECT_BUNDLE_ID = com.torunz.Dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =Torunz driver
PROJECT_PLIST =TorunzInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
