<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>682016754400-po7epok9j8isagkv0veedhr1oa82pivg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.682016754400-po7epok9j8isagkv0veedhr1oa82pivg</string>
	<key>API_KEY</key>
	<string>AIzaSyCTfb4nKasidwGpSi5guDzE9NpJWsHqeGg</string>
	<key>GCM_SENDER_ID</key>
	<string>682016754400</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.YoloSonic.Dispatch</string>
	<key>PROJECT_ID</key>
	<string>yolosonic-dispatch</string>
	<key>STORAGE_BUCKET</key>
	<string>yolosonic-dispatch.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:682016754400:ios:08051a329f8db5735fde85</string>
</dict>
</plist>
