#include "Pods/Target Support Files/Pods-available_pods-YoloSonic/Pods-available_pods-YoloSonic.release.xcconfig"


PROJECT_BUNDLE_ID = com.YoloSonic.Dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =YoloSonic Dispatcher
PROJECT_PLIST =YoloSonicInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease

