#include "Pods/Target Support Files/Pods-available_pods-Drivree/Pods-available_pods-Drivree.debug.xcconfig"


PROJECT_BUNDLE_ID = com.drivree.Dispatch
PROJECT_APP_VERSION = 1.1
PROJECT_BUILD_NUMBER = 2
PROJECT_APP_NAME =Driveree Dispatcher
PROJECT_PLIST = DrivreeInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease




