#include "Pods/Target Support Files/Pods-available_pods-BlacNetwork/Pods-available_pods-BlacNetwork.debug.xcconfig"


PROJECT_BUNDLE_ID =com.BlacNetwork.Driver
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =BlacNetwork Driver
PROJECT_PLIST =BlacNetworkInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease

