#include "Pods/Target Support Files/Pods-available_pods-WeTogether/Pods-available_pods-WeTogether.debug.xcconfig"


PROJECT_BUNDLE_ID = com.weTogether.Dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 11
PROJECT_APP_NAME =WeTogether Dispatcher
PROJECT_PLIST =WeTogetherInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease




