#include "Pods/Target Support Files/Pods-available_pods-MyEvPlus/Pods-available_pods-MyEvPlus.debug.xcconfig"


PROJECT_BUNDLE_ID = com.myEvPlus.dispatcher
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =My EvPlus Dispatcher
PROJECT_PLIST =MyEvPlusInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
