#include "Pods/Target Support Files/Pods-available_pods-Efectibo/Pods-available_pods-Efectibo.debug.xcconfig"

PROJECT_BUNDLE_ID = com.efectibo.royodispatcher
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME = Efectibo Driver
PROJECT_PLIST = EfectiboInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease

