<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>618102894929-56j97r4e9mamn3tttgn3lsehivre6ab1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.618102894929-56j97r4e9mamn3tttgn3lsehivre6ab1</string>
	<key>API_KEY</key>
	<string>AIzaSyCr8WpksMscfagHirl42pHOZENWaOz_mgA</string>
	<key>GCM_SENDER_ID</key>
	<string>618102894929</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Foodies.Dispatch</string>
	<key>PROJECT_ID</key>
	<string>royodispatcher6</string>
	<key>STORAGE_BUCKET</key>
	<string>royodispatcher6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:618102894929:ios:187ffa73f4931dfc9ce370</string>
	<key>DATABASE_URL</key>
	<string>https://royodispatcher6-default-rtdb.firebaseio.com</string>
</dict>
</plist>