#include "Pods/Target Support Files/Pods-available_pods-AbbeRides/Pods-available_pods-AbbeRides.release.xcconfig"


PROJECT_BUNDLE_ID = com.abbeRides.dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 2
PROJECT_APP_NAME =Abbe Rides Dispatcher
PROJECT_PLIST =AbbeRidesInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
