<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>750377206923-pn70tt9s5v54gnn53jh8bd7f2c684a9q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.750377206923-pn70tt9s5v54gnn53jh8bd7f2c684a9q</string>
	<key>API_KEY</key>
	<string>AIzaSyDu-aLgSQVKR6DOu778KZTdu9kjDYtySWk</string>
	<key>GCM_SENDER_ID</key>
	<string>750377206923</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.abbeRides.dispatch</string>
	<key>PROJECT_ID</key>
	<string>abbe-rides-b1017</string>
	<key>STORAGE_BUCKET</key>
	<string>abbe-rides-b1017.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:750377206923:ios:59b796e33d070811a9008e</string>
</dict>
</plist>