#include "Pods/Target Support Files/Pods-available_pods-Somame/Pods-available_pods-Somame.debug.xcconfig"

PROJECT_BUNDLE_ID = com.SomameApp.Dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =Somame247 Dispatcher
PROJECT_PLIST =SomameInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease


