<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>477237360962-4qq2mljujg6043kesog54iuvrus9f0p5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.477237360962-4qq2mljujg6043kesog54iuvrus9f0p5</string>
	<key>API_KEY</key>
	<string>AIzaSyBGUZjPdTc1Kge0p75Fq88vopqA0PqOMBU</string>
	<key>GCM_SENDER_ID</key>
	<string>477237360962</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.getdress.royodispatcher</string>
	<key>PROJECT_ID</key>
	<string>getdress-dispatcher</string>
	<key>STORAGE_BUCKET</key>
	<string>getdress-dispatcher.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:477237360962:ios:e9f8f539526e0eed6b70db</string>
</dict>
</plist>