<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>491477453205-hnien8ild0uebblm10nif3po307kdteh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.491477453205-hnien8ild0uebblm10nif3po307kdteh</string>
	<key>API_KEY</key>
	<string>AIzaSyAVUYCGyHfXHSIriW0-fr1W3BiIeq6Sr3g</string>
	<key>GCM_SENDER_ID</key>
	<string>491477453205</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lifeHomeFit.royodispatcher</string>
	<key>PROJECT_ID</key>
	<string>lifehomefit-driver</string>
	<key>STORAGE_BUCKET</key>
	<string>lifehomefit-driver.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:491477453205:ios:4039bcf4a7c41be2d6ce9c</string>
</dict>
</plist>