#include "Pods/Target Support Files/Pods-available_pods-LifeHomeFit/Pods-available_pods-LifeHomeFit.release.xcconfig"


PROJECT_BUNDLE_ID = com.lifeHomeFit.royodispatcher
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =Life Home Fit Driver
PROJECT_PLIST =LifeHomeFitInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
