#include "Pods/Target Support Files/Pods-available_pods-Flank/Pods-available_pods-Flank.debug.xcconfig"


PROJECT_BUNDLE_ID = com.flank.royodispatcher
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =Flank Dispatcher
PROJECT_PLIST =FlankInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
