<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>784754942170-kca4i4shail3ugijro07eebqo7bhfnum.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.784754942170-kca4i4shail3ugijro07eebqo7bhfnum</string>
	<key>API_KEY</key>
	<string>AIzaSyAmJ2fNyO4Tu4fMHg0ko821U0M12y44djg</string>
	<key>GCM_SENDER_ID</key>
	<string>784754942170</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flank.royodispatcher</string>
	<key>PROJECT_ID</key>
	<string>flank-dispatcher</string>
	<key>STORAGE_BUCKET</key>
	<string>flank-dispatcher.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:784754942170:ios:42f0f8e70187772a7b05e3</string>
</dict>
</plist>