<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>229953239182-tfm7cne0gql1m7ctu8au8qbie1ikkme4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.229953239182-tfm7cne0gql1m7ctu8au8qbie1ikkme4</string>
	<key>API_KEY</key>
	<string>AIzaSyAHu4U0PRbrD6g8QzPcnEOfeHRnDZi-NJs</string>
	<key>GCM_SENDER_ID</key>
	<string>229953239182</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.CannabusExpress.Dispatcher</string>
	<key>PROJECT_ID</key>
	<string>cannabus-dispatcher</string>
	<key>STORAGE_BUCKET</key>
	<string>cannabus-dispatcher.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:229953239182:ios:17e7f268924b60cc6731df</string>
</dict>
</plist>