<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>991257286999-053g1kdga4sau6ne0vqf53ilokjcj215.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.991257286999-053g1kdga4sau6ne0vqf53ilokjcj215</string>
	<key>API_KEY</key>
	<string>AIzaSyDERa1a1XtZjUw_QtKDPHgASEVq0X9S_PQ</string>
	<key>GCM_SENDER_ID</key>
	<string>991257286999</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rota.dispatcher</string>
	<key>PROJECT_ID</key>
	<string>rota-74042</string>
	<key>STORAGE_BUCKET</key>
	<string>rota-74042.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:991257286999:ios:aa8014fa719381cbb90612</string>
</dict>
</plist>