#include "Pods/Target Support Files/Pods-available_pods-ParcelWorks/Pods-available_pods-ParcelWorks.debug.xcconfig"

PROJECT_BUNDLE_ID =  com.royodispatcher.parcelWorks
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 4
PROJECT_APP_NAME = ParcelWorks Driver
PROJECT_PLIST = ParcelWorksInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease

