<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>425059068365-fbtd927mn524b2mc6qkr72ndooudn7v1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.425059068365-fbtd927mn524b2mc6qkr72ndooudn7v1</string>
	<key>API_KEY</key>
	<string>AIzaSyBHQiPIbY82i8DUzFYeDDUcLuAZ8bhhd4g</string>
	<key>GCM_SENDER_ID</key>
	<string>425059068365</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.whatchaGotPckUp.royodispatcher</string>
	<key>PROJECT_ID</key>
	<string>whatchagotpckup-dispatcher</string>
	<key>STORAGE_BUCKET</key>
	<string>whatchagotpckup-dispatcher.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:425059068365:ios:6a476bddfcaee0ab6ffc84</string>
</dict>
</plist>