#include "Pods/Target Support Files/Pods-available_pods-WhatchaGotPckUp/Pods-available_pods-WhatchaGotPckUp.debug.xcconfig"


PROJECT_BUNDLE_ID = com.whatchaGotPckUp.royodispatcher
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =WhatchaGotPckUp Dispatcher
PROJECT_PLIST =WhatchaGotPckUpInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
