#include "Pods/Target Support Files/Pods-available_pods-Superpana/Pods-available_pods-Superpana.release.xcconfig"

PROJECT_BUNDLE_ID = com.superpana.royodispatcher
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME = Superpana Driver
PROJECT_PLIST = SuperpanaInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease

