#include "Pods/Target Support Files/Pods-available_pods-ShipSmart/Pods-available_pods-ShipSmart.release.xcconfig"

PROJECT_BUNDLE_ID = com.shipsmart.royodispatcher
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME = ShipSmart Driver
PROJECT_PLIST = ShipSmartInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
