#include "Pods/Target Support Files/Pods-available_pods-CitySuds/Pods-available_pods-CitySuds.debug.xcconfig"


PROJECT_BUNDLE_ID = com.CitySuds.Dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =CitySuds Dispatch
PROJECT_PLIST =CitySudsInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease


