
#include "Pods/Target Support Files/Pods-available_pods-Wizsonic/Pods-available_pods-Wizsonic.debug.xcconfig"

PROJECT_BUNDLE_ID = com.wizsonic.royodispatcher
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME = Wizsonic Driver
PROJECT_PLIST = WizsonicInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease

