<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>897711705883-e27b1sa4krvdouhimq3snjehoeftu0ug.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.897711705883-e27b1sa4krvdouhimq3snjehoeftu0ug</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>897711705883-5dh8qgssc8mr2ij8l10qus6adigatv53.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCOgHziIZaD-d-XcqAx1zyP30SjBGHp72Y</string>
	<key>GCM_SENDER_ID</key>
	<string>897711705883</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MandaExpress.Dispatcher</string>
	<key>PROJECT_ID</key>
	<string>mandaexpress-3cb13</string>
	<key>STORAGE_BUCKET</key>
	<string>mandaexpress-3cb13.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:897711705883:ios:aba48b76a9cf14e5740dbe</string>
</dict>
</plist>