#include "Pods/Target Support Files/Pods-available_pods-ClickNDrop/Pods-available_pods-ClickNDrop.release.xcconfig"


PROJECT_BUNDLE_ID = com.clickNDrop.royodispatcher
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =Click N Drop Driver
PROJECT_PLIST =ClickNDropInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
