#include "Pods/Target Support Files/Pods-available_pods-CaronaTaxi/Pods-available_pods-CaronaTaxi.debug.xcconfig"

PROJECT_BUNDLE_ID = com.CaronaTaxi.Dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 2
PROJECT_APP_NAME =CaronaTaxi Dispatch
PROJECT_PLIST =CaronaTaxiInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
