#include "Pods/Target Support Files/Pods-YourLaundryApp/Pods-YourLaundryApp.debug.xcconfig"


PROJECT_BUNDLE_ID = com.YourLaundryApp.Dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 2
PROJECT_APP_NAME =YourLaundryApp Dispatch
PROJECT_PLIST = YourLaundryAppInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
