<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBYe5NJJkvoZyDAG9VO3_E9Yv8nAFrngew</string>
	<key>GCM_SENDER_ID</key>
	<string>550809766148</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vamanoz.royodriver</string>
	<key>PROJECT_ID</key>
	<string>vamanoz-driver</string>
	<key>STORAGE_BUCKET</key>
	<string>vamanoz-driver.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:550809766148:ios:0a287d57150b90299be851</string>
</dict>
</plist>