#include "Pods/Target Support Files/Pods-available_pods-Vamanoz/Pods-available_pods-Vamanoz.release.xcconfig"

PROJECT_BUNDLE_ID = com.vamanoz.royodriver
PROJECT_APP_VERSION = 1.1
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME = vamanoz Driver
PROJECT_PLIST = PayanamInfo
PROJECT_ENTITLEMENT= Payanam.entitlement
