#include "Pods/Target Support Files/Pods-available_pods-AirlinesRecruiter/Pods-available_pods-AirlinesRecruiter.release.xcconfig"

PROJECT_BUNDLE_ID = com.AirlinesRecruiter.Dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =AirlinesRecruiter Dispatch
PROJECT_PLIST =AirlinesRecruiterInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
