<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>304594407945-hkras5cecnolgd9k33j9puflvgon2rvj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.304594407945-hkras5cecnolgd9k33j9puflvgon2rvj</string>
	<key>API_KEY</key>
	<string>AIzaSyCWb_J5TJf5bnkmgnKz-TzVUl1eJcVVB5o</string>
	<key>GCM_SENDER_ID</key>
	<string>304594407945</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.idvr.royodispatcher</string>
	<key>PROJECT_ID</key>
	<string>idvr-dispatcher</string>
	<key>STORAGE_BUCKET</key>
	<string>idvr-dispatcher.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:304594407945:ios:c36368b2632a5f11685ed8</string>
</dict>
</plist>