#include "Pods/Target Support Files/Pods-available_pods-IDRV/Pods-available_pods-IDRV.release.xcconfig"


PROJECT_BUNDLE_ID = com.idvr.royodispatcher
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =IDRV Dispatcher
PROJECT_PLIST =IDRVInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
