
#include "Pods/Target Support Files/Pods-available_pods-Tajammul/Pods-available_pods-Tajammul.release.xcconfig"

PROJECT_BUNDLE_ID = com.Tajammul.Dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =Tajammul Dispatch
PROJECT_PLIST =TajammulInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
