<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1066426890658-t5ofbn2echfpl8puhad3kpbhmv2pfvmg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1066426890658-t5ofbn2echfpl8puhad3kpbhmv2pfvmg</string>
	<key>API_KEY</key>
	<string>AIzaSyAa7RbN7DPEHWYF3B4Q7975mQC9xQZmVOg</string>
	<key>GCM_SENDER_ID</key>
	<string>1066426890658</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.theGenie.dispatcher</string>
	<key>PROJECT_ID</key>
	<string>thegenie-driver-c78c8</string>
	<key>STORAGE_BUCKET</key>
	<string>thegenie-driver-c78c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1066426890658:ios:55cdbfdd70507026185afb</string>
</dict>
</plist>