<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>10862980701-cija287i440maav3lvrsgrum39ee2gff.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.10862980701-cija287i440maav3lvrsgrum39ee2gff</string>
	<key>API_KEY</key>
	<string>AIzaSyAis7Kq8Ij7hR9pCeub3DiUCXfF-rp__O4</string>
	<key>GCM_SENDER_ID</key>
	<string>10862980701</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hqi.royodispatcher</string>
	<key>PROJECT_ID</key>
	<string>hqi-driver</string>
	<key>STORAGE_BUCKET</key>
	<string>hqi-driver.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:10862980701:ios:955e355d4857e690a027b4</string>
</dict>
</plist>