#include "Pods/Target Support Files/Pods-available_pods-Rxnow/Pods-available_pods-Rxnow.debug.xcconfig"


PROJECT_BUNDLE_ID = com.rxnow.royodispatcher
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 3
PROJECT_APP_NAME =RXNOW Dispatch
PROJECT_PLIST = RxnowInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
