<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>47861485941-7011htfhejbefc5lcjd52k54boon0n8h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.47861485941-7011htfhejbefc5lcjd52k54boon0n8h</string>
	<key>API_KEY</key>
	<string>AIzaSyABXBtQVdiyieym0flBm4MsI6FMljFFCSE</string>
	<key>GCM_SENDER_ID</key>
	<string>47861485941</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mammysKitchen.driver</string>
	<key>PROJECT_ID</key>
	<string>mammyskitchen-driver</string>
	<key>STORAGE_BUCKET</key>
	<string>mammyskitchen-driver.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:47861485941:ios:454117ea34f51b2907433c</string>
</dict>
</plist>