#include "Pods/Target Support Files/Pods-available_pods-MammysKitchen/Pods-available_pods-MammysKitchen.release.xcconfig"

PROJECT_BUNDLE_ID = com.mammysKitchen.driver
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =  Mammys Kitchen Dispatcher
PROJECT_PLIST = MammysKitchenInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
