#include "Pods/Target Support Files/Pods-available_pods-TruckTireNow/Pods-available_pods-TruckTireNow.release.xcconfig"

PROJECT_BUNDLE_ID = com.TruckTireNow.Dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 6
PROJECT_APP_NAME = TruckTireNow
PROJECT_PLIST = TruckTireNowInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
