#include "Pods/Target Support Files/Pods-available_pods-Virgingate/Pods-available_pods-Virgingate.release.xcconfig"

PROJECT_BUNDLE_ID = com.virgingate.driver
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =  Virgingate Dispatcher
PROJECT_PLIST = VirgingateInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
