#include "Pods/Target Support Files/Pods-available_pods-StichesonSite/Pods-available_pods-StichesonSite.debug.xcconfig"


PROJECT_BUNDLE_ID = com.StichesonSite.Dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =Stiches on Site Dispatch
PROJECT_PLIST =StichesonSiteInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
