#include "Pods/Target Support Files/Pods-available_pods-ViralClean/Pods-available_pods-ViralClean.debug.xcconfig"

PROJECT_BUNDLE_ID = com.viralclean.royodriver
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME = ViralClean Driver
PROJECT_PLIST = ViralCleanInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease

