#include "Pods/Target Support Files/Pods-available_pods-EquMD/Pods-available_pods-EquMD.release.xcconfig"


PROJECT_BUNDLE_ID = com.EquaMD.Dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 4
PROJECT_APP_NAME =EquaMD Dispatch
PROJECT_PLIST =EquaMDInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
