<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>697680972680-oko9i31vus7lr2tjjl8pj6l57shh6879.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.697680972680-oko9i31vus7lr2tjjl8pj6l57shh6879</string>
	<key>API_KEY</key>
	<string>AIzaSyDtvefuY-8cdAP9ixyzW7aUy-FD2pYa18Y</string>
	<key>GCM_SENDER_ID</key>
	<string>697680972680</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.uberweeds.driver</string>
	<key>PROJECT_ID</key>
	<string>uberweeds-driver-9801b</string>
	<key>STORAGE_BUCKET</key>
	<string>uberweeds-driver-9801b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:697680972680:ios:3cfa2a835fa716b400883d</string>
</dict>
</plist>