#include "Pods/Target Support Files/Pods-available_pods-UberWeeds/Pods-available_pods-UberWeeds.release.xcconfig"


PROJECT_BUNDLE_ID = com.royodispatcher.uberWeeds
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 2
PROJECT_APP_NAME =UberWeeds Dispatcher
PROJECT_PLIST =UberWeedsInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
