<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>93944815357-7tfb57b73pfvmlituo6g96imm2n5i9q8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.93944815357-7tfb57b73pfvmlituo6g96imm2n5i9q8</string>
	<key>API_KEY</key>
	<string>AIzaSyB2yv2gr6g4IP1jpil6wJjStdnEIxlPBxw</string>
	<key>GCM_SENDER_ID</key>
	<string>93944815357</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Uven.Dispatcher</string>
	<key>PROJECT_ID</key>
	<string>uven-dispatcher</string>
	<key>STORAGE_BUCKET</key>
	<string>uven-dispatcher.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:93944815357:ios:71af62e97803d5170da894</string>
</dict>
</plist>