<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>324110675393-1jnfl8p4cdmnrbjl34m8711q0mp2hb9i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.324110675393-1jnfl8p4cdmnrbjl34m8711q0mp2hb9i</string>
	<key>API_KEY</key>
	<string>AIzaSyD85rJ3n3Irm_Dr_etypG7A-jcE2qDfpJs</string>
	<key>GCM_SENDER_ID</key>
	<string>324110675393</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hiperAbastoDriver</string>
	<key>PROJECT_ID</key>
	<string>hiperabasto-driver</string>
	<key>STORAGE_BUCKET</key>
	<string>hiperabasto-driver.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:324110675393:ios:90e2074aaae2a9f4a3d340</string>
</dict>
</plist>