#include "Pods/Target Support Files/Pods-available_pods-HiperAbasto/Pods-available_pods-HiperAbasto.debug.xcconfig"

PROJECT_BUNDLE_ID = com.hiperAbastoDriver
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =HiperAbasto Driver
PROJECT_PLIST =HiperAbastoInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
