
#include "Pods/Target Support Files/Pods-available_pods-kurrix/Pods-available_pods-kurrix.release.xcconfig"


PROJECT_BUNDLE_ID = com.kurrix.royoDispatcher
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 2
PROJECT_APP_NAME =Goadeliv Dispatcher
PROJECT_PLIST =kurrixInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
