#include "Pods/Target Support Files/Pods-available_pods-Jiffex/Pods-available_pods-Jiffex.debug.xcconfig"


PROJECT_BUNDLE_ID = com.jiffex.Dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =Jiffex Dispatcher
PROJECT_PLIST =JiffexInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease




