<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1041284300915-2pnbem05v2hdhsck6edgbepev2kstj63.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1041284300915-2pnbem05v2hdhsck6edgbepev2kstj63</string>
	<key>API_KEY</key>
	<string>AIzaSyAkIgIxi-xkGccmgTDVOUVroS2BxEN6xtM</string>
	<key>GCM_SENDER_ID</key>
	<string>1041284300915</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.youSmokeShop.royodispatcher</string>
	<key>PROJECT_ID</key>
	<string>yousmokeshop-dispatche</string>
	<key>STORAGE_BUCKET</key>
	<string>yousmokeshop-dispatche.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1041284300915:ios:7353573b23ffb1eb0aea06</string>
</dict>
</plist>