#include "Pods/Target Support Files/Pods-available_pods-BuzyStore/Pods-available_pods-BuzyStore.debug.xcconfig"

PROJECT_BUNDLE_ID = com.buzyStores.royodispatcher
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 3
PROJECT_APP_NAME = Buzy Store Driver
PROJECT_PLIST = BuzyStoreInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease


