<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>111290412408-amg4n592b0o2esi8nki9vore6of1lgua.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.111290412408-amg4n592b0o2esi8nki9vore6of1lgua</string>
	<key>API_KEY</key>
	<string>AIzaSyDtYPH1_glvhN3uW_L4Zm988QxN-bHPLrM</string>
	<key>GCM_SENDER_ID</key>
	<string>111290412408</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pets.royodispatcher</string>
	<key>PROJECT_ID</key>
	<string>pets-dispatcher</string>
	<key>STORAGE_BUCKET</key>
	<string>pets-dispatcher.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:111290412408:ios:973c46310a82598e29ac8d</string>
</dict>
</plist>