<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>96353994558-8sgoaftu1iu9tq9ue8a0i172rq0pvonk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.96353994558-8sgoaftu1iu9tq9ue8a0i172rq0pvonk</string>
	<key>API_KEY</key>
	<string>AIzaSyD2E1bcteqgNO8VmN4QxnOL-Q_w_k7rgKw</string>
	<key>GCM_SENDER_ID</key>
	<string>96353994558</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nounou.royodispatcher</string>
	<key>PROJECT_ID</key>
	<string>nounou-driver</string>
	<key>STORAGE_BUCKET</key>
	<string>nounou-driver.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:96353994558:ios:43c994827b067121534e6f</string>
</dict>
</plist>