#include "Pods/Target Support Files/Pods-available_pods-SunShineRideShare/Pods-available_pods-SunShineRideShare.debug.xcconfig"

PROJECT_BUNDLE_ID = com.SunShineRideShare.Dispatcher
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =SunShineRideShare Dispatcher
PROJECT_PLIST =SunShineRideShareInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
