<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>864176905363-vpkhbqa7t1d7jc8p6la6nb7ukqd1pokn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.864176905363-vpkhbqa7t1d7jc8p6la6nb7ukqd1pokn</string>
	<key>API_KEY</key>
	<string>AIzaSyB8m7HcJLPFwLGLuINmkH2oxWenBweszGE</string>
	<key>GCM_SENDER_ID</key>
	<string>864176905363</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zuriRide.dispatcher</string>
	<key>PROJECT_ID</key>
	<string>zuriride-39a0d</string>
	<key>STORAGE_BUCKET</key>
	<string>zuriride-39a0d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:864176905363:ios:e1bebe6488985a0f754166</string>
</dict>
</plist>