<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>197460322830-691g54q3cjd6onskhvv7lvrkvfc5n12v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.197460322830-691g54q3cjd6onskhvv7lvrkvfc5n12v</string>
	<key>API_KEY</key>
	<string>AIzaSyC7ZO33veDKNQZiMThjIOi7ovyRBauGkOM</string>
	<key>GCM_SENDER_ID</key>
	<string>197460322830</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nGoal.driver</string>
	<key>PROJECT_ID</key>
	<string>ngoal-driver</string>
	<key>STORAGE_BUCKET</key>
	<string>ngoal-driver.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:197460322830:ios:82c43751667d9b4c44aa5f</string>
</dict>
</plist>