#include "Pods/Target Support Files/Pods-available_pods-NGoal/Pods-available_pods-NGoal.debug.xcconfig"

PROJECT_BUNDLE_ID = com.ngoal.royodispatcher
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME = NGoal Driver
PROJECT_PLIST = NGoalInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
