#include "Pods/Target Support Files/Pods-available_pods-SorDelivery/Pods-available_pods-SorDelivery.release.xcconfig"

PROJECT_BUNDLE_ID = com.sorDelivery.Dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 7
PROJECT_APP_NAME =Sor Delivery Dispatch
PROJECT_PLIST =SorDeliveryInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease

