#include "Pods/Target Support Files/Pods-available_pods-JapaConnect/Pods-available_pods-JapaConnect.release.xcconfig"

PROJECT_BUNDLE_ID = com.japaConnect.driver
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 2
PROJECT_APP_NAME =  Japa Connect Dispatcher
PROJECT_PLIST = JapaConnectInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
