
#include "Pods/Target Support Files/Pods-available_pods-HattaFoodHub/Pods-available_pods-HattaFoodHub.release.xcconfig"

PROJECT_BUNDLE_ID = com.hattaFoodHub.royodispatcher
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 2
PROJECT_APP_NAME = HattaFoodHub Driver
PROJECT_PLIST = HattaFoodHubInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease

