<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1010951562466-71c9kjb1m41nkkcvf7mklvfdnlru0ikh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1010951562466-71c9kjb1m41nkkcvf7mklvfdnlru0ikh</string>
	<key>API_KEY</key>
	<string>AIzaSyDA5BdXmYrNb0s02q8y8jMo3-ypPbEI2D8</string>
	<key>GCM_SENDER_ID</key>
	<string>1010951562466</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.servern.driverapp</string>
	<key>PROJECT_ID</key>
	<string>serverndriver</string>
	<key>STORAGE_BUCKET</key>
	<string>serverndriver.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1010951562466:ios:18accc75778841c2742abb</string>
</dict>
</plist>