<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>718706384262-d77cpuhrp88bmp6o9kur7brhhcd5a5i9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.718706384262-d77cpuhrp88bmp6o9kur7brhhcd5a5i9</string>
	<key>API_KEY</key>
	<string>AIzaSyB8J6xOyDgDF9XeOMp2eIAl8c-TgFOMJyE</string>
	<key>GCM_SENDER_ID</key>
	<string>718706384262</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.servern.dispatcher</string>
	<key>PROJECT_ID</key>
	<string>severn-bfba0</string>
	<key>STORAGE_BUCKET</key>
	<string>severn-bfba0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:718706384262:ios:f5be3f71757516f37fe007</string>
</dict>
</plist>