#include "Pods/Target Support Files/Pods-available_pods-Servern/Pods-available_pods-Servern.release.xcconfig"


PROJECT_BUNDLE_ID = com.servern.driverapp
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =Servern Driver
PROJECT_PLIST =ServernInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease

