<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>994659376387-d9s87colrglbg1anmj7k7smn5fuocush.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.994659376387-d9s87colrglbg1anmj7k7smn5fuocush</string>
	<key>API_KEY</key>
	<string>AIzaSyDWdj6YzszKscpp1l6Qs2jqd2Q4LcPXUws</string>
	<key>GCM_SENDER_ID</key>
	<string>994659376387</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.foodSpot.dispatcher</string>
	<key>PROJECT_ID</key>
	<string>foodspot-bfc47</string>
	<key>STORAGE_BUCKET</key>
	<string>foodspot-bfc47.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:994659376387:ios:06610b90e5956bdcbfdd36</string>
</dict>
</plist>