#include "Pods/Target Support Files/Pods-available_pods-Getfix/Pods-available_pods-Getfix.release.xcconfig"


PROJECT_BUNDLE_ID = com.Getfix.Dispatcher
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =Get Fix Dispatcher
PROJECT_PLIST =GetfixInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
