<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1076647425721-qjb98hh1lq3o1th7t3airbhc4htgk74f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1076647425721-qjb98hh1lq3o1th7t3airbhc4htgk74f</string>
	<key>API_KEY</key>
	<string>AIzaSyAxzEvEwYH8ku8U4AzR4TSaVJjR-YzOsPU</string>
	<key>GCM_SENDER_ID</key>
	<string>1076647425721</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Getfix.Dispatcher</string>
	<key>PROJECT_ID</key>
	<string>getfixdispatcher</string>
	<key>STORAGE_BUCKET</key>
	<string>getfixdispatcher.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1076647425721:ios:3b462a6906630483210d68</string>
</dict>
</plist>