<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>598221017310-ic2k5dcra487ufq7233vk36qvd7fqqie.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.598221017310-ic2k5dcra487ufq7233vk36qvd7fqqie</string>
	<key>API_KEY</key>
	<string>AIzaSyAur763o0JvKWwKw0PZUfeMUkk8jV9aYi0</string>
	<key>GCM_SENDER_ID</key>
	<string>598221017310</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mealtime.dispatcher</string>
	<key>PROJECT_ID</key>
	<string>meattime-driver</string>
	<key>STORAGE_BUCKET</key>
	<string>meattime-driver.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:598221017310:ios:45fb1edb155bf782f4b24f</string>
</dict>
</plist>