#include "Pods/Target Support Files/Pods-available_pods-Weedlomo/Pods-available_pods-Weedlomo.debug.xcconfig"

PROJECT_BUNDLE_ID = com.weedlomo.royodispatcher
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME = Weedlomo Driver
PROJECT_PLIST = WeedlomoInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
