<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>383444108888-rf40sjhd2d310skf8f1h6eu1oi4v78et.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.383444108888-rf40sjhd2d310skf8f1h6eu1oi4v78et</string>
	<key>API_KEY</key>
	<string>AIzaSyDcCKUaghRgAs7n37somwbrrKXyKZ-ntB0</string>
	<key>GCM_SENDER_ID</key>
	<string>383444108888</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.qdelo.dispatcher</string>
	<key>PROJECT_ID</key>
	<string>qdelo-e95c5</string>
	<key>STORAGE_BUCKET</key>
	<string>qdelo-e95c5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:383444108888:ios:2f073d362d7afb3affac2d</string>
</dict>
</plist>