#include "Pods/Target Support Files/Pods-available_pods-Kartandkarry/Pods-available_pods-Kartandkarry.debug.xcconfig"


PROJECT_BUNDLE_ID = com.kartandkarry.Dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =Kartandkarry Dispatcher
PROJECT_PLIST =KartandkarryInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
