#include "Pods/Target Support Files/Pods-available_pods-Palmettoplus/Pods-available_pods-Palmettoplus.release.xcconfig"


PROJECT_BUNDLE_ID = com.Palmettoplus.Dispatcher
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =Palmetto Plus Dispatcher
PROJECT_PLIST =PalmettoplusInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
