<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>409668218732-g6qs17mfum4ocklspe52nhsir9ol8svn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.409668218732-g6qs17mfum4ocklspe52nhsir9ol8svn</string>
	<key>API_KEY</key>
	<string>AIzaSyCHaauWIGRmvB3v-EEKCGJ8ZC3QtYEKtD0</string>
	<key>GCM_SENDER_ID</key>
	<string>409668218732</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.HandyPickup.driverapp</string>
	<key>PROJECT_ID</key>
	<string>handypickup-driver</string>
	<key>STORAGE_BUCKET</key>
	<string>handypickup-driver.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:409668218732:ios:e3f47a65276f58551c0d49</string>
</dict>
</plist>