#include "Pods/Target Support Files/Pods-available_pods-Melak/Pods-available_pods-Melak.release.xcconfig"

PROJECT_BUNDLE_ID = com.melak.royodispatcher
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME = Melak Driver
PROJECT_PLIST = MelakInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease


