<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>353448010372-llt7i7n5sffjkghpigjkcebnvfi7p040.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.353448010372-llt7i7n5sffjkghpigjkcebnvfi7p040</string>
	<key>API_KEY</key>
	<string>AIzaSyD_aE6ggWwc1jVxX_cdAbFLkKwg1TntjiI</string>
	<key>GCM_SENDER_ID</key>
	<string>353448010372</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shipmoe.royodispatcher</string>
	<key>PROJECT_ID</key>
	<string>shipmoe-driver</string>
	<key>STORAGE_BUCKET</key>
	<string>shipmoe-driver.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:353448010372:ios:8a7ba2ee6b390a63f498d1</string>
</dict>
</plist>