#include "Pods/Target Support Files/Pods-available_pods-Shipmoe/Pods-available_pods-Shipmoe.release.xcconfig"

PROJECT_BUNDLE_ID =  com.shipmoe.royodispatcher
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME = Shipmoe Driver
PROJECT_PLIST = ShipmoeInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease

