<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>392277438485-9ujjgn4g8m4l68ppltvivkf55vuiqabd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.392277438485-9ujjgn4g8m4l68ppltvivkf55vuiqabd</string>
	<key>API_KEY</key>
	<string>AIzaSyDwhAzoyU2ovFHFJdQF5bBa68Uh7CthSUk</string>
	<key>GCM_SENDER_ID</key>
	<string>392277438485</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hectoHomes.royodispatcher</string>
	<key>PROJECT_ID</key>
	<string>hecto-homes-driver</string>
	<key>STORAGE_BUCKET</key>
	<string>hecto-homes-driver.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:392277438485:ios:dd741d44dda43089999e1c</string>
</dict>
</plist>