#include "Pods/Target Support Files/Pods-available_pods-HectoHomes/Pods-available_pods-HectoHomes.release.xcconfig"

PROJECT_BUNDLE_ID = com.hectoHomes.royodispatcher
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME = HectoHomes Driver
PROJECT_PLIST = HectoHomesInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease

