#include "Pods/Target Support Files/Pods-available_pods-CabWay/Pods-available_pods-CabWay.release.xcconfig"

PROJECT_BUNDLE_ID = com.CabWay.Dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 4
PROJECT_APP_NAME =CabWay Dispatch
PROJECT_PLIST =CabWayInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
