
#include "Pods/Target Support Files/Pods-available_pods-Mersi/Pods-available_pods-Mersi.debug.xcconfig"


PROJECT_BUNDLE_ID = com.mersi.dispatcher
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =Mersi Dispatcher
PROJECT_PLIST =MersiInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
