#include "Pods/Target Support Files/Pods-available_pods-VamVam/Pods-available_pods-VamVam.debug.xcconfig"

PROJECT_BUNDLE_ID = com.VamVam.driver
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =  Vam Vam Dispatcher
PROJECT_PLIST = VamVamInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
