<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>473199769176-sns30cv6rqd0r7i0c40prfeer24e7530.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.473199769176-sns30cv6rqd0r7i0c40prfeer24e7530</string>
	<key>API_KEY</key>
	<string>AIzaSyCCeftWnOMu84B8ZxGoMzAh3UR0-LdGb0U</string>
	<key>GCM_SENDER_ID</key>
	<string>473199769176</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bumprkar.driver</string>
	<key>PROJECT_ID</key>
	<string>bumprkar-driver</string>
	<key>STORAGE_BUCKET</key>
	<string>bumprkar-driver.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:473199769176:ios:057b16e991e4dd84603c2d</string>
</dict>
</plist>