#include "Pods/Target Support Files/Pods-available_pods-Ekobridge/Pods-available_pods-Ekobridge.debug.xcconfig"

PROJECT_BUNDLE_ID = com.ekobridge.dispatcher
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =  Ekobridge Dispatcher
PROJECT_PLIST = EkobridgeInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease


