#include "Pods/Target Support Files/Pods-available_pods-MokabFix/Pods-available_pods-MokabFix.release.xcconfig"


PROJECT_BUNDLE_ID = com.MokabFix.Dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 4
PROJECT_APP_NAME =MokabFix
PROJECT_PLIST =MokabFixInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease


