<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>550270547176-8475l9e11uj3nh313rap1b58jk02m330.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.550270547176-8475l9e11uj3nh313rap1b58jk02m330</string>
	<key>API_KEY</key>
	<string>AIzaSyAof_wmKJSW08dPzkfbwEsLtYA7XH25S-g</string>
	<key>GCM_SENDER_ID</key>
	<string>550270547176</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dot.driver</string>
	<key>PROJECT_ID</key>
	<string>donetwork-driver</string>
	<key>STORAGE_BUCKET</key>
	<string>donetwork-driver.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:550270547176:ios:d84b3a160192a71966455d</string>
</dict>
</plist>