<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>867948471437-bk4gngps6al8m5k7iqgmk17gjnk84m9h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.867948471437-bk4gngps6al8m5k7iqgmk17gjnk84m9h</string>
	<key>API_KEY</key>
	<string>AIzaSyDTTb-nXZ_SU4p8Sa2V4yP9mAVMFDifUBQ</string>
	<key>GCM_SENDER_ID</key>
	<string>867948471437</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.TmgShops.Driver</string>
	<key>PROJECT_ID</key>
	<string>tmg-driver</string>
	<key>STORAGE_BUCKET</key>
	<string>tmg-driver.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:867948471437:ios:515e7b7d76bd7b2daeaec4</string>
</dict>
</plist>