#include "Pods/Target Support Files/Pods-available_pods-TmgShops/Pods-available_pods-TmgShops.debug.xcconfig"


PROJECT_BUNDLE_ID = com.TmgShops.Driver
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =TmgShops Driver
PROJECT_PLIST =TmgShopsInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
