#include "Pods/Target Support Files/Pods-available_pods-360Kel/Pods-available_pods-360Kel.release.xcconfig"

PROJECT_BUNDLE_ID = com.LastMinuteDress.Driver
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =LastMinuteDress Driver
PROJECT_PLIST =LastMinuteDressInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
