#include "Pods/Target Support Files/Pods-LastMinuteDress/Pods-LastMinuteDress.debug.xcconfig"


PROJECT_BUNDLE_ID = com.LastMinuteDress.Dispatch
PROJECT_APP_VERSION = 1.1
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =LastMinuteDress Dispatch
PROJECT_PLIST =LastMinuteDressInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease



