<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>861467245673-q5hdmhujg2q69j9rgr5aim2bmjb3hlst.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.861467245673-q5hdmhujg2q69j9rgr5aim2bmjb3hlst</string>
	<key>API_KEY</key>
	<string>AIzaSyDYvLYzdONNToX4bRf-U3ncYag8ZqiTqyM</string>
	<key>GCM_SENDER_ID</key>
	<string>861467245673</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Gumastas.Dispatch</string>
	<key>PROJECT_ID</key>
	<string>royo-dispatcher-1</string>
	<key>STORAGE_BUCKET</key>
	<string>royo-dispatcher-1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:861467245673:ios:078ca9f0ce3b60e52876f8</string>
</dict>
</plist>