#include "Pods/Target Support Files/Pods-available_pods-Gumastas/Pods-available_pods-Gumastas.release.xcconfig"


PROJECT_BUNDLE_ID = com.Gumastas.Dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =Gumastas
PROJECT_PLIST =GumastasInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
