#include "Pods/Target Support Files/Pods-available_pods-Cla/Pods-available_pods-Cla.debug.xcconfig"


PROJECT_BUNDLE_ID = com.royodispatcher.cla
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 21
PROJECT_APP_NAME =Cla Dispatch
PROJECT_PLIST =ClaInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
CODE_PUSH_KEY = 9In50ac7d39jIdCIrBe7gig345pUiuGdwzUHC

