<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>413593709538-130l4bj6b7om18kpaai0g8hbooc63fil.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.413593709538-130l4bj6b7om18kpaai0g8hbooc63fil</string>
	<key>API_KEY</key>
	<string>AIzaSyALYybYJxJGJ9ViehfFIKvTKT9XtZ3OCYU</string>
	<key>GCM_SENDER_ID</key>
	<string>413593709538</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hitaxi.royodispatcherapp</string>
	<key>PROJECT_ID</key>
	<string>hitaxi-dispatcher</string>
	<key>STORAGE_BUCKET</key>
	<string>hitaxi-dispatcher.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:413593709538:ios:aa599a1b73cab2c75967bb</string>
</dict>
</plist>