#include "Pods/Target Support Files/Pods-available_pods-Hitaxi/Pods-available_pods-Hitaxi.debug.xcconfig"


PROJECT_BUNDLE_ID = com.hitaxi.royodispatcherapp
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =Hitaxi Dispatcher
PROJECT_PLIST =HitaxiInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
