
#include "Pods/Target Support Files/Pods-available_pods-FarmMeat/Pods-available_pods-FarmMeat.debug.xcconfig"


PROJECT_BUNDLE_ID = com.farmMeat.dispatcher
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =Farm Meat Dispatcher
PROJECT_PLIST =FarmMeatInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
