<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1096978725477-jquqbcdakp0enseic074pmjgsg97jqlb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1096978725477-jquqbcdakp0enseic074pmjgsg97jqlb</string>
	<key>API_KEY</key>
	<string>AIzaSyBaYyZ1D6OnT8bZwfQNsa0zgytQfw9-59c</string>
	<key>GCM_SENDER_ID</key>
	<string>1096978725477</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chutneyeah.driver</string>
	<key>PROJECT_ID</key>
	<string>chutneyeah-driver</string>
	<key>STORAGE_BUCKET</key>
	<string>chutneyeah-driver.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1096978725477:ios:6b6fa5a5ec6633ef03a48c</string>
</dict>
</plist>