<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>594685045173-aub8oup9oe75nd3al47oerv973hrcnck.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.594685045173-aub8oup9oe75nd3al47oerv973hrcnck</string>
	<key>API_KEY</key>
	<string>AIzaSyAAb9cVqNczi5qCBkucx4HDT_0SFwpC15M</string>
	<key>GCM_SENDER_ID</key>
	<string>594685045173</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Sabroson.Driver</string>
	<key>PROJECT_ID</key>
	<string>sabroson-repartidor</string>
	<key>STORAGE_BUCKET</key>
	<string>sabroson-repartidor.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:594685045173:ios:ddeb88a6ddab29d1a551fc</string>
</dict>
</plist>