#include "Pods/Target Support Files/Pods-available_pods-Sabroson/Pods-available_pods-Sabroson.debug.xcconfig"


PROJECT_BUNDLE_ID = com.Sabroson.Driver
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =Sabroson Repartidor
PROJECT_PLIST =SabrosonInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
