#include "Pods/Target Support Files/Pods-available_pods-Sabroson/Pods-available_pods-Sabroson.release.xcconfig"


PROJECT_BUNDLE_ID = com.Sabroson.Dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 5
PROJECT_APP_NAME =Sabroson Dispatcher
PROJECT_PLIST =SabrosonInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
