#include "Pods/Target Support Files/Pods-available_pods-Drivva/Pods-available_pods-Drivva.release.xcconfig"


PROJECT_BUNDLE_ID = com.Drivva.Dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 2
PROJECT_APP_NAME =Drivva Dispatch
PROJECT_PLIST =DrivvaInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease


