#include "Pods/Target Support Files/Pods-available_pods-PetsChoice/Pods-available_pods-PetsChoice.debug.xcconfig"


PROJECT_BUNDLE_ID = com.PetsChoice.Dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =PetsChoice Dispatcher
PROJECT_PLIST =PetsChoiceInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease

