#include "Pods/Target Support Files/Pods-available_pods-Qwiker/Pods-available_pods-Qwiker.debug.xcconfig"


PROJECT_BUNDLE_ID = com.qwiker.royodispatcher
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =Qwiker Dispatcher
PROJECT_PLIST =Qwikernfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
