#include "Pods/Target Support Files/Pods-available_pods-Laith/Pods-available_pods-Laith.debug.xcconfig"

PROJECT_BUNDLE_ID = com.laith.royodispatcher
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME = Laith Driver
PROJECT_PLIST = LaithInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease


