#include "Pods/Target Support Files/Pods-MaxisDelivery/Pods-MaxisDelivery.release.xcconfig"


PROJECT_BUNDLE_ID = com.Maxisdelivery.Dispatch
PROJECT_APP_VERSION = 1.1
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =Maxis Delivery
PROJECT_PLIST =MaxisDeliveryInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease


