<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>59045941360-i123qj4snb9dmdm4nv1klglb4rdhv4jc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.59045941360-i123qj4snb9dmdm4nv1klglb4rdhv4jc</string>
	<key>API_KEY</key>
	<string>AIzaSyD-wDoIdb0K9jGtezpLQGc4sdcqJObOdUo</string>
	<key>GCM_SENDER_ID</key>
	<string>59045941360</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sadia.royodispatcher</string>
	<key>PROJECT_ID</key>
	<string>sadia-dispatcher</string>
	<key>STORAGE_BUCKET</key>
	<string>sadia-dispatcher.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:59045941360:ios:169aa0740d39038a3ea4b5</string>
</dict>
</plist>