#include "Pods/Target Support Files/Pods-available_pods-Sadia/Pods-available_pods-Sadia.release.xcconfig"


PROJECT_BUNDLE_ID = com.sadia.royodispatcher
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =Sadia Dispatcher
PROJECT_PLIST =SadiaInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
