#include "Pods/Target Support Files/Pods-available_pods-FlyingHorse/Pods-available_pods-FlyingHorse.release.xcconfig"


PROJECT_BUNDLE_ID = com.FlyingHorse.Dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 2
PROJECT_APP_NAME =FlyingHorse Dispatch
PROJECT_PLIST =FlyingHorseInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
