<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>617306074035-a3jv12g0s6rupc919tntvkej2n81pef4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.617306074035-a3jv12g0s6rupc919tntvkej2n81pef4</string>
	<key>API_KEY</key>
	<string>AIzaSyAtr6oGSRvfOAa20lHSwvkjaDfH37I9JD0</string>
	<key>GCM_SENDER_ID</key>
	<string>617306074035</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zulbrand.dispatcher</string>
	<key>PROJECT_ID</key>
	<string>zulbrand-driver</string>
	<key>STORAGE_BUCKET</key>
	<string>zulbrand-driver.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:617306074035:ios:3ba05b83f97aa625d2b9c6</string>
</dict>
</plist>