#include "Pods/Target Support Files/Pods-available_pods-Zulbrand/Pods-available_pods-Zulbrand.release.xcconfig"

PROJECT_BUNDLE_ID = com.zulbrand.dispatcher
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =  Zulbrand Dispatcher
PROJECT_PLIST = ZulbrandInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease


