
#include "Pods/Target Support Files/Pods-available_pods-SmartMur/Pods-available_pods-SmartMur.debug.xcconfig"


PROJECT_BUNDLE_ID = com.smartMur.dispatcher
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =Smart Mur Dispatcher
PROJECT_PLIST =SmartMurInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
