#include "Pods/Target Support Files/Pods-available_pods-Vendoor/Pods-available_pods-Vendoor.release.xcconfig"


PROJECT_BUNDLE_ID = com.Vendoor.Dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 3
PROJECT_APP_NAME =Vendoor Dispatch
PROJECT_PLIST =VendoorInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
