<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1050746388605-gdpodu5ou33g0reuh1c50dajoj7mcj9l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1050746388605-gdpodu5ou33g0reuh1c50dajoj7mcj9l</string>
	<key>API_KEY</key>
	<string>AIzaSyCkrSQDDeqzizf9S81b9RQMmdS8yq-Voo0</string>
	<key>GCM_SENDER_ID</key>
	<string>1050746388605</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.blueBundle.dispatcher</string>
	<key>PROJECT_ID</key>
	<string>bluebundles-dispatcher</string>
	<key>STORAGE_BUCKET</key>
	<string>bluebundles-dispatcher.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1050746388605:ios:0e0cd5d71d4238fe3d7114</string>
</dict>
</plist>