#include "Pods/Target Support Files/Pods-available_pods-Dropitoffusa/Pods-available_pods-Dropitoffusa.release.xcconfig"

PROJECT_BUNDLE_ID = com.Dropitoffusa.Dispatch
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 3
PROJECT_APP_NAME =Dropitoffusa Dispatch
PROJECT_PLIST =DropitoffusaInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
