<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>416429856568-glqmn14h9dlg2tcu6k3ejb1npsoeu0ss.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.416429856568-glqmn14h9dlg2tcu6k3ejb1npsoeu0ss</string>
	<key>API_KEY</key>
	<string>AIzaSyD9mGjR1au_iF82sdMenR7cv6RtAoOOpSk</string>
	<key>GCM_SENDER_ID</key>
	<string>416429856568</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Dropitoffusa.Dispatch</string>
	<key>PROJECT_ID</key>
	<string>dropitoffusa--driver</string>
	<key>STORAGE_BUCKET</key>
	<string>dropitoffusa--driver.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:416429856568:ios:3a43ec24493983e0cf13cd</string>
</dict>
</plist>