<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>64532463555-5q26j295pv8t9hacjvbaiuijsi82t8ks.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.64532463555-5q26j295pv8t9hacjvbaiuijsi82t8ks</string>
	<key>API_KEY</key>
	<string>AIzaSyDhmqz_re4--RNpybnFkY7r-rBiw4Vc6c0</string>
	<key>GCM_SENDER_ID</key>
	<string>64532463555</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.PAS41.Dispatch</string>
	<key>PROJECT_ID</key>
	<string>pas41-4c972</string>
	<key>STORAGE_BUCKET</key>
	<string>pas41-4c972.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:64532463555:ios:50c27bdb344707840b4776</string>
</dict>
</plist>