#include "Pods/Target Support Files/Pods-HairstonExpress/Pods-HairstonExpress.release.xcconfig"


PROJECT_BUNDLE_ID = com.HairstonExpress.Dispatch
PROJECT_APP_VERSION = 2.0
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =Hairston Express Driver
PROJECT_PLIST =HairstonExpressInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
