<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>852407997849-tj4ddn4v41tbpgdc2js8usau012d06t8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.852407997849-tj4ddn4v41tbpgdc2js8usau012d06t8</string>
	<key>API_KEY</key>
	<string>AIzaSyDSndHjPxlX0hW49vHAtoUx_3_aToAU2z8</string>
	<key>GCM_SENDER_ID</key>
	<string>852407997849</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nannyAfrica.royodispatcher</string>
	<key>PROJECT_ID</key>
	<string>nannyafrica-dispatcher</string>
	<key>STORAGE_BUCKET</key>
	<string>nannyafrica-dispatcher.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:852407997849:ios:aeb7c8486b27d770cfaf08</string>
</dict>
</plist>