#include "Pods/Target Support Files/Pods-available_pods-NannyAfrica/Pods-available_pods-NannyAfrica.release.xcconfig"

PROJECT_BUNDLE_ID = com.nannyAfrica.royodispatcher
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER =4
PROJECT_APP_NAME = NannyAfrica Driver
PROJECT_PLIST = NannyAfericaInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease



