<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>571639329553-jceigdt9r4eo8gpdqc51897kg4pcribm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.571639329553-jceigdt9r4eo8gpdqc51897kg4pcribm</string>
	<key>API_KEY</key>
	<string>AIzaSyBFAKQ49rJH-PHrBhvNYQ_zYW1v1Z_FQYo</string>
	<key>GCM_SENDER_ID</key>
	<string>571639329553</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Arwin.Dispatch</string>
	<key>PROJECT_ID</key>
	<string>arwin-dispatch</string>
	<key>STORAGE_BUCKET</key>
	<string>arwin-dispatch.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:571639329553:ios:8087f6b44e22a8df0212b0</string>
</dict>
</plist>