#include "Pods/Target Support Files/Pods-available_pods-PinkJet/Pods-available_pods-PinkJet.release.xcconfig"

PROJECT_BUNDLE_ID = com.PinkJet.Dispatch
PROJECT_APP_VERSION = 1.2
PROJECT_BUILD_NUMBER = 1
PROJECT_APP_NAME =PinkJet Driver
PROJECT_PLIST =PinkJetInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease


