<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1071145096640-1nnsvgvl7a5985ajhmvvli4qv36ouc41.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1071145096640-1nnsvgvl7a5985ajhmvvli4qv36ouc41</string>
	<key>API_KEY</key>
	<string>AIzaSyBJIbVIiCic6X3_qqGgby3eKG5FxLA-CpE</string>
	<key>GCM_SENDER_ID</key>
	<string>1071145096640</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jimsAutoRescue.royodispatcher</string>
	<key>PROJECT_ID</key>
	<string>jim-s-auto-rescue-1617e</string>
	<key>STORAGE_BUCKET</key>
	<string>jim-s-auto-rescue-1617e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1071145096640:ios:6051af00a60fa6d7d8e425</string>
</dict>
</plist>