#include "Pods/Target Support Files/Pods-available_pods-JimsAutoRescue/Pods-available_pods-JimsAutoRescue.release.xcconfig"


PROJECT_BUNDLE_ID = com.jimsAutoRescue.royodispatcher
PROJECT_APP_VERSION = 1.0
PROJECT_BUILD_NUMBER = 2
PROJECT_APP_NAME =Jims Auto Rescue Driver
PROJECT_PLIST =JimsAutoRescueInfo
PROJECT_ENTITLEMENT=RoyoDriverAppRelease
